/*交易完成*/
.no-border-bottom {
    border: 0 !important;
}
.btn-wrap {
    height: 1.2rem !important;
    text-align: center !important;
}
.btn-wrap .go-evaluate {
    display: inline-block;
    padding: .06rem .14rem;
    line-height: .36rem;
    border: 1px solid #db2e2e;
    border-radius: 3px;
    color: #db2e2e;
    font-size: .26rem;
    text-align: center;
}
.text-box .price {
    display: block;
    float: right;
    color: #333;
    font-size: .28rem;
    line-height: .36rem;
    height: .76rem;
    overflow: hidden;
}


.wrap{
    width: 100%;
    height: 100%;
    padding-top: 2.4rem;
    position: fixed;
    z-index: 9999;
    background-color: rgba(0,0,0,0.8);
}
.wrap_title{
    width: 100%;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    font-size: .3rem;
    color: #333;
}
.wrap_tip_box{
    width: 6.06rem;
    height: .6rem;
    margin: auto;
    line-height: .6rem;
    font-size: .2rem;
    color: #808080;
}
.inputBoxContainer{
    width: 6.06rem;
    height: 1rem;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    background: #fff;
}
.inputBoxContainer .bogusInput{
    width: 100%;
    height: 100%;
    border: #0e75dc 1px solid;
    overflow: hidden;
    position: absolute;
    z-index: 0;
}
.inputBoxContainer .realInput{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    opacity:0;
}
.inputBoxContainer .bogusInput input{
    padding: 0;
    width: 1rem;
    height: 100%;
    float:left;
    background: #ffffff;
    text-align: center;
    font-size: .2rem;
    border: none;
    border-right: #e6e6e6 1px solid;
    box-sizing: border-box;
}
.inputBoxContainer .bogusInput input:last-child{
    border: none;
}
.wrap_btn_box{
    width: 100%;
    margin-top: .2rem;
    padding: 0 .2rem;
}
.confirmButton{
    width: 70%;
    margin-left: 15%;
    height: .8rem;
    text-align: center;
    line-height: .8rem;
    background: #da3836;
    color: #fff;
    border: #da3836 1px solid;
    border-radius: 4px;
    display: block;
    font-size: .3rem;
    margin-bottom: .2rem;
}
.showValue{
    width: 2.4rem;
    height: .22rem;
    line-height: .22rem;
    font-size: .16rem;
    text-align: center;
    margin: 0 auto;
}



.couponUnused{
    color: #fff;
    position: relative;
    border-radius: 0.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.couponInfo{

    padding-top: 0.6rem;
    background-color: #fe863d;
    padding-left: 0.3rem;
    position: relative;
    padding-bottom: 0.6rem;
}

.couponInfo div{
    display: inline-block;
}

.couponInfo .price{
    font-size: 1rem;
    padding-right: 0.4rem;
    width: 2.1rem;
}

.flag{
    font-size: 0.5rem;
}

.date{
    font-size: 0.25rem;
}

.test{
    margin-bottom: 0.3rem;
}

.useCoupon{
    position: absolute;
    right: 0.3rem;
    top: 0.7rem;
}

.useCoupon span{
    font-size: 0.3rem;
    text-align: right;
    display: block;
    width: 1.9rem;
    border-radius: 0.1rem;
    height: 0.6rem;
    line-height: 0.6rem;
    background-color: #fced6d;
    color: #000;
    text-align: center;
}

.couponType{
    background-color: #e0553e;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    position: relative;
}

.couponType p{
    padding-top: 0.25rem;
    padding-bottom: 0.2rem;
    font-size: 0.25rem;
    width: 5.5rem;
    display: inline-block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    word-break:break-all;
    letter-spacing: 2px;
}

.care_button{
    display: inline-block;
    width: 0.3rem;
    height: 0.2rem;
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    text-align: right;
    background: url("/img/care-bottom.png") no-repeat;
}