
html, body {
    width: 100%;
    height: 100%;
}
body {
    position: relative;
}
.main-bd {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.guide-share {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333333 url("../img/guide-user.png") no-repeat right top;
    background-size: 4.37rem 2.17rem;
    opacity: .8;
    filter: Alpha(opacity=80);
    z-index: 1000;
}
.guide-share .i-know {
    display: block;
    width: 2rem;
    height: .8rem;
    background: url("../img/i-know.png") no-repeat;
    background-size: 100%;
    border: none;
    outline: none;
    position: absolute;
    top: 4.83rem;
    left: 50%;
    margin-left: -1rem;
}




/*购物车失效商品*/
.invalid-goods {
    margin-top: .8rem;
}
.invalid-goods .invalid-tittle-box {
    height: 1rem;
    line-height: 1rem;
    padding: 0 .3rem;
    background-color: #c9c8c5;
}
.invalid-goods .invalid-tittle {
    display: inline-block;
    width: 2rem;
    height: .32rem;
    color: #e43f46;
    float: left;
    font-size: 0.32rem;
    font-weight: bold;
}
.invalid-goods .clear-all-invalid {
    display: inline-block;
    padding: .12rem .18rem;
    font-size: .26rem;
    /*height: .32rem;*/
    line-height: .4rem;
    background-color: #e43f46;
    color: #fff;
    float: right;
    border: none;
    outline: none;
    border-radius: .06rem;
    margin-top: .18rem;
}
.invalid-goods .clear-disable {
    display: inline-block;
    padding: .12rem .18rem;
    font-size: .26rem;
    /*height: .32rem;*/
    line-height: .4rem;
    background-color: #a09f9c;
    color: #000000;
    float: right;
    border: none;
    outline: none;
    border-radius: .06rem;
    margin-top: .18rem;
}
.invalid-goods .img-box {
    position: relative;
}
.invalid-goods .img-box .invalid-bg {
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    color: #fff;
    background-color: #7c766a;
    border-radius: 50%;
    position: absolute;
    top: .15rem;
    left: .15rem;
    text-align: center;
    opacity: .8;
    filter: Alpha(opacity=50)
}
.invalid-goods .no-invalid-tip {
    line-height: 1.4rem;
    background-color: #e6e6e6;
    font-size: .32rem;
    text-align: center;
    color: #525151;
}
/*砍价商品*/
.current-price {
    background-color: #fff;
    height: .7rem;
    line-height: .7rem;
    padding-left: .2rem;
}
.current-price > .title-now {
    font-size: .26rem;
    color: #ed5547;
    letter-spacing: 1px;
}
.current-price > .title-now > span {
    font-size: .38rem;
    color: #ed5547;
    font-weight: bold;
}
.current-price > .bargain-more {
    font-size: .24rem;
    color: #fbf9fc;
    background-color: #e64966;
    padding: .04rem .08rem;
    letter-spacing: 1px;
}
.current-price > .bargain-more > span {
    font-size: .12rem;
    margin: 0 -.06rem;
}

/*确认订单*/
.coupon-wrap {
    height: auto !important;
}
.coupon-list {
    display: block;
    width: calc(100% - .1rem);
    height: auto;
    margin-top: .2rem;
    margin-left: .1rem;
}
.coupon-list > li {
    display: block;
    width: 100%;
    margin-bottom: .08rem;
}
.coupon-item-tittle {
    height: .4rem;
}
.coupon-item-tittle > label {
    float: left;
    height: .4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 1rem);
    font-size: .24rem;
}
.coupon-list > li input {
    float: left;
    height: .3rem;
    width: .3rem;
    margin-right: .1rem;
}
.coupon-arrows {
    position: absolute;
    top: .42rem;
}
.coupon-detail {
    display: inline-block;
    float: right;
    width: .4rem;
    height: .4rem;
    background: url("../img/coupon_down_arrows.png") no-repeat;
    background-size: 100% 100%;
}
.show-status {
    background: url("../img/coupon_up_arrows.png") no-repeat;
    background-size: 100% 100%;
}
.coupon-item-detail {
    height: 2rem;
    width: 90%;
    /*padding: .2rem;*/
    /*background: url("../img/coupon_item_bg.png") no-repeat;*/
    /*background-size: 100%;*/
    background-color: #fe863d;
    border-radius: .08rem;
    margin: .2rem auto;
    position: relative;
}
.coupon-item-detail .get-img {
    display: inline-block;
    width: 70%;
    height: 100%;
    float: left;
}
.coupon-item-detail .coupon-data {
    display: inline-block;
    width: 30%;
    height: 100%;
    float: right;
    /*border-left: 1px dotted #fff;*/
    color: #fff;
    font-size: .28rem;
}
.coupon-data .coupon-price small {
    font-size: .12rem;
}
.coupon-data .coupon-price {
    margin: .2rem 0 .2rem .1rem;
}
.coupon-data .coupon-price strong {
    font-weight: bold;
}
.coupon-data .coupon-condition {
    font-size: .3rem;
    margin: .2rem 0 .2rem .1rem;
}
.coupon-data .coupon-date {
    font-size: .12rem;
    margin: .2rem 0 .2rem .1rem;
}

.coupon-list li input[disabled='disabled'] {
    opacity: 0;
}
.coupon-list .no-selected{
    background: url("../img/no_selected.png") no-repeat left top;
    background-size: .3rem .3rem;
}

.order-product .text-box .price-box .number-box {
    background: none !important;
}
.buy-num {
    font-size: .24rem;
    color: #1a1a1a;
}


.order-product {
    height: auto;
    font-size: .24rem;
    color: #1a1a1a;
    background-color: #FFFFFF;
}
.coupon-info-box .coupon-btn {
    display: block;
    text-align: right;
    padding-right: .48rem;
    background: url("../img/coupon_down_arrows.png") no-repeat right center;
    background-size: .28rem .28rem;
}
.coupon-info-box .active {
    background: url("../img/coupon_up_arrows.png") no-repeat right center;
    background-size: .28rem .28rem;
}
.order-product .text-box {
    height: auto;
}
.coupon-info-wrap {
    padding-top: .2rem;
    display: none;
}
.coupon-info-wrap li {
    height: .46rem;
    line-height: .46rem;
    border-bottom: 1px solid #e5e5e5;
}
.coupon-info-wrap span:first-child {
    float: left;
}
.coupon-info-wrap span:last-child {
    float: right;
}

.clear-fix::after {
    content: " ";
    display: block;
    clear: both;
}