
html, body {
    width: 100%;
    height: 100%;
}
body {
    position: relative;
}
.main-bd {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.guide-share {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333333 url("../img/guide-user.png") no-repeat right top;
    background-size: 4.37rem 2.17rem;
    opacity: .8;
    filter: Alpha(opacity=80);
    z-index: 1000;
}
.guide-share .i-know {
    display: block;
    width: 2rem;
    height: .8rem;
    background: url("../img/i-know.png") no-repeat;
    background-size: 100%;
    border: none;
    outline: none;
    position: absolute;
    top: 4.83rem;
    left: 50%;
    margin-left: -1rem;
}




/*购物车失效商品*/
.invalid-goods {
    margin-top: .8rem;
}
.invalid-goods .invalid-tittle-box {
    height: 1rem;
    line-height: 1rem;
    padding: 0 .3rem;
    background-color: #c9c8c5;
}
.invalid-goods .invalid-tittle {
    display: inline-block;
    width: 2rem;
    height: .32rem;
    color: #e43f46;
    float: left;
    font-size: 0.32rem;
    font-weight: bold;
}
.invalid-goods .clear-all-invalid {
    display: inline-block;
    padding: .12rem .18rem;
    font-size: .26rem;
    /*height: .32rem;*/
    line-height: .4rem;
    background-color: #e43f46;
    color: #fff;
    float: right;
    border: none;
    outline: none;
    border-radius: .06rem;
    margin-top: .18rem;
}
.invalid-goods .clear-disable {
    display: inline-block;
    padding: .12rem .18rem;
    font-size: .26rem;
    /*height: .32rem;*/
    line-height: .4rem;
    background-color: #a09f9c;
    color: #000000;
    float: right;
    border: none;
    outline: none;
    border-radius: .06rem;
    margin-top: .18rem;
}
.invalid-goods .img-box {
    position: relative;
}
.invalid-goods .img-box .invalid-bg {
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    color: #fff;
    background-color: #7c766a;
    border-radius: 50%;
    position: absolute;
    top: .15rem;
    left: .15rem;
    text-align: center;
    opacity: .8;
    filter: Alpha(opacity=50)
}
.invalid-goods .no-invalid-tip {
    line-height: 1.4rem;
    background-color: #e6e6e6;
    font-size: .32rem;
    text-align: center;
    color: #525151;
}