<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailers.dht.common.dao.AccumulativeAmountMapper">

	<resultMap id="rm_accumulativeAmount" type="com.retailers.dht.common.entity.AccumulativeAmount">
			<result property="aaId" column="aa_id"/>
			<result property="aaType" column="aa_type"/>
			<result property="aaGoodsParentType" column="aa_goods_parent_type"/>
			<result property="aaGoodsType" column="aa_goods_type"/>
			<result property="aaOrderId" column="aa_order_id"/>
			<result property="aaGoodsId" column="aa_goods_id"/>
			<result property="aaConsumePrice" column="aa_consume_price"/>
			<result property="aaTotalConsumePrice" column="aa_total_consume_price"/>
			<result property="aaCreateTime" column="aa_create_time"/>
			<result property="aaRemark" column="aa_remark"/>
			<result property="version" column="version"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="accumulativeAmount_columns">
		aa_id,aa_type,aa_goods_parent_type,aa_goods_type,aa_order_id,aa_goods_id,aa_consume_price,aa_total_consume_price,aa_create_time,aa_remark,version
	</sql>
	<!-- 根据平台累计金额(按商品类型分配）主键取得数据 -->
	<select id="queryAccumulativeAmountByAaId" resultMap="rm_accumulativeAmount" parameterType="java.lang.Long">
		SELECT <include refid="accumulativeAmount_columns" />
		FROM t_accumulative_amount WHERE aa_id = #{aaId}
	</select>
	<!-- 平台累计金额(按商品类型分配）查询条件组合 -->
	<sql id="accumulativeAmount_where">
		<where>
			<if test="null != params.aaId">
				AND aa_id = #{params.aaId}
			</if>
			<if test="null != params.aaType">
				AND aa_type = #{params.aaType}
			</if>
			<if test="null != params.aaGoodsParentType">
				AND aa_goods_parent_type = #{params.aaGoodsParentType}
			</if>
			<if test="null != params.aaGoodsType">
				AND aa_goods_type = #{params.aaGoodsType}
			</if>
			<if test="null != params.aaOrderId">
				AND aa_order_id = #{params.aaOrderId}
			</if>
			<if test="null != params.aaGoodsId">
				AND aa_goods_id = #{params.aaGoodsId}
			</if>
			<if test="null != params.aaConsumePrice">
				AND aa_consume_price = #{params.aaConsumePrice}
			</if>
			<if test="null != params.aaTotalConsumePrice">
				AND aa_total_consume_price = #{params.aaTotalConsumePrice}
			</if>
			<if test="null != params.aaCreateTimeBegin">
				AND aa_create_time &gt;= TO_DATE('${params.aaCreateTimeBegin}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.aaCreateTimeEnd">
				AND aa_create_time &lt;= TO_DATE('${params.aaCreateTimeEnd}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.aaRemark and '' != params.aaRemark">
				AND aa_remark = #{params.aaRemark}
			</if>
			<if test="null != params.version">
				AND version = #{params.version}
			</if>
		</where>
	</sql>
	<!--分页查询 -->
	<select id="queryAccumulativeAmountList" resultMap="rm_accumulativeAmount" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT <include refid="accumulativeAmount_columns" />
		FROM t_accumulative_amount
		<include refid="accumulativeAmount_where"/>
	</select>
	<!--添加平台累计金额(按商品类型分配） -->
	<insert id="saveAccumulativeAmount" parameterType="com.retailers.dht.common.entity.AccumulativeAmount" useGeneratedKeys="true" keyProperty="aaId">
		INSERT INTO t_accumulative_amount (
			aa_type,aa_goods_parent_type,aa_goods_type,aa_order_id,aa_goods_id,aa_consume_price,aa_total_consume_price,aa_create_time,aa_remark,version
		) VALUES
		(
			#{aaType,jdbcType=INTEGER},#{aaGoodsParentType,jdbcType=BIGINT},#{aaGoodsType,jdbcType=BIGINT},#{aaOrderId,jdbcType=BIGINT},#{aaGoodsId,jdbcType=BIGINT},#{aaConsumePrice,jdbcType=BIGINT},#{aaTotalConsumePrice,jdbcType=BIGINT},#{aaCreateTime,jdbcType=TIMESTAMP},#{aaRemark,jdbcType=VARCHAR},0
		)
	</insert>
	<!--修改平台累计金额(按商品类型分配） -->
	<update id="updateAccumulativeAmount" parameterType="com.retailers.dht.common.entity.AccumulativeAmount">
		UPDATE t_accumulative_amount
		<set>
            <if test="null != aaType">
                aa_type = #{aaType},
            </if>
            <if test="null != aaGoodsParentType">
                aa_goods_parent_type = #{aaGoodsParentType},
            </if>
            <if test="null != aaGoodsType">
                aa_goods_type = #{aaGoodsType},
            </if>
            <if test="null != aaOrderId">
                aa_order_id = #{aaOrderId},
            </if>
            <if test="null != aaGoodsId">
                aa_goods_id = #{aaGoodsId},
            </if>
            <if test="null != aaConsumePrice">
                aa_consume_price = #{aaConsumePrice},
            </if>
            <if test="null != aaTotalConsumePrice">
                aa_total_consume_price = #{aaTotalConsumePrice},
            </if>
            <if test="null != aaCreateTime">
                aa_create_time = #{aaCreateTime},
            </if>
            <if test="null != aaRemark and '' != aaRemark">
                aa_remark = #{aaRemark},
            </if>
            <if test="null != version">
                version = version+1,
            </if>
		</set>
		WHERE aa_id = #{aaId} and version = #{version}
	</update>
	<!--删除平台累计金额(按商品类型分配） -->
	<delete id="deleteAccumulativeAmountByAaId" parameterType="java.lang.Long">
		DELETE FROM t_accumulative_amount WHERE aa_id = #{aaId}
	</delete>
</mapper>
