<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailers.dht.common.dao.BuyCarMapper">

	<resultMap id="rm_buyCar" type="com.retailers.dht.common.entity.BuyCar">
			<result property="bcId" column="bc_id"/>
			<result property="uid" column="u_id"/>
			<result property="gid" column="g_id"/>
			<result property="gcount" column="g_count"/>
			<result property="bcGsvalids" column="bc_gsvalids"/>
			<result property="bcGsval" column="bc_gsval"/>
			<result property="bcTimmer" column="bc_timmer"/>
			<result property="bcPrice" column="bc_price"/>
			<result property="bcUrl" column="bc_url"/>
			<result property="bcInviterid" column="bc_inviterid"/>
			<result property="bcDescription" column="bc_description"/>
			<result property="isDelete" column="is_delete"/>
			<result property="version" column="version"/>
	</resultMap>

	<resultMap id="rm_goods_vo" type="com.retailers.dht.common.vo.GoodsVo">
		<result property="gid" column="g_id"/>
		<result property="gname" column="g_name"/>
		<result property="gvender" column="g_vender"/>
		<result property="gshop" column="g_shop"/>
		<result property="gclassification" column="g_classification"/>
		<result property="gbrand" column="g_brand"/>
		<result property="garea" column="g_area"/>
		<result property="gsalescope" column="g_salescope"/>
		<result property="gmaindirection" column="g_maindirection"/>
		<result property="gdescription" column="g_description"/>
		<result property="gproductioninperson" column="g_productioninperson"/>
		<result property="gproductioninaddress" column="g_productioninaddress"/>
		<result property="gpickperson" column="g_pickperson"/>
		<result property="gpickaddress" column="g_pickaddress"/>
		<result property="gcopyid" column="g_copyid"/>
		<result property="gprice" column="g_price"/>
		<result property="gcheckperson" column="g_checkperson"/>
		<result property="gcheckmessage" column="g_checkmessage"/>
		<result property="gunitname" column="g_unitname"/>
		<result property="isChecked" column="is_checked"/>
		<result property="isDelete" column="is_delete"/>
		<result property="version" column="version"/>
		<result property="gclassificationName" column="gg_name"/>
		<result property="gareaName" column="a_name"/>
		<result property="minprice" column="minprice"/>
		<result property="maxprice" column="maxprice"/>
		<result property="imgUrl" column="imgurl"/>
		<result property="inventory" column="inventory"/>
		<result property="gendbuy" column="gendbuy"/>
		<result property="gstartbuy" column="gstartbuy"/>
		<result property="gdimgurl" column="gdimgurl"/>
		<result property="bcId" column="bc_id"/>
		<result property="bcGsval" column="bc_gsval"/>
		<result property="gdPrice" column="gd_price"/>
		<result property="gcount" column="g_count"/>
		<result property="isMultiplebuy" column="is_multiplebuy"/>
		<result property="bcGsvalids" column="bc_gsvalids"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="buyCar_columns">
		bc_id,u_id,g_id,g_count,bc_gsvalids,bc_gsval,bc_timmer,bc_price,bc_url,bc_inviterid,bc_description,is_delete,version
	</sql>
	<!-- 根据购物车表主键取得数据 -->
	<select id="queryBuyCarByBcId" resultMap="rm_buyCar" parameterType="java.lang.Long">
		SELECT <include refid="buyCar_columns" />
		FROM t_buy_car WHERE bc_id = #{bcId}
	</select>
	<!-- 购物车表查询条件组合 -->
	<sql id="buyCar_where">
		<where>
			<if test="null != params.bcId">
				AND bc_id = #{params.bcId}
			</if>
			<if test="null != params.uid">
				AND u_id = #{params.uid}
			</if>
			<if test="null != params.gid">
				AND g_id = #{params.gid}
			</if>
			<if test="null != params.gcount">
				AND g_count = #{params.gcount}
			</if>
			<if test="null != params.bcGsvalids and '' != params.bcGsvalids">
				AND bc_gsvalids = #{params.bcGsvalids}
			</if>
			<if test="null != params.bcGsval and '' != params.bcGsval">
				AND bc_gsval = #{params.bcGsval}
			</if>
			<if test="null != params.bcTimmerBegin">
				AND bc_timmer &gt;= #{params.bcTimmer}
			</if>
			<if test="null != params.bcTimmerEnd">
				AND bc_timmer &lt;= #{params.bcTimmer}
			</if>
			<if test="null != params.bcPrice">
				AND bc_price = #{params.bcPrice}
			</if>
			<if test="null != params.bcUrl and '' != params.bcUrl">
				AND bc_url = #{params.bcUrl}
			</if>
			<if test="null != params.bcInviterid">
				AND bc_inviterid = #{params.bcInviterid}
			</if>
			<if test="null != params.bcDescription and '' != params.bcDescription">
				AND bc_description = #{params.bcDescription}
			</if>
			<if test="null != params.isDelete">
				AND is_delete = #{params.isDelete}
			</if>
			<if test="null != params.version">
				AND version = #{params.version}
			</if>

		</where>
	</sql>
	<!--分页查询 -->
	<select id="queryBuyCarList" resultMap="rm_buyCar" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT <include refid="buyCar_columns" />
		FROM t_buy_car
		<include refid="buyCar_where"/>
	</select>
	<select id="queryGoodsVoList" resultMap="rm_goods_vo"  parameterType="com.retailers.mybatis.pagination.Pagination">
		select t1.*,t3.id,t3.show_url imgurl from
		(select t1.bc_id,t1.g_count,t1.u_id,t1.bc_gsvalids,t1.bc_gsval,t1.bc_timmer,COUNT(*) sumcount ,
		t2.gd_id,
		t3.gd_price,t3.gd_residueinventory inventory,t4.g_startbuy gstartbuy,
		t4.g_endbuy gendbuy,t4.is_multiplebuy ,
		t7.show_url gdimgurl,
		t8.*
		from
		t_goods_ggsval_detail t2,t_buy_car t1,
		t_goods_detail t3
		LEFT JOIN t_attachment t7 ON t3.gd_imgid=t7.id,
		t_goods_config t4,
		t_goods t8
		<where>
		<if test="null != params.uid">
			and t1.u_id=#{params.uid}
		</if>
		<if test="null != params.isPutway">
			and t4.is_putway=#{params.isPutway}
		</if>
		and t1.g_id=t2.g_id
		and find_in_set(t2.gsv_id,replace(t1.bc_gsvalids,' ',','))>0
		and t3.gd_id=t2.gd_id
		and t4.g_id=t2.g_id
		and t8.g_id=t1.g_id

		and t1.is_delete=0
		and t2.is_delete=0
		and t3.is_delete=0
		and t8.is_delete=0
		</where>
		GROUP BY t1.bc_id,t2.gd_id HAVING sumcount=LENGTH(t1.bc_gsvalids) - LENGTH( REPLACE(t1.bc_gsvalids,' ',''))+1) t1
		LEFT JOIN t_goods_image t2 ON t2.g_id=t1.g_id and t2.is_delete=0
		LEFT JOIN t_attachment t3 ON t2.gi_id=t3.id
		GROUP BY t1.bc_id
		ORDER BY bc_id DESC
	</select>
	<!--添加购物车表 -->
	<insert id="saveBuyCar" parameterType="com.retailers.dht.common.entity.BuyCar" useGeneratedKeys="true" keyProperty="bcId">
		INSERT INTO t_buy_car (
			u_id,g_id,g_count,bc_gsvalids,bc_gsval,bc_timmer,bc_price,bc_url,bc_inviterid,bc_description,is_delete,version
		) VALUES
		(
			#{uid,jdbcType=BIGINT},#{gid,jdbcType=BIGINT},#{gcount,jdbcType=BIGINT},#{bcGsvalids,jdbcType=VARCHAR},#{bcGsval,jdbcType=VARCHAR},#{bcTimmer,jdbcType=TIMESTAMP},#{bcPrice,jdbcType=REAL},#{bcUrl,jdbcType=VARCHAR},#{bcInviterid,jdbcType=BIGINT},#{bcDescription,jdbcType=VARCHAR},#{isDelete,jdbcType=BIGINT},0
		)
	</insert>
	<!--修改购物车表 -->
	<update id="updateBuyCar" parameterType="com.retailers.dht.common.entity.BuyCar">
		UPDATE t_buy_car
		<set>
            <if test="null != uid">
                u_id = #{uid},
            </if>
            <if test="null != gid">
                g_id = #{gid},
            </if>
            <if test="null != gcount">
                g_count = #{gcount},
            </if>
            <if test="null != bcGsvalids and '' != bcGsvalids">
                bc_gsvalids = #{bcGsvalids},
            </if>
            <if test="null != bcGsval and '' != bcGsval">
                bc_gsval = #{bcGsval},
            </if>
            <if test="null != bcTimmer">
                bc_timmer = #{bcTimmer},
            </if>
            <if test="null != bcPrice">
                bc_price = #{bcPrice},
            </if>
            <if test="null != bcUrl and '' != bcUrl">
                bc_url = #{bcUrl},
            </if>
            <if test="null != bcInviterid">
                bc_inviterid = #{bcInviterid},
            </if>
            <if test="null != bcDescription and '' != bcDescription">
                bc_description = #{bcDescription},
            </if>
            <if test="null != isDelete">
                is_delete = #{isDelete},
            </if>
            <if test="null != version">
                version = version+1,
            </if>
		</set>
		WHERE bc_id = #{bcId} and version = #{version}
	</update>
	<!--删除购物车表 -->
	<delete id="deleteBuyCarByBcId" parameterType="java.lang.Long">
		DELETE FROM t_buy_car WHERE bc_id = #{bcId}
	</delete>
</mapper>
