<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailers.dht.common.dao.CouponMapper">

	<resultMap id="rm_coupon" type="com.retailers.dht.common.entity.Coupon">
			<result property="cpId" column="cp_id"/>
			<result property="cpName" column="cp_name"/>
			<result property="cpCoinType" column="cp_coin_type"/>
			<result property="cpType" column="cp_type"/>
			<result property="cpLogo" column="cp_logo"/>
			<result property="cpIsRestricted" column="cp_is_restricted"/>
			<result property="cpReceiveCondition" column="cp_receive_condition"/>
			<result property="cpUseCondition" column="cp_use_condition"/>
			<result property="cpStartDate" column="cp_start_date"/>
			<result property="cpEndDate" column="cp_end_date"/>
			<result property="cpIsOverlapUse" column="cp_is_overlap_use"/>
			<result property="cpIsFirst" column="cp_is_first"/>
			<result property="cpSendWay" column="cp_send_way"/>
			<result property="cpSendStartDate" column="cp_send_start_date"/>
			<result property="cpSendEndDate" column="cp_send_end_date"/>
			<result property="cpCycleSendType" column="cp_cycle_send_type"/>
			<result property="cpSendNum" column="cp_send_num"/>
			<result property="cpNum" column="cp_num"/>
			<result property="cpSurplusNum" column="cp_surplus_num"/>
			<result property="cpMoney" column="cp_money"/>
			<result property="cpDiscount" column="cp_discount"/>
			<result property="cpTotalMoney" column="cp_total_money"/>
			<result property="cpMinDiscount" column="cp_min_discount"/>
			<result property="cpMaxDiscount" column="cp_max_discount"/>
			<result property="cpContext" column="cp_context"/>
			<result property="cpCreateSid" column="cp_create_s_id"/>
			<result property="cpCreate" column="cp_create"/>
			<result property="isDelete" column="is_delete"/>
			<result property="isValid" column="is_valid"/>
			<result property="version" column="version"/>
	</resultMap>
	<resultMap id="rm_coupon_showVo" type="com.retailers.dht.common.vo.CouponShowVo">
		<result property="cpId" column="cp_id"/>
		<result property="cpName" column="cp_name"/>
		<result property="cpCoinType" column="cp_coin_type"/>
		<result property="cpType" column="cp_type"/>
		<result property="cpLogo" column="cp_logo"/>
		<result property="cpLogoUrl" column="show_url"/>
		<result property="cpIsRestricted" column="cp_is_restricted"/>
		<result property="cpReceiveCondition" column="cp_receive_condition"/>
		<result property="cpUseCondition" column="cp_use_condition"/>
		<result property="cpStartDate" column="cp_start_date"/>
		<result property="cpEndDate" column="cp_end_date"/>
		<result property="cpIsOverlapUse" column="cp_is_overlap_use"/>
		<result property="cpIsFirst" column="cp_is_first"/>
		<result property="cpSendWay" column="cp_send_way"/>
		<result property="cpSendStartDate" column="cp_send_start_date"/>
		<result property="cpSendEndDate" column="cp_send_end_date"/>
		<result property="cpCycleSendType" column="cp_cycle_send_type"/>
		<result property="cpSendNum" column="cp_send_num"/>
		<result property="cpNum" column="cp_num"/>
		<result property="cpSurplusNum" column="cp_surplus_num"/>
		<result property="cpMoney" column="cp_money"/>
		<result property="cpDiscount" column="cp_discount"/>
		<result property="cpTotalMoney" column="cp_total_money"/>
		<result property="cpMinDiscount" column="cp_min_discount"/>
		<result property="cpMaxDiscount" column="cp_max_discount"/>
		<result property="cpContext" column="cp_context"/>
		<result property="cpCreateSid" column="cp_create_s_id"/>
		<result property="cpCreate" column="cp_create"/>
		<result property="isDelete" column="is_delete"/>
		<result property="isValid" column="is_valid"/>
		<result property="version" column="version"/>
		<result property="spzlIds" column="spzlIds"/>
		<result property="spzlNms" column="spzlNms"/>
		<result property="spIds" column="spIds"/>
		<result property="spNms" column="spNms"/>
	</resultMap>

	<resultMap id="rm_coupon_web_vo" type="com.retailers.dht.common.vo.CouponWebVo">
		<result property="cpId" column="cp_id"/>
		<result property="cpName" column="cp_name"/>
		<result property="cpCoinType" column="cp_coin_type"/>
		<result property="cpType" column="cp_type"/>
		<result property="cpLogoUrl" column="show_url"/>
		<result property="cpIsRestricted" column="cp_is_restricted"/>
		<result property="cpReceiveCondition" column="cp_receive_condition"/>
		<result property="cpUseCondition" column="cp_use_condition"/>
		<result property="cpStartDate" column="cp_start_date"/>
		<result property="cpEndDate" column="cp_end_date"/>
		<result property="cpIsOverlapUse" column="cp_is_overlap_use"/>
		<result property="cpIsFirst" column="cp_is_first"/>
		<result property="cpSendStartDate" column="cp_send_start_date"/>
		<result property="cpSendEndDate" column="cp_send_end_date"/>
		<result property="cpNum" column="cp_num"/>
		<result property="cpSurplusNum" column="cp_surplus_num"/>
		<result property="cpMinDiscount" column="cp_min_discount"/>
		<result property="cpMaxDiscount" column="cp_max_discount"/>
		<result property="couponVal" column="couponVal"/>
		<result property="useCondition" column="useCondition"/>
		<result property="useRange" column="useRange"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="coupon_columns">
		cp_id,cp_name,cp_coin_type,cp_type,cp_logo,cp_is_restricted,cp_receive_condition,cp_use_condition,cp_start_date,cp_end_date,cp_is_overlap_use,cp_is_first,cp_send_way,cp_send_start_date,
		cp_send_end_date,cp_cycle_send_type,cp_send_num,cp_num,cp_surplus_num,cp_money,cp_discount,cp_total_money,cp_min_discount,cp_max_discount,cp_context,cp_create_s_id,cp_create,
		is_delete,is_valid,version
	</sql>
	<!-- 根据优惠卷主键取得数据 -->
	<select id="queryCouponByCpId" resultMap="rm_coupon" parameterType="java.lang.Long">
		SELECT <include refid="coupon_columns" />
		FROM t_coupon WHERE cp_id = #{cpId}
	</select>
	<!-- 优惠卷查询条件组合 -->
	<sql id="coupon_where">
		<where>
			<if test="null != params.cpId">
				AND cp_id = #{params.cpId}
			</if>
			<if test="null != params.cpName and '' != params.cpName">
				AND cp_name = #{params.cpName}
			</if>
			<if test="null != params.cpCoinType">
				AND cp_coin_type = #{params.cpCoinType}
			</if>
			<if test="null != params.cpType">
				AND cp_type = #{params.cpType}
			</if>
			<if test="null != params.cpLogo">
				AND cp_logo = #{params.cpLogo}
			</if>
			<if test="null != params.cpIsRestricted">
				AND cp_is_restricted = #{params.cpIsRestricted}
			</if>
			<if test="null != params.cpReceiveCondition and '' != params.cpReceiveCondition">
				AND cp_receive_condition = #{params.cpReceiveCondition}
			</if>
			<if test="null != params.cpUseCondition">
				AND cp_use_condition = #{params.cpUseCondition}
			</if>
			<if test="null != params.cpStartDateBegin">
				AND cp_start_date &gt;= TO_DATE('${params.cpStartDateBegin}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.cpStartDateEnd">
				AND cp_start_date &lt;= TO_DATE('${params.cpStartDateEnd}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.cpEndDateBegin">
				AND cp_end_date &gt;= TO_DATE('${params.cpEndDateBegin}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.cpEndDateEnd">
				AND cp_end_date &lt;= TO_DATE('${params.cpEndDateEnd}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.cpIsOverlapUse">
				AND cp_is_overlap_use = #{params.cpIsOverlapUse}
			</if>
			<if test="null != params.cpIsFirst">
				AND cp_is_first = #{params.cpIsFirst}
			</if>
			<if test="null != params.cpSendWay">
				AND cp_send_way = #{params.cpSendWay}
			</if>
			<if test="null != params.cpSendStartDateBegin">
				AND cp_send_start_date &gt;= TO_DATE('${params.cpSendStartDateBegin}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.cpSendStartDateEnd">
				AND cp_send_start_date &lt;= TO_DATE('${params.cpSendStartDateEnd}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.cpSendEndDateBegin">
				AND cp_send_end_date &gt;= TO_DATE('${params.cpSendEndDateBegin}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.cpSendEndDateEnd">
				AND cp_send_end_date &lt;= TO_DATE('${params.cpSendEndDateEnd}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.cpCycleSendType">
				AND cp_cycle_send_type = #{params.cpCycleSendType}
			</if>
			<if test="null != params.cpSendNum">
				AND cp_send_num = #{params.cpSendNum}
			</if>
			<if test="null != params.cpNum">
				AND cp_num = #{params.cpNum}
			</if>
			<if test="null != params.cpMoney">
				AND cp_money = #{params.cpMoney}
			</if>
			<if test="null != params.cpDiscount">
				AND cp_discount = #{params.cpDiscount}
			</if>
			<if test="null != params.cpTotalMoney">
				AND cp_total_money = #{params.cpTotalMoney}
			</if>
			<if test="null != params.cpMinDiscount">
				AND cp_min_discount = #{params.cpMinDiscount}
			</if>
			<if test="null != params.cpMaxDiscount">
				AND cp_max_discount = #{params.cpMaxDiscount}
			</if>
			<if test="null != params.cpContext and '' != params.cpContext">
				AND cp_context = #{params.cpContext}
			</if>
			<if test="null != params.cpCreateSid">
				AND cp_create_s_id = #{params.cpCreateSid}
			</if>
			<if test="null != params.cpCreateBegin">
				AND cp_create &gt;= TO_DATE('${params.cpCreateBegin}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.cpCreateEnd">
				AND cp_create &lt;= TO_DATE('${params.cpCreateEnd}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.isDelete">
				AND is_delete = #{params.isDelete}
			</if>
			<if test="null != params.isValid">
				AND is_valid = #{params.isValid}
			</if>
			<if test="null != params.version">
				AND version = #{params.version}
			</if>
		</where>
	</sql>
	<!--分页查询 -->
	<select id="queryCouponList" resultMap="rm_coupon_showVo" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT
			c.*, a.show_url,fw.spzlIds,fw.spzlNms,fw.spIds,fw.spNms
		FROM
			t_coupon c
			LEFT JOIN t_attachment a ON c.cp_logo = a.id
			LEFT JOIN (
				SELECT
				cp_id,
				GROUP_CONCAT(q.gg_id) spzlIds,
				GROUP_CONCAT(q.gg_name) spzlNms,
				GROUP_CONCAT(q.g_id) spIds,
				GROUP_CONCAT(q.g_name) spNms
				FROM
				(SELECT cp_id,cpur_type,gc.gg_id,gc.gg_name,g.g_id,g.g_name
					FROM t_coupon_use_range cur
						LEFT JOIN t_goods_classification gc ON cur.cpur_relevance_id = gc.gg_id AND cpur_type = 1
						LEFT JOIN t_goods g ON cur.cpur_relevance_id = g.g_id AND cpur_type = 2
					WHERE  type=#{params.type}
				) q
				GROUP BY cp_id
			) fw ON c.cp_id = fw.cp_id
		<where>
			<if test="null != params.cpName and '' != params.cpName">
				AND c.cp_name = #{params.cpName}
			</if>
			<if test="null != params.isDelete">
				AND is_delete = #{params.isDelete}
			</if>
		</where>
	</select>
	<!--添加优惠卷 -->
	<insert id="saveCoupon" parameterType="com.retailers.dht.common.entity.Coupon" useGeneratedKeys="true" keyProperty="cpId">
		INSERT INTO t_coupon (
			cp_name,cp_coin_type,cp_type,cp_logo,cp_is_restricted,cp_receive_condition,cp_use_condition,cp_start_date,cp_end_date,cp_is_overlap_use,cp_is_first,
			cp_send_way,cp_send_start_date,cp_send_end_date,cp_cycle_send_type,cp_send_num,cp_num,cp_surplus_num,cp_money,cp_discount,cp_total_money,cp_min_discount,cp_max_discount,
			cp_context,cp_create_s_id,cp_create,is_delete,is_valid,version
		) VALUES
		(
			#{cpName,jdbcType=VARCHAR},#{cpCoinType,jdbcType=INTEGER},#{cpType,jdbcType=INTEGER},#{cpLogo,jdbcType=BIGINT},#{cpIsRestricted,jdbcType=BIGINT},#{cpReceiveCondition,jdbcType=VARCHAR},
			#{cpUseCondition,jdbcType=BIGINT},#{cpStartDate,jdbcType=TIMESTAMP},#{cpEndDate,jdbcType=TIMESTAMP},#{cpIsOverlapUse,jdbcType=INTEGER},#{cpIsFirst,jdbcType=INTEGER},
			#{cpSendWay,jdbcType=INTEGER},#{cpSendStartDate,jdbcType=TIMESTAMP},#{cpSendEndDate,jdbcType=TIMESTAMP},#{cpCycleSendType,jdbcType=INTEGER},#{cpSendNum,jdbcType=BIGINT},
			#{cpNum,jdbcType=BIGINT},#{cpSurplusNum,jdbcType=BIGINT},#{cpMoney,jdbcType=BIGINT},#{cpDiscount,jdbcType=BIGINT},#{cpTotalMoney,jdbcType=BIGINT},#{cpMinDiscount,jdbcType=BIGINT},
			#{cpMaxDiscount,jdbcType=BIGINT},#{cpContext,jdbcType=VARCHAR},#{cpCreateSid,jdbcType=BIGINT},#{cpCreate,jdbcType=TIMESTAMP},#{isDelete,jdbcType=INTEGER},#{isValid,jdbcType=INTEGER},0
		)
	</insert>
	<!--修改优惠卷 -->
	<update id="updateCoupon" parameterType="com.retailers.dht.common.entity.Coupon">
		UPDATE t_coupon
		<set>
                cp_name = #{cpName},
                cp_coin_type = #{cpCoinType},
                cp_type = #{cpType},
                cp_logo = #{cpLogo},
                cp_is_restricted = #{cpIsRestricted},
                cp_receive_condition = #{cpReceiveCondition},
                cp_use_condition = #{cpUseCondition},
                cp_start_date = #{cpStartDate},
                cp_end_date = #{cpEndDate},
                cp_is_overlap_use = #{cpIsOverlapUse},
                cp_is_first = #{cpIsFirst},
                cp_send_way = #{cpSendWay},
                cp_send_start_date = #{cpSendStartDate},
                cp_send_end_date = #{cpSendEndDate},
                cp_cycle_send_type = #{cpCycleSendType},
                cp_send_num = #{cpSendNum},
                cp_num = #{cpNum},
				cp_surplus_num = #{cpSurplusNum},
                cp_money = #{cpMoney},
                cp_discount = #{cpDiscount},
                cp_total_money = #{cpTotalMoney},
                cp_min_discount = #{cpMinDiscount},
                cp_max_discount = #{cpMaxDiscount},
                cp_context = #{cpContext},
                cp_create_s_id = #{cpCreateSid},
                cp_create = #{cpCreate},
                is_delete = #{isDelete},
                is_valid = #{isValid},
                version = version+1,
		</set>
		WHERE cp_id = #{cpId} and version = #{version}
	</update>
	<!--删除优惠卷 -->
	<delete id="deleteCouponByCpId" parameterType="java.lang.Long">
		DELETE FROM t_coupon WHERE cp_id = #{cpId}
	</delete>


	<!--取得当前有效的优惠卷列表 -->
	<select id="queryCurValidCoupon" resultMap="rm_coupon_web_vo" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT
			c.cp_id,
			c.cp_name,
			c.cp_coin_type,
			c.cp_type,
			c.cp_is_restricted,
			c.cp_receive_condition,
			c.cp_use_condition,
			c.cp_start_date,
			c.cp_end_date,
			c.cp_is_overlap_use,
			c.cp_is_first,
			c.cp_send_start_date,
			c.cp_send_end_date,
			c.cp_num,
			c.cp_surplus_num,
			c.cp_min_discount,
			c.cp_max_discount,
			CONCAT(
			'满',
			ROUND(c.cp_use_condition / 100, 2),
			'可用'
			) useCondition,
			CASE
			WHEN c.cp_end_date IS NULL THEN
			'长期有效'
			ELSE
			DATE_FORMAT(c.cp_end_date, '%Y-%m-%d')
			END useTime,
			CASE
			WHEN cp_type = 0 THEN
			ROUND(c.cp_money / 100, 2)
			WHEN cp_type = 1 THEN
			ROUND(c.cp_discount / 100, 2)
			END couponVal,
			a.show_url,
			ifnull(fw.NAME,'全场通用') useRange
		FROM
			t_coupon c
			LEFT JOIN t_attachment a ON c.cp_logo = a.id
			LEFT JOIN (
				SELECT
				cp_id,
				GROUP_CONCAT(q.cpur_relevance_id) relevanceId,
				GROUP_CONCAT(q. NAME) NAME
				FROM
				(SELECT 	cp_id,cpur_type,cpur_relevance_id,
				CASE WHEN cpur_type = 1 THEN
				gc.gg_name
				ELSE
				g.g_name
				END NAME
				FROM
				t_coupon_use_range cur
				LEFT JOIN t_goods_classification gc ON cur.cpur_relevance_id = gc.gg_id AND cpur_type = 1
				LEFT JOIN t_goods g ON cur.cpur_relevance_id = g.g_id AND cpur_type = 2
				) q
				GROUP BY cp_id
			)fw on  c.cp_id = fw.cp_id
			<if test="null != params.uid">
				LEFT JOIN t_coupon_user u ON c.cp_id = u.cp_id 	AND u.cpu_uid =#{params.uid}
			</if>
		WHERE
			(
			c.cp_send_start_date &lt; SYSDATE()
			OR c.cp_send_start_date IS NULL
			)
			AND (
			c.cp_send_end_date > SYSDATE()
			OR c.cp_send_end_date IS NULL
			)
			<if test="null != params.uid">
				AND u.cpu_id IS NULL
			</if>
			order BY cp_end_date DESC,cp_id asc
	</select>

	<!--取得当前有效的优惠卷列表 -->
	<select id="queryUserCoupon" resultMap="rm_coupon_web_vo" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT
			c.cp_id,
			c.cp_name,
			c.cp_coin_type,
			c.cp_type,
			c.cp_is_restricted,
			c.cp_receive_condition,
			c.cp_use_condition,
			c.cp_start_date,
			c.cp_end_date,
			c.cp_is_overlap_use,
			c.cp_is_first,
			c.cp_send_start_date,
			c.cp_send_end_date,
			c.cp_num,
			c.cp_surplus_num,
			c.cp_min_discount,
			c.cp_max_discount,
			CONCAT(
			'满',
			ROUND(c.cp_use_condition / 100, 2),
			'可用'
			) useCondition,
			CASE
			WHEN c.cp_end_date IS NULL THEN
			'长期有效'
			ELSE
			DATE_FORMAT(c.cp_end_date, '%Y-%m-%d')
			END useTime,
-- 			CASE
-- 			WHEN cp_type = 0 THEN
-- 			ROUND(c.cp_money / 100, 2)
-- 			WHEN cp_type = 1 THEN
-- 			ROUND(c.cp_discount / 100, 2)
-- 			END couponVal,
			ROUND(u.cpu_val / 100, 2) couponVal,
			a.show_url,
			ifnull(fw.NAME,'全场通用') useRange
		FROM
			t_coupon_user u,
			t_coupon c
			LEFT JOIN t_attachment a ON c.cp_logo = a.id
			LEFT JOIN (
				SELECT
				cp_id,
				GROUP_CONCAT(q.cpur_relevance_id) relevanceId,
				GROUP_CONCAT(q. NAME) NAME
				FROM
				(SELECT 	cp_id,cpur_type,cpur_relevance_id,
				CASE WHEN cpur_type = 1 THEN
				gc.gg_name
				ELSE
				g.g_name
				END NAME
				FROM
				t_coupon_use_range cur
				LEFT JOIN t_goods_classification gc ON cur.cpur_relevance_id = gc.gg_id AND cpur_type = 1
				LEFT JOIN t_goods g ON cur.cpur_relevance_id = g.g_id AND cpur_type = 2
				) q
				GROUP BY cp_id
			)fw on  c.cp_id = fw.cp_id
		WHERE
			u.cp_id = c.cp_id
			AND u.cpu_status=#{params.status}
			AND u.cpu_uid=#{params.uid}
		ORDER by c.cp_end_date ASC
	</select>

	<!--减小优惠卷剩余数量 -->
	<update id="reduceCouponNum">
		UPDATE t_coupon
		SET cp_surplus_num =cp_surplus_num-1
		WHERE cp_id = #{cpId} and cp_surplus_num-1>=0
	</update>

	<!-- 根据优惠卷主键取得数据 -->
	<select id="queryExpireCoupon" resultMap="rm_coupon">
		SELECT <include refid="coupon_columns" />
		FROM t_coupon WHERE cp_end_date&lt;#{curDate} and is_delete=0 and is_valid=0 and is_expire=0
	</select>

	<!--设置优惠卷过期 -->
	<update id="expireCoupn">
		UPDATE t_coupon
		set is_expire =1
		WHERE cp_id = #{cpuId}
	</update>
</mapper>
