<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailers.dht.common.dao.CouponUseRangeMapper">

	<resultMap id="rm_couponUseRange" type="com.retailers.dht.common.entity.CouponUseRange">
			<result property="cpurId" column="cpur_id"/>
			<result property="type" column="type"/>
			<result property="cpId" column="cp_id"/>
			<result property="cpurType" column="cpur_type"/>
			<result property="cpurRelevanceId" column="cpur_relevance_id"/>
			<result property="cpurIsAllow" column="cpur_is_allow"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="couponUseRange_columns">
		cpur_id,type,cp_id,cpur_type,cpur_relevance_id,cpur_is_allow
	</sql>
	<!-- 根据优惠卷使用范围主键取得数据 -->
	<select id="queryCouponUseRangeByCpurId" resultMap="rm_couponUseRange" parameterType="java.lang.Long">
		SELECT <include refid="couponUseRange_columns" />
		FROM t_coupon_use_range WHERE cpur_id = #{cpurId}
	</select>
	<!-- 优惠卷使用范围查询条件组合 -->
	<sql id="couponUseRange_where">
		<where>
			<if test="null != params.cpurId">
				AND cpur_id = #{params.cpurId}
			</if>
			<if test="null != params.cpId">
				AND cp_id = #{params.cpId}
			</if>
			<if test="null != params.cpurType">
				AND cpur_type = #{params.cpurType}
			</if>
			<if test="null != params.cpurRelevanceId">
				AND cpur_relevance_id = #{params.cpurRelevanceId}
			</if>
			<if test="null != params.cpurIsAllow">
				AND cpur_is_allow = #{params.cpurIsAllow}
			</if>
		</where>
	</sql>
	<!--分页查询 -->
	<select id="queryCouponUseRangeList" resultMap="rm_couponUseRange" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT <include refid="couponUseRange_columns" />
		FROM t_coupon_use_range
		<include refid="couponUseRange_where"/>
	</select>
	<!--添加优惠卷使用范围 -->
	<insert id="saveCouponUseRange" parameterType="com.retailers.dht.common.entity.CouponUseRange" useGeneratedKeys="true" keyProperty="cpurId">
		INSERT INTO t_coupon_use_range (
			cp_id,type,cpur_type,cpur_relevance_id,cpur_is_allow
		) VALUES
		(
			#{cpId,jdbcType=BIGINT},#{type,jdbcType=BIGINT},#{cpurType,jdbcType=BIGINT},#{cpurRelevanceId,jdbcType=BIGINT},#{cpurIsAllow,jdbcType=INTEGER}
		)
	</insert>

	<!--批量添加优惠卷使用范围 -->
	<insert id="saveCouponUseRanges" parameterType="com.retailers.dht.common.entity.CouponUseRange">
		INSERT INTO t_coupon_use_range (
		cp_id,type,cpur_type,cpur_relevance_id,cpur_is_allow
		) VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.cpId,jdbcType=BIGINT},
			#{item.type,jdbcType=BIGINT},
			#{item.cpurType,jdbcType=BIGINT},
			#{item.cpurRelevanceId,jdbcType=BIGINT},
			#{item.cpurIsAllow,jdbcType=INTEGER}
			)
		</foreach>
	</insert>

	<!--修改优惠卷使用范围 -->
	<update id="updateCouponUseRange" parameterType="com.retailers.dht.common.entity.CouponUseRange">
		UPDATE t_coupon_use_range
		<set>
            <if test="null != cpId">
                cp_id = #{cpId},
            </if>
            <if test="null != cpurType">
                cpur_type = #{cpurType},
            </if>
            <if test="null != cpurRelevanceId">
                cpur_relevance_id = #{cpurRelevanceId},
            </if>
            <if test="null != cpurIsAllow">
                cpur_is_allow = #{cpurIsAllow},
            </if>
		</set>
		WHERE cpur_id = #{cpurId}
	</update>
	<!--删除优惠卷使用范围 -->
	<delete id="deleteCouponUseRangeByCpurId" parameterType="java.lang.Long">
		DELETE FROM t_coupon_use_range WHERE cpur_id = #{cpurId}
	</delete>
	<!--清除该优惠卷下所有用范围 -->
	<delete id="clearCouponUseRangeByCpId" parameterType="java.lang.Long">
		DELETE FROM t_coupon_use_range WHERE cp_id = #{cpId}
	</delete>

	<!-- 根据优惠卷id取得所有使用范围 -->
	<select id="queryCouponUseRangeByCpId" resultMap="rm_couponUseRange">
		SELECT <include refid="couponUseRange_columns" />
		FROM t_coupon_use_range WHERE type=#{type} and cp_id = #{cpId} and cpur_type=#{cpurType}
	</select>
</mapper>
