<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailers.dht.common.dao.CutPriceMapper">

	<resultMap id="rm_cutPrice" type="com.retailers.dht.common.entity.CutPrice">
			<result property="cpId" column="cp_id"/>
			<result property="cpName" column="cp_name"/>
			<result property="gid" column="g_id"/>
			<result property="parentId" column="parent_id"/>
			<result property="spOrder" column="sp_order"/>
			<result property="cpLestpseson" column="cp_lestpseson"/>
			<result property="cpMostperson" column="cp_mostperson"/>
			<result property="isCoupon" column="is_coupon"/>
			<result property="cpRegion" column="cp_region"/>
			<result property="cpStartTime" column="cp_start_time"/>
			<result property="cpEndTime" column="cp_end_time"/>
			<result property="isDelete" column="is_delete"/>
			<result property="version" column="version"/>
	</resultMap>
	<resultMap id="rm_cutPrice_vo" type="com.retailers.dht.common.vo.CutPriceVo">
		<result property="cpId" column="cp_id"/>
		<result property="cpName" column="cp_name"/>
		<result property="gid" column="g_id"/>
		<result property="parentId" column="parent_id"/>
		<result property="spOrder" column="sp_order"/>
		<result property="cpLestpseson" column="cp_lestpseson"/>
		<result property="cpMostperson" column="cp_mostperson"/>
		<result property="isCoupon" column="is_coupon"/>
		<result property="cpRegion" column="cp_region"/>
		<result property="cpStartTime" column="cp_start_time"/>
		<result property="cpEndTime" column="cp_end_time"/>
		<result property="isDelete" column="is_delete"/>
		<result property="version" column="version"/>
		<result property="gname" column="gname"/>
		<result property="timestap" column="timestap"/>
		<result property="cpSale" column="cp_sale"/>
		<result property="minCpSale" column="minCpSale"/>
		<result property="imgurl" column="imgurl"/>
		<result property="minprice" column="minprice"/>
		<result property="gdescription" column="gdescription"/>
	</resultMap>
	<resultMap id="rm_goods" type="com.retailers.dht.common.entity.Goods">
		<result property="gid" column="g_id"/>
		<result property="gname" column="g_name"/>
		<result property="gvender" column="g_vender"/>
		<result property="gshop" column="g_shop"/>
		<result property="gclassification" column="g_classification"/>
		<result property="gbrand" column="g_brand"/>
		<result property="garea" column="g_area"/>
		<result property="gsalescope" column="g_salescope"/>
		<result property="gmaindirection" column="g_maindirection"/>
		<result property="gdescription" column="g_description"/>
		<result property="gproductioninperson" column="g_productioninperson"/>
		<result property="gproductioninaddress" column="g_productioninaddress"/>
		<result property="gpickperson" column="g_pickperson"/>
		<result property="gpickaddress" column="g_pickaddress"/>
		<result property="gcopyid" column="g_copyid"/>
		<result property="gprice" column="g_price"/>
		<result property="gcheckperson" column="g_checkperson"/>
		<result property="gcheckmessage" column="g_checkmessage"/>
		<result property="gunitname" column="g_unitname"/>
		<result property="isChecked" column="is_checked"/>
		<result property="isDelete" column="is_delete"/>
		<result property="version" column="version"/>
	</resultMap>
	<!-- 用于select查询公用抽取的列 -->
	<sql id="cutPrice_columns">
		cp_id,cp_name,g_id,parent_id,sp_order,cp_lestpseson,cp_mostperson,is_coupon,cp_region,cp_start_time,cp_end_time,is_delete,version
	</sql>
	<!-- 根据砍价表主键取得数据 -->
	<select id="queryCutPriceByCpId" resultMap="rm_cutPrice" parameterType="java.lang.Long">
		SELECT <include refid="cutPrice_columns" />
		FROM t_cut_price WHERE cp_id = #{cpId}
	</select>
	<!-- 砍价表查询条件组合 -->
	<sql id="cutPrice_where">
		<where>
			<if test="null != params.cpId">
				AND cp_id = #{params.cpId}
			</if>
			<if test="null != params.cpName and '' != params.cpName">
				AND cp_name = #{params.cpName}
			</if>
			<if test="null != params.gid">
				AND g_id = #{params.gid}
			</if>
			<if test="null != params.parentId">
				AND parent_id = #{params.parentId}
			</if>
			<if test="null != params.spOrder">
				AND sp_order = #{params.spOrder}
			</if>
			<if test="null != params.cpLestpseson">
				AND cp_lestpseson = #{params.cpLestpseson}
			</if>
			<if test="null != params.cpMostperson">
				AND cp_mostperson = #{params.cpMostperson}
			</if>
			<if test="null != params.isCoupon">
				AND is_coupon = #{params.isCoupon}
			</if>
			<if test="null != params.cpRegion">
				AND cp_region = #{params.cpRegion}
			</if>
			<if test="null != params.cpStartTimeBegin">
				AND cp_start_time &gt;= #{params.cpStartTime}
			</if>
			<if test="null != params.cpStartTimeEnd">
				AND cp_start_time &lt;= #{params.cpStartTime}
			</if>
			<if test="null != params.cpEndTimeBegin">
				AND cp_end_time &gt;= #{params.cpEndTime}
			</if>
			<if test="null != params.cpEndTimeEnd">
				AND cp_end_time &lt;= #{params.cpEndTime}
			</if>
			<if test="null != params.isDelete">
				AND is_delete = #{params.isDelete}
			</if>
			<if test="null != params.version">
				AND version = #{params.version}
			</if>
		</where>
	</sql>
	<!--分页查询 -->
	<select id="queryCutPriceList" resultMap="rm_cutPrice" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT <include refid="cutPrice_columns" />
		FROM t_cut_price
		<include refid="cutPrice_where"/>
	</select>
	<select id="queryCutPriceGoodsList" resultMap="rm_cutPrice_vo" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT
		t2.*,
		t3.g_name gname,t3.g_description gdescription,
		min(t4.gd_price) minprice,
		t6.show_url imgurl,
		min(t7.cp_sale) minCpSale
		FROM
		t_cut_price t1,
		t_cut_price t2
		LEFT JOIN t_goods t3 ON t2.g_id=t3.g_id and t3.is_delete=0
		LEFT JOIN t_goods_detail t4 ON t2.g_id=t4.g_id and t4.is_delete=0
		LEFT JOIN t_goods_image t5 ON t2.g_id=t5.g_id and t5.is_delete=0
		LEFT JOIN t_attachment t6 ON t5.gi_id=t6.id
		LEFT JOIN t_goods_gdcprel t7 ON t2.cp_id=t7.cp_id and t7.is_delete=0
		WHERE
		t1.cp_end_time>CURRENT_TIME()
		and CURRENT_TIME()>t1.cp_start_time
		and t2.parent_id=t1.cp_id
		<if test="null!=params.cpRegion">
			and t2.cp_region=#{params.cpRegion}
		</if>
		and t1.is_delete=0
		and t2.is_delete=0
		GROUP BY t2.g_id
	</select>

	<select id="queryNextCutPriceGoodsList" resultMap="rm_cutPrice_vo" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT
		t2.*,
		t3.g_name gname,t3.g_description gdescription,
		min(t4.gd_price) minprice,
		t6.show_url imgurl,
		min(t7.cp_sale) minCpSale
		FROM
		t_cut_price t1,
		t_cut_price t2
		LEFT JOIN t_goods t3 ON t2.g_id=t3.g_id and t3.is_delete=0
		LEFT JOIN t_goods_detail t4 ON t2.g_id=t4.g_id and t4.is_delete=0
		LEFT JOIN t_goods_image t5 ON t2.g_id=t5.g_id and t5.is_delete=0
		LEFT JOIN t_attachment t6 ON t5.gi_id=t6.id
		LEFT JOIN t_goods_gdcprel t7 ON t2.cp_id=t7.cp_id and t7.is_delete=0
		WHERE
		t1.cp_start_time=(SELECT min(t10.cp_start_time)
		FROM
		t_cut_price t10
		where t10.cp_start_time>CURRENT_TIME()
		)
		and t2.parent_id=t1.cp_id
		and t1.is_delete=0
		and t2.is_delete=0
		<if test="null!=params.cpRegion">
			and t2.cp_region=#{params.cpRegion}
			or t2.cp_region=2
		</if>

		GROUP BY t2.g_id
	</select>

	<select id="queryCutPriceTree" resultMap="rm_cutPrice_vo">
		SELECT t1.*,t2.g_name gname
		from t_cut_price t1
		LEFT JOIN t_goods t2 ON t1.g_id=t2.g_id and t2.is_delete=0
		WHERE
		t1.is_delete=0
		ORDER BY t1.cp_end_time DESC
	</select>

	<select id="queryHasNoSpGoods" resultMap="rm_goods" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT *
		from t_goods t1
		where
		t1.g_id not in (SELECT t1.g_id from t_cut_price t1 where parent_id=#{params.parentId} and t1.is_delete=0)
		and t1.is_delete=0
		and t1.is_checked=1
		<if test="null!=params.gname and ''!=params.gname">
			and t1.g_name like concat('%', #{params.gname} ,'%')
		</if>
	</select>

	<select id="queryCutPriceListsByGid" parameterType="java.util.Map" resultMap="rm_cutPrice_vo">
		SELECT timestampdiff(SECOND,CURRENT_TIME(),t1.cp_end_time) timestap,
		t2.*,min(t3.cp_sale) cp_sale,min(t4.gd_price) minprice
		from
		t_cut_price t1,
		t_cut_price t2
		LEFT JOIN t_goods_gdcprel t3 ON t2.cp_id=t3.cp_id and t3.is_delete=0
		LEFT JOIN t_goods_detail t4 ON t3.gd_id=t4.gd_id and t4.is_delete=0
		where
		t1.cp_end_time>CURRENT_TIME()
		and CURRENT_TIME()>t1.cp_start_time
		and t1.cp_id=t2.parent_id
		and t1.is_delete=0
		and t2.is_delete=0
		and t2.g_id=#{params.gid}
	</select>

	<!--添加砍价表 -->
	<insert id="saveCutPrice" parameterType="com.retailers.dht.common.entity.CutPrice" useGeneratedKeys="true" keyProperty="cpId">
		INSERT INTO t_cut_price (
			cp_name,g_id,parent_id,sp_order,cp_lestpseson,cp_mostperson,is_coupon,cp_region,cp_start_time,cp_end_time,is_delete,version
		) VALUES
		(
			#{cpName,jdbcType=VARCHAR},#{gid,jdbcType=BIGINT},#{parentId,jdbcType=BIGINT},#{spOrder,jdbcType=BIGINT},#{cpLestpseson,jdbcType=BIGINT},#{cpMostperson,jdbcType=BIGINT},#{isCoupon,jdbcType=BIGINT},#{cpRegion,jdbcType=BIGINT},#{cpStartTime,jdbcType=TIMESTAMP},#{cpEndTime,jdbcType=TIMESTAMP},#{isDelete,jdbcType=BIGINT},0
		)
	</insert>
	<!--修改砍价表 -->
	<update id="updateCutPrice" parameterType="com.retailers.dht.common.entity.CutPrice">
		UPDATE t_cut_price
		<set>
            <if test="null != cpName and '' != cpName">
                cp_name = #{cpName},
            </if>
            <if test="null != gid">
                g_id = #{gid},
            </if>
            <if test="null != parentId">
                parent_id = #{parentId},
            </if>
            <if test="null != spOrder">
                sp_order = #{spOrder},
            </if>
            <if test="null != cpLestpseson">
                cp_lestpseson = #{cpLestpseson},
            </if>
            <if test="null != cpMostperson">
                cp_mostperson = #{cpMostperson},
            </if>
            <if test="null != isCoupon">
                is_coupon = #{isCoupon},
            </if>
            <if test="null != cpRegion">
                cp_region = #{cpRegion},
            </if>
            <if test="null != cpStartTime">
                cp_start_time = #{cpStartTime},
            </if>
            <if test="null != cpEndTime">
                cp_end_time = #{cpEndTime},
            </if>
            <if test="null != isDelete">
                is_delete = #{isDelete},
            </if>
            <if test="null != version">
                version = version+1,
            </if>
		</set>
		WHERE cp_id = #{cpId} and version = #{version}
	</update>
	<!--删除砍价表 -->
	<delete id="deleteCutPriceByCpId" parameterType="java.lang.Long">
		DELETE FROM t_cut_price WHERE cp_id = #{cpId}
	</delete>
</mapper>
