<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailers.dht.common.dao.GoodsImageMapper">

	<resultMap id="rm_goodsImage" type="com.retailers.dht.common.entity.GoodsImage">
			<result property="giId" column="gi_id"/>
			<result property="gid" column="g_id"/>
			<result property="isDelete" column="is_delete"/>
			<result property="version" column="version"/>
	</resultMap>
	<resultMap id="rm_goodsImage_vo" type="com.retailers.dht.common.vo.GoodsImageVo">
		<result property="giId" column="gi_id"/>
		<result property="gid" column="g_id"/>
		<result property="isDelete" column="is_delete"/>
		<result property="version" column="version"/>
		<result property="imgUrl" column="img_url"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="goodsImage_columns">
		gi_id,g_id,is_delete,version
	</sql>
	<!-- 根据商品图片表主键取得数据 -->
	<select id="queryGoodsImageByGiId" resultMap="rm_goodsImage" parameterType="java.lang.Long">
		SELECT <include refid="goodsImage_columns" />
		FROM t_goods_image WHERE gi_id = #{giId}
	</select>
	<!-- 商品图片表查询条件组合 -->
	<sql id="goodsImage_where">
		<where>
			<if test="null != params.giId">
				AND t1.gi_id = #{params.giId}
			</if>
			<if test="null != params.gid">
				AND t1.g_id = #{params.gid}
			</if>
			<if test="null != params.isDelete">
				AND t1.is_delete = #{params.isDelete}
			</if>
			<if test="null != params.version">
				AND t1.version = #{params.version}
			</if>
		</where>
	</sql>
	<!--分页查询 -->
	<select id="queryGoodsImageList" resultMap="rm_goodsImage_vo" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT t1.*,t2.show_url img_url from t_goods_image t1
		LEFT JOIN t_attachment t2 on t1.gi_id=t2.id
		<include refid="goodsImage_where"/>
	</select>
	<!--添加商品图片表 -->
	<insert id="saveGoodsImage" parameterType="com.retailers.dht.common.entity.GoodsImage" useGeneratedKeys="true" keyProperty="giId">
		INSERT INTO t_goods_image (
			gi_id,g_id,is_delete,version
		) VALUES
		(
			#{giId,jdbcType=BIGINT},#{gid,jdbcType=BIGINT},#{isDelete,jdbcType=BIGINT},0
		)
	</insert>
	<!--修改商品图片表 -->
	<update id="updateGoodsImage" parameterType="com.retailers.dht.common.entity.GoodsImage">
		UPDATE t_goods_image
		<set>
            <if test="null != gid">
                g_id = #{gid},
            </if>
			<if test="null != copyid">
				copyid = #{copyid},
			</if>
            <if test="null != isDelete">
                is_delete = #{isDelete},
            </if>
            <if test="null != version">
                version = version+1,
            </if>
		</set>
		WHERE gi_id = #{giId} and version = #{version}
	</update>
	<!--删除商品图片表 -->
	<delete id="deleteGoodsImageByGiId" parameterType="java.lang.Long">
		DELETE FROM t_goods_image WHERE gi_id = #{giId}
	</delete>
</mapper>
