<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailers.dht.common.dao.GoodsFreightMapper">

	<resultMap id="rm_goodsFreight" type="com.retailers.dht.common.entity.GoodsFreight">
			<result property="gfId" column="gf_id"/>
			<result property="gfName" column="gf_name"/>
			<result property="gfPrice" column="gf_price"/>
			<result property="isDelete" column="is_delete"/>
			<result property="version" column="version"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="goodsFreight_columns">
		gf_id,gf_name,gf_price,is_delete,version
	</sql>
	<!-- 根据商品运费表主键取得数据 -->
	<select id="queryGoodsFreightByGfId" resultMap="rm_goodsFreight" parameterType="java.lang.Long">
		SELECT <include refid="goodsFreight_columns" />
		FROM t_goods_freight WHERE gf_id = #{gfId}
	</select>
	<!-- 商品运费表查询条件组合 -->
	<sql id="goodsFreight_where">
		<where>
			<if test="null != params.gfId">
				AND gf_id = #{params.gfId}
			</if>
			<if test="null != params.gfName and '' != params.gfName">
				AND gf_name = #{params.gfName}
			</if>
			<if test="null != params.gfPrice">
				AND gf_price = #{params.gfPrice}
			</if>
			<if test="null != params.isDelete">
				AND is_delete = #{params.isDelete}
			</if>
			<if test="null != params.version">
				AND version = #{params.version}
			</if>
		</where>
	</sql>
	<!--分页查询 -->
	<select id="queryGoodsFreightList" resultMap="rm_goodsFreight" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT <include refid="goodsFreight_columns" />
		FROM t_goods_freight
		<include refid="goodsFreight_where"/>
	</select>
	<!--添加商品运费表 -->
	<insert id="saveGoodsFreight" parameterType="com.retailers.dht.common.entity.GoodsFreight" useGeneratedKeys="true" keyProperty="gfId">
		INSERT INTO t_goods_freight (
			gf_name,gf_price,is_delete,version
		) VALUES
		(
			#{gfName,jdbcType=VARCHAR},#{gfPrice,jdbcType=REAL},#{isDelete,jdbcType=BIGINT},0
		)
	</insert>
	<!--修改商品运费表 -->
	<update id="updateGoodsFreight" parameterType="com.retailers.dht.common.entity.GoodsFreight">
		UPDATE t_goods_freight
		<set>
            <if test="null != gfName and '' != gfName">
                gf_name = #{gfName},
            </if>
            <if test="null != gfPrice">
                gf_price = #{gfPrice},
            </if>
            <if test="null != isDelete">
                is_delete = #{isDelete},
            </if>
            <if test="null != version">
                version = version+1,
            </if>
		</set>
		WHERE gf_id = #{gfId} and version = #{version}
	</update>
	<!--删除商品运费表 -->
	<delete id="deleteGoodsFreightByGfId" parameterType="java.lang.Long">
		DELETE FROM t_goods_freight WHERE gf_id = #{gfId}
	</delete>
</mapper>
