<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailers.dht.common.dao.GoodsMapper">

	<resultMap id="rm_goods" type="com.retailers.dht.common.entity.Goods">
			<result property="gid" column="g_id"/>
			<result property="gname" column="g_name"/>
			<result property="gvender" column="g_vender"/>
			<result property="gshop" column="g_shop"/>
			<result property="gclassification" column="g_classification"/>
			<result property="gbrand" column="g_brand"/>
			<result property="garea" column="g_area"/>
			<result property="gsalescope" column="g_salescope"/>
			<result property="gmaindirection" column="g_maindirection"/>
			<result property="gdescription" column="g_description"/>
			<result property="gproductioninperson" column="g_productioninperson"/>
			<result property="gproductioninaddress" column="g_productioninaddress"/>
			<result property="gpickperson" column="g_pickperson"/>
			<result property="gpickaddress" column="g_pickaddress"/>
			<result property="gcopyid" column="g_copyid"/>
			<result property="gprice" column="g_price"/>
			<result property="gcheckperson" column="g_checkperson"/>
			<result property="gcheckmessage" column="g_checkmessage"/>
			<result property="gunitname" column="g_unitname"/>
			<result property="grate" column="g_rate"/>
			<result property="isChecked" column="is_checked"/>
			<result property="isDelete" column="is_delete"/>
			<result property="version" column="version"/>
	</resultMap>

	<resultMap id="rm_goods_vo" type="com.retailers.dht.common.vo.GoodsVo">
		<result property="gid" column="g_id"/>
		<result property="gname" column="g_name"/>
		<result property="gvender" column="g_vender"/>
		<result property="gshop" column="g_shop"/>
		<result property="gclassification" column="g_classification"/>
		<result property="gbrand" column="g_brand"/>
		<result property="garea" column="g_area"/>
		<result property="gsalescope" column="g_salescope"/>
		<result property="gmaindirection" column="g_maindirection"/>
		<result property="gdescription" column="g_description"/>
		<result property="gproductioninperson" column="g_productioninperson"/>
		<result property="gproductioninaddress" column="g_productioninaddress"/>
		<result property="gpickperson" column="g_pickperson"/>
		<result property="gpickaddress" column="g_pickaddress"/>
		<result property="gcopyid" column="g_copyid"/>
		<result property="gprice" column="g_price"/>
		<result property="gcheckperson" column="g_checkperson"/>
		<result property="gcheckmessage" column="g_checkmessage"/>
		<result property="gunitname" column="g_unitname"/>
		<result property="grate" column="g_rate"/>
		<result property="isChecked" column="is_checked"/>
		<result property="isDelete" column="is_delete"/>
		<result property="version" column="version"/>
		<result property="gclassificationName" column="gg_name"/>
		<result property="gareaName" column="a_name"/>
		<result property="minprice" column="minprice"/>
		<result property="maxprice" column="maxprice"/>
		<result property="imgUrl" column="imgurl"/>
		<result property="gcount" column="gcount"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="goods_columns">
		g_id,g_name,g_vender,g_shop,g_classification,g_brand,g_area,g_salescope,g_maindirection,g_description,g_productioninperson,g_productioninaddress,g_pickperson,g_pickaddress,g_copyid,g_price,g_checkperson,g_checkmessage,g_unitname,g_rate,is_checked,is_delete,version
	</sql>
	<!-- 根据商品表主键取得数据 -->
	<select id="queryGoodsByGid" resultMap="rm_goods" parameterType="java.lang.Long">
		SELECT <include refid="goods_columns" />
		FROM t_goods WHERE g_id = #{gid}
	</select>

	<!-- 根据商品id批量取得商品 -->
	<select id="queryGoodsByGids" resultMap="rm_goods">
		SELECT <include refid="goods_columns" />
		FROM t_goods WHERE g_id IN
		<foreach collection="gids" item="item" index="index" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>

	<select id="queryGoodsVoByIds" resultMap="rm_goods_vo" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT
		t1.*,
		min(t2.gd_price) minprice,
		t4.show_url imgurl
		from
		t_goods t1
		LEFT JOIN t_goods_detail t2 ON t1.g_id=t2.g_id and t2.is_delete=0
		LEFT JOIN t_goods_image t3 ON t1.g_id=t3.g_id and t3.is_delete=0
		LEFT JOIN t_attachment t4 ON t3.gi_id=t4.id
		WHERE
		t1.is_checked=1
		and t1.is_delete=0
		and t1.g_id in
		<foreach collection="params.gids" item="gid" open="(" close=")" separator=",">
			#{gid}
		</foreach>
		GROUP BY t1.g_id
	</select>

	<select id="queryGoodsVoListByLikeGname" resultMap="rm_goods">
		SELECT
		t1.g_id
		FROM
		t_goods t1
		WHERE
		t1.is_checked=1
		and t1.is_delete=0
		and t1.g_name like  concat('%', #{gname} ,'%')
	</select>

	<!-- 商品表查询条件组合 -->
	<sql id="goods_where">
		<where>
			<if test="null != params.gid">
				AND t1.g_id = #{params.gid}
			</if>
			<if test="null != params.gname and '' != params.gname">
				AND t1.g_name like  concat('%', #{params.gname}, '%')
			</if>
			<if test="null != params.gvender">
				AND t1.g_vender = #{params.gvender}
			</if>
			<if test="null != params.gshop">
				AND t1.g_shop = #{params.gshop}
			</if>
			<if test="null != params.gclassification">
				AND t1.g_classification in
				<foreach collection="params.gclassification" item="item" index="index"
						 open="(" close=")" separator=",">
					#{params.gclassification[${index}]}
				</foreach>
			</if>
			<if test="null != params.gbrand">
				AND t1.g_brand = #{params.gbrand}
			</if>
			<if test="null != params.garea">
				AND t1.g_area = #{params.garea}
			</if>
			<if test="null != params.gsalescope">
				AND t1.g_salescope = #{params.gsalescope}
			</if>
			<if test="null != params.gmaindirection">
				AND t1.g_maindirection = #{params.gmaindirection}
			</if>
			<if test="null != params.gdescription and '' != params.gdescription">
				AND t1.g_description = #{params.gdescription}
			</if>
			<if test="null != params.gproductioninperson and '' != params.gproductioninperson">
				AND t1.g_productioninperson = #{params.gproductioninperson}
			</if>
			<if test="null != params.gproductioninaddress and '' != params.gproductioninaddress">
				AND t1.g_productioninaddress = #{params.gproductioninaddress}
			</if>
			<if test="null != params.gpickperson and '' != params.gpickperson">
				AND t1.g_pickperson = #{params.gpickperson}
			</if>
			<if test="null != params.gpickaddress and '' != params.gpickaddress">
				AND t1.g_pickaddress = #{params.gpickaddress}
			</if>
			<if test="null != params.gcopyid">
				AND t1.g_copyid = #{params.gcopyid}
			</if>
			<if test="null != params.gprice">
				AND t1.g_price = #{params.gprice}
			</if>
			<if test="null != params.gcheckperson">
				AND t1.g_checkperson = #{params.gcheckperson}
			</if>
			<if test="null != params.gcheckmessage and '' != params.gcheckmessage">
				AND t1.g_checkmessage = #{params.gcheckmessage}
			</if>
			<if test="null != params.gunitname and '' != params.gunitname">
				AND t1.g_unitname = #{params.gunitname}
			</if>
			<if test="null != params.isChecked">
				AND t1.is_checked = #{params.isChecked}
			</if>
			<if test="null != params.isDelete">
				AND t1.is_delete = #{params.isDelete}
			</if>
			<if test="null != params.version">
				AND t1.version = #{params.version}
			</if>

		</where>
	</sql>

	<!--分页查询 -->
	<select id="queryGoodsList" resultMap="rm_goods_vo" parameterType="com.retailers.mybatis.pagination.Pagination">
		select t1.*,t2.a_name,t3.gg_name,
		max(t4.gd_price) maxprice,min(t4.gd_price) minprice, sum(t4.gd_residueinventory) inventory,
		t6.show_url imgurl
		from
		t_goods t1
		LEFT JOIN t_area t2 ON t1.g_area=t2.a_id
		LEFT JOIN t_goods_classification t3 ON t1.g_classification=t3.gg_id and t3.is_delete=0
		LEFT JOIN t_goods_detail t4 on t1.g_id=t4.g_id and t4.is_delete=0
		LEFT JOIN t_goods_image t5 ON t1.g_id=t5.g_id and t5.is_delete=0
		LEFT JOIN t_attachment t6 ON t5.gi_id=t6.id
		<include refid="goods_where"/>
		GROUP BY t1.g_id
		ORDER BY t1.g_id DESC
	</select>

	<select id="querySamegclassGoods" resultMap="rm_goods_vo" parameterType="com.retailers.mybatis.pagination.Pagination">
		select t6.show_url imgurl,min(t4.gd_price) minprice,t3.* from
		t_goods t1,
		t_goods_classification t2,
		t_goods t3
		LEFT JOIN t_goods_image t5 ON t3.g_id=t5.g_id and t5.is_delete=0
		LEFT JOIN t_attachment t6 ON t5.gi_id=t6.id,
		t_goods_detail t4
		<where>
			<if test="null!=params.gid">
				and t1.g_id=#{params.gid}
			</if>
		and t1.g_classification=t2.gg_id
		and t2.gg_id=t3.g_classification
		and t3.g_id=t4.g_id
			<if test="null!=params.gid">
				and t3.g_id!=#{params.gid}
			</if>
		and t2.is_delete=0
		and t3.is_delete=0
		and t4.is_delete=0
		</where>
		GROUP BY t3.g_id
	</select>

	<select id="queryGoodsListByGclass" resultMap="rm_goods_vo" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT
		t5.show_url imgurl,
		t1.g_id,t1.g_name,
		min(t2.gd_price) minprice
		FROM
		t_goods t1
		LEFT JOIN t_goods_detail t2 ON t1.g_id=t2.g_id and t2.is_delete=0
		LEFT JOIN t_goods_image t4 ON t1.g_id=t4.g_id and t4.is_delete=0
		LEFT JOIN t_attachment t5 ON t5.id=t4.gi_id,
		t_goods_config t3
		WHERE
		t1.is_checked=1
		and t1.is_delete=0
		and t1.g_id=t3.g_id
		and t3.is_putway=1
		and t1.g_classification=#{params.gclass}

		GROUP BY t1.g_id
	</select>

	<select id="queryTodayGoods" resultMap="rm_goods_vo" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT
		t1.*,
		t5.show_url imgurl
		FROM
		(SELECT
		t1.*,
		min(t3.gd_price) minprice,SUM(t3.gd_residueinventory) gcount
		FROM
		t_goods t1
		LEFT JOIN t_goods_detail t3 ON t1.g_id=t3.g_id and t3.is_delete=0,
		t_goods_config t2
		WHERE
		t1.g_id=t2.g_id
		and t1.g_create_time=CURRENT_DATE()
		and t2.is_putway=1
		and t1.is_checked=1
		and t1.is_delete=0
		GROUP BY
		t1.g_id) t1
		LEFT JOIN t_goods_image t4 ON t1.g_id=t4.g_id and t4.is_delete=0
		LEFT JOIN t_attachment t5 ON t5.id=t4.gi_id,
		t_goods_config t2
		WHERE
		t1.g_id=t2.g_id
		and t1.g_create_time=CURRENT_DATE()
		and t2.is_putway=1
		and t1.is_checked=1
		and t1.is_delete=0
		GROUP BY
		t1.g_id
	</select>

	<!--添加商品表 -->
	<insert id="saveGoods" parameterType="com.retailers.dht.common.entity.Goods" useGeneratedKeys="true" keyProperty="gid">
		INSERT INTO t_goods (
			g_name,g_vender,g_shop,g_classification,g_brand,g_area,g_salescope,g_maindirection,g_description,g_productioninperson,g_productioninaddress,g_pickperson,g_pickaddress,g_copyid,g_price,g_checkperson,g_checkmessage,g_unitname,g_rate,is_checked,is_delete,version,g_create_time
		) VALUES
		(
			#{gname,jdbcType=VARCHAR},#{gvender,jdbcType=BIGINT},#{gshop,jdbcType=BIGINT},#{gclassification,jdbcType=BIGINT},#{gbrand,jdbcType=BIGINT},#{garea,jdbcType=BIGINT},#{gsalescope,jdbcType=BIGINT},#{gmaindirection,jdbcType=BIGINT},#{gdescription,jdbcType=VARCHAR},#{gproductioninperson,jdbcType=VARCHAR},#{gproductioninaddress,jdbcType=VARCHAR},#{gpickperson,jdbcType=VARCHAR},#{gpickaddress,jdbcType=VARCHAR},#{gcopyid,jdbcType=BIGINT},#{gprice,jdbcType=BIGINT},#{gcheckperson,jdbcType=BIGINT},#{gcheckmessage,jdbcType=VARCHAR},#{gunitname,jdbcType=VARCHAR},#{grate,jdbcType=BIGINT},#{isChecked,jdbcType=BIGINT},#{isDelete,jdbcType=BIGINT},0,CURRENT_DATE
		)
	</insert>
	<!--修改商品表 -->
	<update id="updateGoods" parameterType="com.retailers.dht.common.entity.Goods">
		UPDATE t_goods
		<set>
            <if test="null != gname and '' != gname">
                g_name = #{gname},
            </if>
            <if test="null != gvender">
                g_vender = #{gvender},
            </if>
            <if test="null != gshop">
                g_shop = #{gshop},
            </if>
            <if test="null != gclassification">
                g_classification = #{gclassification},
            </if>

                g_brand = #{gbrand},

                g_area = #{garea},

                g_salescope = #{gsalescope},

            <if test="null != gmaindirection">
                g_maindirection = #{gmaindirection},
            </if>

                g_description = #{gdescription},


                g_productioninperson = #{gproductioninperson},


                g_productioninaddress = #{gproductioninaddress},


                g_pickperson = #{gpickperson},


                g_pickaddress = #{gpickaddress},

            <if test="null != gcopyid">
                g_copyid = #{gcopyid},
            </if>
            <if test="null != gprice">
                g_price = #{gprice},
            </if>
            <if test="null != gcheckperson">
                g_checkperson = #{gcheckperson},
            </if>
            <if test="null != gcheckmessage and '' != gcheckmessage">
                g_checkmessage = #{gcheckmessage},
            </if>
            <if test="null != gunitname and '' != gunitname">
                g_unitname = #{gunitname},
            </if>
			<if test="null != grate">
				g_rate = #{grate},
			</if>
            <if test="null != isChecked">
                is_checked = #{isChecked},
            </if>
            <if test="null != isDelete">
                is_delete = #{isDelete},
            </if>
            <if test="null != version">
                version = version+1,
            </if>
		</set>
		WHERE g_id = #{gid} and version = #{version}
	</update>
	<!--删除商品表 -->
	<delete id="deleteGoodsByGid" parameterType="java.lang.Long">
		DELETE FROM t_goods WHERE g_id = #{gid}
	</delete>

	<!-- 根据商品表主键取得数据 -->
	<select id="queryGoodsByGt" resultMap="rm_goods" parameterType="java.lang.Long">
		SELECT <include refid="goods_columns" />
		FROM t_goods WHERE g_classification = #{gt} and is_delete=0 and is_checked=1
	</select>
	<!--批量出售商品-->
	<update id="sellGoods" parameterType="java.util.Map">
	</update>
</mapper>
