<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailers.dht.common.dao.GoodsGgclrelMapper">

	<resultMap id="rm_goodsGgclrel" type="com.retailers.dht.common.entity.GoodsGgclrel">
			<result property="ggclId" column="ggcl_id"/>
			<result property="gid" column="g_id"/>
			<result property="gclId" column="gcl_id"/>
			<result property="gclassId" column="gclass_id"/>
			<result property="gclCount" column="gcl_count"/>
			<result property="isUse" column="is_use"/>
			<result property="isDelete" column="is_delete"/>
			<result property="version" column="version"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="goodsGgclrel_columns">
		ggcl_id,g_id,gcl_id,gclass_id,gcl_count,is_use,is_delete,version
	</sql>
	<!-- 根据商品与评论关系表主键取得数据 -->
	<select id="queryGoodsGgclrelByGgclId" resultMap="rm_goodsGgclrel" parameterType="java.lang.Long">
		SELECT <include refid="goodsGgclrel_columns" />
		FROM t_goods_ggclrel WHERE ggcl_id = #{ggclId}
	</select>
	<!-- 商品与评论关系表查询条件组合 -->
	<sql id="goodsGgclrel_where">
		<where>
			<if test="null != params.ggclId">
				AND t1.ggcl_id = #{params.ggclId}
			</if>
			<if test="null != params.gid">
				AND t1.g_id = #{params.gid}
			</if>
			<if test="null != params.gclId">
				AND t1.gcl_id = #{params.gclId}
			</if>
			<if test="null != params.gclassId">
				AND t1.gclass_id = #{params.gclassId}
			</if>
			<if test="null != params.gclCount">
				AND t1.gcl_count = #{params.gclCount}
			</if>
			<if test="null != params.isUse">
				AND t1.is_use = #{params.isUse}
			</if>
			<if test="null != params.isDelete">
				AND t1.is_delete = #{params.isDelete}
			</if>
			<if test="null != params.version">
				AND t1.version = #{params.version}
			</if>
			<if test="null != params.isClass">
				AND t2.is_class = #{params.isClass}
			</if>
		</where>
	</sql>
	<!--分页查询 -->
	<select id="queryGoodsGgclrelList" resultMap="rm_goodsGgclrel" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT t1.* from t_goods_ggclrel t1
		LEFT JOIN t_goods_commentlabel t2 ON  t1.gcl_id=t2.gcl_id
		<include refid="goodsGgclrel_where"/>
	</select>
	<select id="queryGclassGoodsGgclrelLists" resultMap="rm_goodsGgclrel">
		SELECT t1.* from t_goods_ggclrel t1
		where t1.is_delete!=1 and t1.gclass_id in
		<foreach collection="gclassIds" item="gclassId" open="(" close=")" separator=",">
			#{gclassId}
		</foreach>
	</select>
	<!--添加商品与评论关系表 -->
	<insert id="saveGoodsGgclrel" parameterType="com.retailers.dht.common.entity.GoodsGgclrel" useGeneratedKeys="true" keyProperty="ggclId">
		INSERT INTO t_goods_ggclrel (
			g_id,gcl_id,gclass_id,gcl_count,is_use,is_delete,version
		) VALUES
		(
			#{gid,jdbcType=BIGINT},#{gclId,jdbcType=BIGINT},#{gclassId,jdbcType=BIGINT},#{gclCount,jdbcType=BIGINT},#{isUse,jdbcType=BIGINT},#{isDelete,jdbcType=BIGINT},0
		)
	</insert>
	<!--修改商品与评论关系表 -->
	<update id="updateGoodsGgclrel" parameterType="com.retailers.dht.common.entity.GoodsGgclrel">
		UPDATE t_goods_ggclrel
		<set>
            <if test="null != gid">
                g_id = #{gid},
            </if>
            <if test="null != gclId">
                gcl_id = #{gclId},
            </if>
            <if test="null != gclassId">
                gclass_id = #{gclassId},
            </if>
            <if test="null != gclCount">
                gcl_count = #{gclCount},
            </if>
            <if test="null != isUse">
                is_use = #{isUse},
            </if>
            <if test="null != isDelete">
                is_delete = #{isDelete},
            </if>
            <if test="null != version">
                version = version+1,
            </if>
		</set>
		WHERE ggcl_id = #{ggclId} and version = #{version}
	</update>
	<!--删除商品与评论关系表 -->
	<delete id="deleteGoodsGgclrelByGgclId" parameterType="java.lang.Long">
		DELETE FROM t_goods_ggclrel WHERE ggcl_id = #{ggclId}
	</delete>
</mapper>
