<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailers.dht.common.dao.GoodsGdcprelMapper">

	<resultMap id="rm_goodsGdcprel" type="com.retailers.dht.common.entity.GoodsGdcprel">
			<result property="gdcpId" column="gdcp_id"/>
			<result property="gdId" column="gd_id"/>
			<result property="cpId" column="cp_id"/>
			<result property="cpSale" column="cp_sale"/>
			<result property="cpInventory" column="cp_inventory"/>
			<result property="cpBounds" column="cp_bounds"/>
			<result property="isDelete" column="is_delete"/>
			<result property="version" column="version"/>
	</resultMap>
	<resultMap id="rm_goodsGdcprel_vo" type="com.retailers.dht.common.vo.GoodsGdcprelVo">
		<result property="gdcpId" column="gdcp_id"/>
		<result property="gdId" column="gd_id"/>
		<result property="cpId" column="cp_id"/>
		<result property="cpSale" column="cp_sale"/>
		<result property="cpInventory" column="cp_inventory"/>
		<result property="cpBounds" column="cp_bounds"/>
		<result property="isDelete" column="is_delete"/>
		<result property="version" column="version"/>
		<result property="gsName" column="gsName"/>
		<result property="gdPrice" column="gdPrice"/>
		<result property="gdResidueinventory" column="gdResidueinventory"/>
		<result property="sumcount" column="sumcount"/>
		<result property="imgurl" column="imgurl"/>
		<result property="gunitname" column="g_unitname"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="goodsGdcprel_columns">
		gdcp_id,gd_id,cp_id,cp_sale,cp_inventory,cp_bounds,is_delete,version
	</sql>
	<!-- 根据商品详情与砍价关系表主键取得数据 -->
	<select id="queryGoodsGdcprelByGdcpId" resultMap="rm_goodsGdcprel" parameterType="java.lang.Long">
		SELECT <include refid="goodsGdcprel_columns" />
		FROM t_goods_gdcprel WHERE gdcp_id = #{gdcpId}
	</select>
	<!-- 商品详情与砍价关系表查询条件组合 -->
	<sql id="goodsGdcprel_where">
		<where>
			<if test="null != params.gdcpId">
				AND gdcp_id = #{params.gdcpId}
			</if>
			<if test="null != params.gdId">
				AND gd_id = #{params.gdId}
			</if>
			<if test="null != params.cpId">
				AND cp_id = #{params.cpId}
			</if>
			<if test="null != params.cpSale">
				AND cp_sale = #{params.cpSale}
			</if>
			<if test="null != params.cpInventory">
				AND cp_inventory = #{params.cpInventory}
			</if>
			<if test="null != params.cpBounds">
				AND cp_bounds = #{params.cpBounds}
			</if>
			<if test="null != params.isDelete">
				AND is_delete = #{params.isDelete}
			</if>
			<if test="null != params.version">
				AND version = #{params.version}
			</if>
		</where>
	</sql>
	<!--分页查询 -->
	<select id="queryGoodsGdcprelList" resultMap="rm_goodsGdcprel" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT <include refid="goodsGdcprel_columns" />
		FROM t_goods_gdcprel
		<include refid="goodsGdcprel_where"/>
	</select>
	<select id="queryGoodsGdcprelListsByGid" resultMap="rm_goodsGdcprel_vo">
		SELECT t1.gd_id,t1.gd_price gdPrice,t1.gd_residueinventory gdResidueinventory,
		GROUP_CONCAT(t3.gsv_val ORDER BY t3.gsv_id separator ' ') gsname,
		t4.cp_id,t4.cp_sale,t4.cp_inventory,t4.cp_bounds
		from
		t_goods_detail t1
		LEFT JOIN t_goods_ggsval_detail t2 ON t1.gd_id=t2.gd_id and t2.is_delete=0
		LEFT JOIN t_goods_gsval t3 ON t3.gsv_id=t2.gsv_id and t3.is_delete=0
		LEFT JOIN t_goods_gdcprel t4 ON t1.gd_id=t4.gd_id and t4.cp_id=#{cpId} and t4.is_delete=0
		LEFT JOIN t_cut_price t5 ON t4.cp_id=t5.cp_id
		where
		t1.g_id=#{gid}
		and t1.is_delete=0
		GROUP BY t1.gd_id
	</select>
	<select id="queryGoodsGdcprelVoLists" resultMap="rm_goodsGdcprel_vo" parameterType="java.util.Map">
		SELECT COUNT(*) sumcount,t2.*,t4.show_url imgurl,t5.g_unitname,t3.gd_price gdPrice
		from t_goods_ggsval_detail t1
		LEFT JOIN t_goods_gdcprel t2 ON t1.gd_id=t2.gd_id and t2.is_delete!=1
		LEFT JOIN t_goods_detail t3 ON t3.gd_id=t2.gd_id and t3.is_delete!=1
		LEFT JOIN t_attachment t4 ON t3.gd_imgid=t4.show_url
		LEFT JOIN t_goods t5 ON t5.g_id=t3.g_id and t5.is_delete!=1,
		t_cut_price t6
		where
		t1.is_delete!=1
		and t1.g_id=#{params[gid]}
		and t1.gsv_id IN
		<foreach collection="params.gsvId" item="gsvid" index="index"
				 open="(" close=")" separator=",">
			#{gsvid}
		</foreach>
		and t6.cp_id=t2.cp_id
		and t6.parent_id=#{params[parentId]}
		and t6.is_delete=0
		GROUP BY t1.gd_id
		ORDER BY sumcount DESC
	</select>

	<select id="queryCheckOrderData" resultMap="rm_goodsGdcprel_vo">
		SELECT
		t1.gd_id,
		GROUP_CONCAT(DISTINCT t4.gsv_val ORDER BY t4.gs_id) gsName,
		t6.g_count sumcount
		from
		t_goods_gdcprel t1
		LEFT JOIN t_goods_detail t2 ON t1.gd_id=t2.gd_id and t2.is_delete=0
		LEFT JOIN t_goods_ggsval_detail t3 ON t2.gd_id=t3.gd_id and t3.is_delete=0
		LEFT JOIN t_goods_gsval t4 ON t3.gsv_id=t4.gsv_id and t4.is_delete=0
		LEFT JOIN t_cut_price_price t6 ON t1.gdcp_id=t6.gdcp_id and t6.is_delete=0,
		t_cut_price_price t5
		where
		t1.gdcp_id=#{gdcpId}
		and t1.gdcp_id=t5.gdcp_id
		and t5.us_id=#{uid}
		and t1.is_delete=0
		GROUP BY t5.gdcp_id,t5.us_id
	</select>
	<select id="queryGoodsGdcprelListByGdcpIds" resultMap="rm_goodsGdcprel">
		SELECT *
		FROM
		t_goods_gdcprel
		WHERE
		gdcp_id in
		<foreach collection="gdcpIds" item="gdcpId" index="index"
				 open="(" close=")" separator=",">
			#{gdcpId}
		</foreach>
		and is_delete=0
	</select>

	<update id="editGoodsInventorys">
		UPDATE t_goods_gdcprel t1
		<set>
			t1.cp_inventory = CASE
			<foreach collection="list" item="item" index="index" >
				WHEN  t1.gdcp_id=#{item.gdcpId} THEN
				#{item.cpInventory}
			</foreach> end,
			t1.version=t1.version+1
		</set>
		WHERE
		<foreach collection="list" item="item" index="index" separator="or" close=")" open="(" >
			(t1.gdcp_id=#{item.gdcpId} and t1.version=#{item.version})
		</foreach>
		and t1.is_delete=0
	</update>
	<!--添加商品详情与砍价关系表 -->
	<insert id="saveGoodsGdcprel" parameterType="com.retailers.dht.common.entity.GoodsGdcprel" useGeneratedKeys="true" keyProperty="gdcpId">
		INSERT INTO t_goods_gdcprel (
			gd_id,cp_id,cp_sale,cp_inventory,cp_bounds,is_delete,version
		) VALUES
		(
			#{gdId,jdbcType=BIGINT},#{cpId,jdbcType=BIGINT},#{cpSale,jdbcType=BIGINT},#{cpInventory,jdbcType=BIGINT},#{cpBounds,jdbcType=BIGINT},#{isDelete,jdbcType=BIGINT},0
		)
	</insert>

	<!--修改商品详情与砍价关系表 -->
	<update id="updateGoodsGdcprel" parameterType="com.retailers.dht.common.entity.GoodsGdcprel">
		UPDATE t_goods_gdcprel
		<set>
            <if test="null != gdId">
                gd_id = #{gdId},
            </if>
            <if test="null != cpId">
                cp_id = #{cpId},
            </if>
            <if test="null != cpSale">
                cp_sale = #{cpSale},
            </if>
            <if test="null != cpInventory">
                cp_inventory = #{cpInventory},
            </if>
            <if test="null != cpBounds">
                cp_bounds = #{cpBounds},
            </if>
            <if test="null != isDelete">
                is_delete = #{isDelete},
            </if>
            <if test="null != version">
                version = version+1,
            </if>
		</set>
		WHERE gdcp_id = #{gdcpId} and version = #{version}
	</update>
	<!--删除商品详情与砍价关系表 -->
	<delete id="deleteGoodsGdcprelByGdcpId" parameterType="java.lang.Long">
		DELETE FROM t_goods_gdcprel WHERE gdcp_id = #{gdcpId}
	</delete>
</mapper>
