<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailers.dht.common.dao.GoodsDetailMapper">

	<resultMap id="rm_goodsDetail" type="com.retailers.dht.common.entity.GoodsDetail">
	<result property="gdId" column="gd_id"/>
	<result property="gid" column="g_id"/>
	<result property="gdPrice" column="gd_price"/>
	<result property="gdCostprice" column="gd_costprice"/>
	<result property="gdInventory" column="gd_inventory"/>
	<result property="gdResidueinventory" column="gd_residueinventory"/>
	<result property="gdImgid" column="gd_imgid"/>
	<result property="isDelete" column="is_delete"/>
	<result property="version" column="version"/>
</resultMap>
	<resultMap id="rm_goodsDetail_vo" type="com.retailers.dht.common.vo.GoodsDetailVo">
		<result property="gdId" column="gd_id"/>
		<result property="gid" column="g_id"/>
		<result property="gdPrice" column="gd_price"/>
		<result property="gdCostprice" column="gd_costprice"/>
		<result property="gdInventory" column="gd_inventory"/>
		<result property="gdResidueinventory" column="gd_residueinventory"/>
		<result property="gdImgid" column="gd_imgid"/>
		<result property="isDelete" column="is_delete"/>
		<result property="version" column="version"/>
		<result property="imgUrl" column="img_url"/>
		<result property="gsid" column="gsid"/>
		<result property="gsname" column="gsname"/>
		<result property="hasgsvalid" column="hasgsvalid"/>
		<result property="hasgsval" column="hasgsval"/>
		<result property="gunitname" column="g_unitname"/>
		<result property="isMenberdiscount" column="isMenberdiscount"/>
		<result property="gclass" column="gclass"/>
		<result property="type" column="type"/>
		<result property="gname" column="gname"/>
		<result property="gimgurl" column="gimgurl"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="goodsDetail_columns">
		gd_id,g_id,gd_price,gd_costprice,gd_inventory,gd_residueinventory,gd_imgid,is_delete,version
	</sql>
	<!-- 根据商品详情表主键取得数据 -->
	<select id="queryGoodsDetailByGdId" resultMap="rm_goodsDetail_vo" parameterType="java.lang.Long">
		SELECT t1.*,t2.show_url img_url from t_goods_detail t1
		LEFT JOIN t_attachment t2 ON t1.gd_imgid=t2.id
		WHERE t1.gd_id = #{gdId}
	</select>
	<!-- 商品详情表查询条件组合 -->
	<sql id="goodsDetail_where">
		<where>
			<if test="null != params.gdId">
				AND gd_id = #{params.gdId}
			</if>
			<if test="null != params.gid">
				AND g_id = #{params.gid}
			</if>
			<if test="null != params.gdPrice">
				AND gd_price = #{params.gdPrice}
			</if>
			<if test="null != params.gdCostprice">
				AND gd_costprice = #{params.gdCostprice}
			</if>
			<if test="null != params.gdInventory">
				AND gd_inventory = #{params.gdInventory}
			</if>
			<if test="null != params.gdResidueinventory">
				AND gd_residueinventory = #{params.gdResidueinventory}
			</if>
			<if test="null != params.gdImgid">
				AND gd_imgid = #{params.gdImgid}
			</if>
			<if test="null != params.isDelete">
				AND is_delete = #{params.isDelete}
			</if>
			<if test="null != params.version">
				AND version = #{params.version}
			</if>
		</where>
	</sql>
	<!--分页查询 -->
	<select id="queryGoodsDetailList" resultMap="rm_goodsDetail" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT <include refid="goodsDetail_columns" />
		FROM t_goods_detail
		<include refid="goodsDetail_where"/>
	</select>

	<select id="queryGoodsDetailOnce" resultMap="rm_goodsDetail_vo">
		SELECT
		gd.*,
		GROUP_CONCAT(s.gs_id ORDER BY g.gs_id separator ' ') gsid,
		GROUP_CONCAT(s.gs_name ORDER BY g.gs_id separator ' ') gsname,
		GROUP_CONCAT(gs.gsv_id ORDER BY g.gs_id separator ' ') hasgsvalid,
		GROUP_CONCAT(gs.gsv_val ORDER BY g.gs_id separator ' ') hasgsval,
		a.show_url img_url

		FROM
		t_goods_ggsval_detail g,
		t_goods_specification s,
		t_goods_gsval gs,
		t_goods_detail gd LEFT JOIN t_attachment a ON gd.gd_imgid=a.id
		where
		g.g_id=#{gid}
		and g.is_delete=0
		and g.gs_id=s.gs_id
		and g.gsv_id=gs.gsv_id
		and g.gd_id=gd.gd_id

		GROUP BY gd.gd_id
	</select>

	<select id="queryGoodsDetailVoLists" parameterType="java.util.Map" resultMap="rm_goodsDetail_vo">
		SELECT COUNT(*) sumcount,t3.*,t4.show_url img_url,t5.g_unitname
		from t_goods_ggsval_detail t1
		LEFT JOIN t_goods_detail t3 ON t3.gd_id=t1.gd_id
		LEFT JOIN t_attachment t4 ON t3.gd_imgid=t4.id
		LEFT JOIN t_goods t5 ON t5.g_id=t3.g_id
		where t1.is_delete!=1
		and t1.g_id=#{params[gid]}
		and t1.gsv_id IN
		<foreach collection="params.gsvId" item="gsvid" index="index"
				 open="(" close=")" separator=",">
			#{gsvid}
		</foreach>
		GROUP BY t1.gd_id
		ORDER BY sumcount DESC
	</select>

	<select id="queryGoodsDetailByGdIds" resultMap="rm_goodsDetail_vo">
		SELECT
		t1.*,t3.is_menberdiscount isMenberdiscount,t2.g_classification gclass
		from
		t_goods_detail t1 LEFT JOIN t_goods_config t3 ON t1.g_id=t3.g_id and t3.is_putway=1
		left JOIN t_goods t2 ON  t1.g_id=t2.g_id and t2.is_checked=1 and t2.is_delete=0
		WHERE
		t1.is_delete=0
		and t1.gd_id in
		<foreach collection="gdIds" item="gdId" index="index"
				 open="(" close=")" separator=",">
			#{gdId}
		</foreach>
	</select>

	<select id="queryGoodsDetailVoList" resultMap="rm_goodsDetail_vo">
		(SELECT
		t1.g_id,t1.gd_id,t1.gd_price,
		t2.g_name gname,
		0 type,
		t3.show_url img_url,
		t5.show_url gimgurl,
		GROUP_CONCAT(DISTINCT t7.gsv_val) gsname
		FROM
		t_goods_detail t1
		LEFT JOIN t_goods t2 ON t1.g_id=t2.g_id
		LEFT JOIN t_attachment t3 ON t3.id=t1.gd_imgid
		LEFT JOIN t_goods_image t4 ON t1.g_id=t4.g_id
		LEFT JOIN t_attachment t5 ON t4.gi_id=t5.id
		LEFT JOIN t_goods_ggsval_detail t6 ON t1.gd_id=t6.gd_id
		LEFT JOIN t_goods_gsval t7 ON t7.gsv_id=t6.gsv_id
		WHERE
		t1.gd_id IN
		<foreach collection="normalGoodsParamsList" item="gdId" index="index"
				 open="(" close=")" separator=",">
			#{gdId}
		</foreach>
		GROUP BY t1.gd_id)
		UNION
		(SELECT
		t1.g_id,t0.gdcp_id gd_id,t1.gd_price,
		t2.g_name gname,
		1 type,
		t3.show_url img_url,
		t5.show_url gimgurl,
		GROUP_CONCAT(DISTINCT t7.gsv_val) gsname
		FROM
		t_goods_gdcprel t0
		LEFT JOIN t_goods_detail t1 ON t0.gd_id=t1.gd_id
		LEFT JOIN t_goods t2 ON t1.g_id=t2.g_id
		LEFT JOIN t_attachment t3 ON t3.id=t1.gd_imgid
		LEFT JOIN t_goods_image t4 ON t1.g_id=t4.g_id
		LEFT JOIN t_attachment t5 ON t4.gi_id=t5.id
		LEFT JOIN t_goods_ggsval_detail t6 ON t1.gd_id=t6.gd_id
		LEFT JOIN t_goods_gsval t7 ON t7.gsv_id=t6.gsv_id
		WHERE
		t0.gdcp_id IN
		<foreach collection="cpGoodsParamsList" item="gdcpId" index="index"
				 open="(" close=")" separator=",">
			#{gdcpId}
		</foreach>
		GROUP BY t0.gdcp_id)
		UNION
		(SELECT
		t1.g_id,t0.gdsp_id gd_id,t1.gd_price,
		t2.g_name gname,
		2 type,
		t3.show_url img_url,
		t5.show_url gimgurl,
		GROUP_CONCAT(DISTINCT t7.gsv_val) gsname
		FROM
		t_goods_gdsprel t0
		LEFT JOIN t_goods_detail t1 ON t0.gd_id=t1.gd_id
		LEFT JOIN t_goods t2 ON t1.g_id=t2.g_id
		LEFT JOIN t_attachment t3 ON t3.id=t1.gd_imgid
		LEFT JOIN t_goods_image t4 ON t1.g_id=t4.g_id
		LEFT JOIN t_attachment t5 ON t4.gi_id=t5.id
		LEFT JOIN t_goods_ggsval_detail t6 ON t1.gd_id=t6.gd_id
		LEFT JOIN t_goods_gsval t7 ON t7.gsv_id=t6.gsv_id
		WHERE
		t0.gdsp_id IN
		<foreach collection="spGoodsParamsList" item="gdspId" index="index"
				 open="(" close=")" separator=",">
			#{gdspId}
		</foreach>
		GROUP BY t0.gdsp_id)
	</select>

	<!--添加商品详情表 -->
	<insert id="saveGoodsDetail" parameterType="com.retailers.dht.common.entity.GoodsDetail" useGeneratedKeys="true" keyProperty="gdId">
		INSERT INTO t_goods_detail (
			g_id,gd_price,gd_costprice,gd_inventory,gd_residueinventory,gd_imgid,is_delete,version
		) VALUES
		(
			#{gid,jdbcType=BIGINT},#{gdPrice,jdbcType=BIGINT},#{gdCostprice,jdbcType=BIGINT},#{gdInventory,jdbcType=BIGINT},#{gdResidueinventory,jdbcType=BIGINT},#{gdImgid,jdbcType=BIGINT},#{isDelete,jdbcType=BIGINT},0
		)
	</insert>
	<!--修改商品详情表 -->
	<update id="updateGoodsDetail" parameterType="com.retailers.dht.common.entity.GoodsDetail">
		UPDATE t_goods_detail
		<set>
            <if test="null != gid">
                g_id = #{gid},
            </if>
            <if test="null != gdPrice">
                gd_price = #{gdPrice},
            </if>
            <if test="null != gdCostprice">
                gd_costprice = #{gdCostprice},
            </if>
            <if test="null != gdInventory">
                gd_inventory = #{gdInventory},
            </if>
            <if test="null != gdResidueinventory">
                gd_residueinventory = #{gdResidueinventory},
            </if>
            <if test="null != gdImgid">
                gd_imgid = #{gdImgid},
            </if>
            <if test="null != isDelete">
                is_delete = #{isDelete},
            </if>
            <if test="null != version">
                version = version+1,
            </if>
		</set>
		WHERE gd_id = #{gdId} and version = #{version}
	</update>
	<update id="deleteGoodsDetailByGid">
		UPDATE t_goods_detail
		SET
		is_delete = 1
		WHERE
		g_id = #{gid}
		and is_delete=0
	</update>
	<!--删除商品详情表 -->
	<delete id="deleteGoodsDetailByGdId" parameterType="java.lang.Long">
		DELETE FROM t_goods_detail WHERE gd_id = #{gdId}
	</delete>
</mapper>
