<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailers.dht.common.dao.GoodsDetailCopyMapper">

	<resultMap id="rm_goodsDetailCopy" type="com.retailers.dht.common.entity.GoodsDetailCopy">
			<result property="gdcId" column="gdc_id"/>
			<result property="gdId" column="gd_id"/>
			<result property="gid" column="g_id"/>
			<result property="gdPrice" column="gd_price"/>
			<result property="gdCostprice" column="gd_costprice"/>
			<result property="gdInventory" column="gd_inventory"/>
			<result property="gdResidueinventory" column="gd_residueinventory"/>
			<result property="gdImgid" column="gd_imgid"/>
			<result property="gdUploadpersionId" column="gd_uploadpersionId"/>
			<result property="createTime" column="create_time"/>
			<result property="isDelete" column="is_delete"/>
			<result property="version" column="version"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="goodsDetailCopy_columns">
		gdc_id,gd_id,g_id,gd_price,gd_costprice,gd_inventory,gd_residueinventory,gd_imgid,gd_uploadpersionId,create_time,is_delete,version
	</sql>
	<!-- 根据商品详情副本表主键取得数据 -->
	<select id="queryGoodsDetailCopyByGdcId" resultMap="rm_goodsDetailCopy" parameterType="java.lang.Long">
		SELECT <include refid="goodsDetailCopy_columns" />
		FROM t_goods_detail_copy WHERE gdc_id = #{gdcId}
	</select>
	<!-- 商品详情副本表查询条件组合 -->
	<sql id="goodsDetailCopy_where">
		<where>
			<if test="null != params.gdcId">
				AND gdc_id = #{params.gdcId}
			</if>
			<if test="null != params.gdId">
				AND gd_id = #{params.gdId}
			</if>
			<if test="null != params.gid">
				AND g_id = #{params.gid}
			</if>
			<if test="null != params.gdPrice">
				AND gd_price = #{params.gdPrice}
			</if>
			<if test="null != params.gdCostprice">
				AND gd_costprice = #{params.gdCostprice}
			</if>
			<if test="null != params.gdInventory">
				AND gd_inventory = #{params.gdInventory}
			</if>
			<if test="null != params.gdResidueinventory">
				AND gd_residueinventory = #{params.gdResidueinventory}
			</if>
			<if test="null != params.gdImgid">
				AND gd_imgid = #{params.gdImgid}
			</if>
			<if test="null != params.gdUploadpersionId">
				AND gd_uploadpersionId = #{params.gdUploadpersionId}
			</if>
			<if test="null != params.createTimeBegin">
				AND create_time &gt;= #{params.createTime}
			</if>
			<if test="null != params.createTimeEnd">
				AND create_time &lt;= #{params.createTime}
			</if>
			<if test="null != params.isDelete">
				AND is_delete = #{params.isDelete}
			</if>
			<if test="null != params.version">
				AND version = #{params.version}
			</if>
		</where>
	</sql>
	<!--分页查询 -->
	<select id="queryGoodsDetailCopyList" resultMap="rm_goodsDetailCopy" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT <include refid="goodsDetailCopy_columns" />
		FROM t_goods_detail_copy
		<include refid="goodsDetailCopy_where"/>
	</select>
	<!--添加商品详情副本表 -->
	<insert id="saveGoodsDetailCopy" parameterType="com.retailers.dht.common.entity.GoodsDetailCopy" useGeneratedKeys="true" keyProperty="gdcId">
		INSERT INTO t_goods_detail_copy (
			gd_id,g_id,gd_price,gd_costprice,gd_inventory,gd_residueinventory,gd_imgid,gd_uploadpersionId,create_time,is_delete,version
		) VALUES
		(
			#{gdId,jdbcType=BIGINT},#{gid,jdbcType=BIGINT},#{gdPrice,jdbcType=BIGINT},#{gdCostprice,jdbcType=BIGINT},#{gdInventory,jdbcType=BIGINT},#{gdResidueinventory,jdbcType=BIGINT},#{gdImgid,jdbcType=BIGINT},#{gdUploadpersionId,jdbcType=BIGINT},#{createTime,jdbcType=TIMESTAMP},#{isDelete,jdbcType=BIGINT},0
		)
	</insert>
	<!--修改商品详情副本表 -->
	<update id="updateGoodsDetailCopy" parameterType="com.retailers.dht.common.entity.GoodsDetailCopy">
		UPDATE t_goods_detail_copy
		<set>
            <if test="null != gdId">
                gd_id = #{gdId},
            </if>
            <if test="null != gid">
                g_id = #{gid},
            </if>
            <if test="null != gdPrice">
                gd_price = #{gdPrice},
            </if>
            <if test="null != gdCostprice">
                gd_costprice = #{gdCostprice},
            </if>
            <if test="null != gdInventory">
                gd_inventory = #{gdInventory},
            </if>
            <if test="null != gdResidueinventory">
                gd_residueinventory = #{gdResidueinventory},
            </if>
            <if test="null != gdImgid">
                gd_imgid = #{gdImgid},
            </if>
            <if test="null != gdUploadpersionId">
                gd_uploadpersionId = #{gdUploadpersionId},
            </if>
            <if test="null != createTime">
                create_time = #{createTime},
            </if>
            <if test="null != isDelete">
                is_delete = #{isDelete},
            </if>
            <if test="null != version">
                version = version+1,
            </if>
		</set>
		WHERE gdc_id = #{gdcId} and version = #{version}
	</update>
	<!--删除商品详情副本表 -->
	<delete id="deleteGoodsDetailCopyByGdcId" parameterType="java.lang.Long">
		DELETE FROM t_goods_detail_copy WHERE gdc_id = #{gdcId}
	</delete>
</mapper>
