<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailers.dht.common.dao.GoodsGdsprelMapper">

	<resultMap id="rm_goodsGdsprel" type="com.retailers.dht.common.entity.GoodsGdsprel">
			<result property="gdspId" column="gdsp_id"/>
			<result property="gdId" column="gd_id"/>
			<result property="spId" column="sp_id"/>
			<result property="spSale" column="sp_sale"/>
			<result property="spInventory" column="sp_inventory"/>
			<result property="spDiscountRate" column="sp_discount_rate"/>
			<result property="spBounds" column="sp_bounds"/>
			<result property="isDelete" column="is_delete"/>
			<result property="version" column="version"/>
	</resultMap>
	<resultMap id="rm_goodsGdsprel_vo" type="com.retailers.dht.common.vo.GoodsGdsprelVo">
		<result property="gdspId" column="gdsp_id"/>
		<result property="gdId" column="gd_id"/>
		<result property="spId" column="sp_id"/>
		<result property="spSale" column="sp_sale"/>
		<result property="spInventory" column="sp_inventory"/>
		<result property="spDiscountRate" column="sp_discount_rate"/>
		<result property="spBounds" column="sp_bounds"/>
		<result property="isDelete" column="is_delete"/>
		<result property="version" column="version"/>
		<result property="gsName" column="gsname"/>
		<result property="gdPrice" column="gdPrice"/>
		<result property="gdResidueinventory" column="gdResidueinventory"/>
		<result property="sumcount" column="sumcount"/>
		<result property="imgurl" column="imgurl"/>
		<result property="gunitname" column="g_unitname"/>
		<result property="isMenberdiscount" column="isMenberdiscount"/>
		<result property="gclass" column="gclass"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="goodsGdsprel_columns">
		gdsp_id,gd_id,sp_id,sp_sale,sp_inventory,sp_discount_rate,sp_bounds,is_delete,version
	</sql>
	<!-- 根据商品与特价关系表主键取得数据 -->
	<select id="queryGoodsGdsprelByGdspId" resultMap="rm_goodsGdsprel" parameterType="java.lang.Long">
		SELECT <include refid="goodsGdsprel_columns" />
		FROM t_goods_gdsprel WHERE gdsp_id = #{gdspId}
	</select>
	<!-- 商品与特价关系表查询条件组合 -->
	<sql id="goodsGdsprel_where">
		<where>
			<if test="null != params.gdspId">
				AND gdsp_id = #{params.gdspId}
			</if>
			<if test="null != params.gdId">
				AND gd_id = #{params.gdId}
			</if>
			<if test="null != params.spId">
				AND sp_id = #{params.spId}
			</if>
			<if test="null != params.spSale">
				AND sp_sale = #{params.spSale}
			</if>
			<if test="null != params.spInventory">
				AND sp_inventory = #{params.spInventory}
			</if>
			<if test="null != params.spDiscountRate">
				AND sp_discount_rate = #{params.spDiscountRate}
			</if>
			<if test="null != params.spBounds">
				AND sp_bounds = #{params.spBounds}
			</if>
			<if test="null != params.isDelete">
				AND is_delete = #{params.isDelete}
			</if>
			<if test="null != params.version">
				AND version = #{params.version}
			</if>
		</where>
	</sql>
	<!--分页查询 -->
	<select id="queryGoodsGdsprelList" resultMap="rm_goodsGdsprel" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT <include refid="goodsGdsprel_columns" />
		FROM t_goods_gdsprel
		<include refid="goodsGdsprel_where"/>
	</select>

	<select id="queryGoodsGdsprelListsByGid" resultMap="rm_goodsGdsprel_vo">
		SELECT t0.g_id,t1.sp_id,t1.sp_sale,t1.sp_inventory,t1.sp_discount_rate,t1.sp_bounds,group_concat(t3.gsv_val ORDER BY t3.gsv_val separator ' ') gsname,
		t0.gd_residueinventory gdResidueinventory,t0.gd_price gdPrice,t0.is_delete,t0.gd_id
		from  t_goods_detail t0
		LEFT JOIN t_goods_gdsprel t1 on t0.gd_id=t1.gd_id and t1.sp_id=#{spId} and t1.is_delete=0
		LEFT JOIN t_goods_ggsval_detail t2 ON t0.gd_id=t2.gd_id
		LEFT JOIN t_goods_gsval t3 ON t2.gsv_id=t3.gsv_id
		GROUP BY t0.gd_id,t1.is_delete,t2.is_delete,t3.is_delete
		HAVING t0.is_delete!=1 and g_id=#{gid}
	</select>

	<select id="queryGoodsGdsprelVoLists" parameterType="java.util.Map" resultMap="rm_goodsGdsprel_vo">
		SELECT COUNT(*) sumcount,t2.*,t4.show_url imgurl,t5.g_unitname
		from t_goods_ggsval_detail t1
		LEFT JOIN t_goods_gdsprel t2 ON t1.gd_id=t2.gd_id and t2.is_delete!=1
		LEFT JOIN t_goods_detail t3 ON t3.gd_id=t2.gd_id
		LEFT JOIN t_attachment t4 ON t3.gd_imgid=t4.show_url
		LEFT JOIN t_goods t5 ON t5.g_id=t3.g_id,
		t_sale_promotion t6
		where t1.is_delete!=1
		and t1.g_id=#{params[gid]}
		and t1.gsv_id IN
		<foreach collection="params.gsvId" item="gsvid" index="index"
				 open="(" close=")" separator=",">
			#{gsvid}
		</foreach>
		and t6.sp_id=t2.sp_id
		and t6.parent_id=#{params[parentId]}
		and t6.is_delete=0
		GROUP BY t1.gd_id
		ORDER BY sumcount DESC
	</select>
	<select id="queryGoodsGdcprelListByGdspIds" resultMap="rm_goodsGdsprel">
		SELECT *
		FROM
		t_goods_gdsprel
		WHERE
		gdsp_id in
		<foreach collection="list" item="gdspId" index="index"
				 open="(" close=")" separator=",">
			#{gdspId}
		</foreach>
		and is_delete=0
	</select>

	<select id="queryGoodsGdsprelVoByGdspId" resultMap="rm_goodsGdsprel_vo">
		SELECT
		t1.*,t3.is_menberdiscount isMenberdiscount,t4.g_classification gclass
		from
		t_goods_gdsprel t1
		LEFT JOIN t_goods_detail t2 ON t1.gd_id=t2.gd_id and t2.is_delete=0
		LEFT JOIN t_goods_config t3 ON t2.g_id=t3.g_id and t3.is_putway=1
		LEFT JOIN t_goods t4 ON t4.g_id=t2.g_id and t4.is_checked=1 and t4.is_delete=0
		WHERE
		t1.is_delete=0
		and t1.gdsp_id =#{gdspId}

	</select>

	<update id="editGoodsInventorys">
		UPDATE t_goods_gdsprel t1
		<set>
			t1.sp_inventory = CASE
			<foreach collection="list" item="item" index="index" >
				WHEN  t1.gdsp_id=#{item.gdspId} THEN
				t1.sp_inventory + #{item.spInventory}
			</foreach> end,
			t1.version=t1.version+1
		</set>
		WHERE
		<foreach collection="list" item="item" index="index" separator="or" close=")" open="(" >
			(t1.gdsp_id=#{item.gdspId} and t1.version=#{item.version} and t1.sp_inventory + #{item.spInventory}>=0)
		</foreach>
		and t1.is_delete=0
	</update>

	<!--添加商品与特价关系表 -->
	<insert id="saveGoodsGdsprel" parameterType="com.retailers.dht.common.entity.GoodsGdsprel" useGeneratedKeys="true" keyProperty="gdspId">
		INSERT INTO t_goods_gdsprel (
			gd_id,sp_id,sp_sale,sp_inventory,sp_discount_rate,sp_bounds,is_delete,version
		) VALUES
		(
			#{gdId,jdbcType=BIGINT},#{spId,jdbcType=BIGINT},#{spSale,jdbcType=BIGINT},#{spInventory,jdbcType=BIGINT},#{spDiscountRate,jdbcType=BIGINT},#{spBounds,jdbcType=BIGINT},#{isDelete,jdbcType=BIGINT},0
		)
	</insert>
	<!--修改商品与特价关系表 -->
	<update id="updateGoodsGdsprel" parameterType="com.retailers.dht.common.entity.GoodsGdsprel">
		UPDATE t_goods_gdsprel
		<set>
            <if test="null != gdId">
                gd_id = #{gdId},
            </if>
            <if test="null != spId">
                sp_id = #{spId},
            </if>
            <if test="null != spSale">
                sp_sale = #{spSale},
            </if>
            <if test="null != spInventory">
                sp_inventory = #{spInventory},
            </if>
            <if test="null != spDiscountRate">
                sp_discount_rate = #{spDiscountRate},
            </if>
            <if test="null != spBounds">
                sp_bounds = #{spBounds},
            </if>
            <if test="null != isDelete">
                is_delete = #{isDelete},
            </if>
            <if test="null != version">
                version = version+1,
            </if>
		</set>
		WHERE gdsp_id = #{gdspId} and version = #{version}
	</update>
	<!--删除商品与特价关系表 -->
	<delete id="deleteGoodsGdsprelByGdspId" parameterType="java.lang.Long">
		DELETE FROM t_goods_gdsprel WHERE gdsp_id = #{gdspId}
	</delete>
</mapper>
