<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailers.dht.common.dao.GoodsGtgbrelMapper">

	<resultMap id="rm_goodsGtgbrel" type="com.retailers.dht.common.entity.GoodsGtgbrel">
			<result property="gtgbId" column="gtgb_id"/>
			<result property="gtId" column="gt_id"/>
			<result property="gbId" column="gb_id"/>
			<result property="isDelete" column="is_delete"/>
			<result property="version" column="version"/>
	</resultMap>
	<resultMap id="rm_goodsGtgbrel_vo" type="com.retailers.dht.common.vo.GoodsGtgbrelVo">
		<result property="gtgbId" column="gtgb_id"/>
		<result property="gtId" column="gt_id"/>
		<result property="gbId" column="gb_id"/>
		<result property="isDelete" column="is_delete"/>
		<result property="version" column="version"/>
		<result property="brandname" column="brandname"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="goodsGtgbrel_columns">
		gtgb_id,gt_id,gb_id,is_delete,version
	</sql>
	<!-- 根据大类与规格关系表主键取得数据 -->
	<select id="queryGoodsGtgbrelByGtgbId" resultMap="rm_goodsGtgbrel" parameterType="java.lang.Long">
		SELECT <include refid="goodsGtgbrel_columns" />
		FROM t_goods_gtgbrel WHERE gtgb_id = #{gtgbId}
	</select>
	<!-- 大类与规格关系表查询条件组合 -->
	<sql id="goodsGtgbrel_where">
		<where>
			<if test="null != params.gtgbId">
				AND t1.gtgb_id = #{params.gtgbId}
			</if>
			<if test="null != params.gtId">
				AND t1.gt_id = #{params.gtId}
			</if>
			<if test="null != params.gbId">
				AND t1.gb_id = #{params.gbId}
			</if>
			<if test="null != params.isDelete">
				AND t1.is_delete = #{params.isDelete}
			</if>
			<if test="null != params.version">
				AND t1.version = #{params.version}
			</if>
			<if test="null != params.gbName and ''!=params.gbName">
				AND t2.gb_name = #{params.gbName}
			</if>
		</where>
	</sql>
	<!--分页查询 -->
	<select id="queryGoodsGtgbrelList" resultMap="rm_goodsGtgbrel_vo" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT t1.*,t2.gb_name brandname from t_goods_gtgbrel t1
		LEFT JOIN t_goods_brand t2 on t1.gb_id=t2.gb_id
		<include refid="goodsGtgbrel_where"/>
	</select>
	<!--添加大类与规格关系表 -->
	<insert id="saveGoodsGtgbrel" parameterType="com.retailers.dht.common.entity.GoodsGtgbrel" useGeneratedKeys="true" keyProperty="gtgbId">
		INSERT INTO t_goods_gtgbrel (
			gt_id,gb_id,is_delete,version
		) VALUES
		(
			#{gtId,jdbcType=BIGINT},#{gbId,jdbcType=BIGINT},#{isDelete,jdbcType=BIGINT},0
		)
	</insert>
	<!--修改大类与规格关系表 -->
	<update id="updateGoodsGtgbrel" parameterType="com.retailers.dht.common.entity.GoodsGtgbrel">
		UPDATE t_goods_gtgbrel
		<set>
            <if test="null != gtId">
                gt_id = #{gtId},
            </if>
            <if test="null != gbId">
                gb_id = #{gbId},
            </if>
            <if test="null != isDelete">
                is_delete = #{isDelete},
            </if>
            <if test="null != version">
                version = version+1,
            </if>
		</set>
		WHERE gtgb_id = #{gtgbId} and version = #{version}
	</update>
	<!--删除大类与规格关系表 -->
	<delete id="deleteGoodsGtgbrelByGtgbId" parameterType="java.lang.Long">
		DELETE FROM t_goods_gtgbrel WHERE gtgb_id = #{gtgbId}
	</delete>
</mapper>
