<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailers.dht.common.dao.GoodsConfigMapper">

	<resultMap id="rm_goodsConfig" type="com.retailers.dht.common.entity.GoodsConfig">
			<result property="gcId" column="gc_id"/>
			<result property="gid" column="g_id"/>
			<result property="gsalesvolume" column="g_salesvolume"/>
			<result property="gfreight" column="g_freight"/>
			<result property="gdeposit" column="g_deposit"/>
			<result property="gedt" column="g_edt"/>
			<result property="gprofitability" column="g_profitability"/>
			<result property="gstartbuy" column="g_startbuy"/>
			<result property="gendbuy" column="g_endbuy"/>
			<result property="gcCopyid" column="gc_copyid"/>
			<result property="isPutway" column="is_putway"/>
			<result property="isAllowsetdeliverytime" column="is_allowsetdeliverytime"/>
			<result property="isShowsalesvolume" column="is_showsalesvolume"/>
			<result property="isMenberdiscount" column="is_menberdiscount"/>
			<result property="isCod" column="is_cod"/>
			<result property="isServicegoods" column="is_servicegoods"/>
			<result property="isMultiplebuy" column="is_multiplebuy"/>
			<result property="isAdvancesale" column="is_advancesale"/>
			<result property="isOnlymenberbuy" column="is_onlymenberbuy"/>
			<result property="isDelete" column="is_delete"/>
			<result property="version" column="version"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="goodsConfig_columns">
		gc_id,g_id,g_salesvolume,g_freight,g_deposit,g_edt,g_profitability,g_startbuy,g_endbuy,gc_copyid,is_putway,is_allowsetdeliverytime,is_showsalesvolume,is_menberdiscount,is_cod,is_servicegoods,is_multiplebuy,is_advancesale,is_onlymenberbuy,is_delete,version
	</sql>
	<!-- 根据商品配置表主键取得数据 -->
	<select id="queryGoodsConfigByGcId" resultMap="rm_goodsConfig" parameterType="java.lang.Long">
		SELECT <include refid="goodsConfig_columns" />
		FROM t_goods_config WHERE gc_id = #{gcId}
	</select>
	<!-- 商品配置表查询条件组合 -->
	<sql id="goodsConfig_where">
		<where>
			<if test="null != params.gcId">
				AND gc_id = #{params.gcId}
			</if>
			<if test="null != params.gid">
				AND g_id = #{params.gid}
			</if>
			<if test="null != params.gsalesvolume">
				AND g_salesvolume = #{params.gsalesvolume}
			</if>
			<if test="null != params.gfreight">
				AND g_freight = #{params.gfreight}
			</if>
			<if test="null != params.gdeposit">
				AND g_deposit = #{params.gdeposit}
			</if>
			<if test="null != params.gedtBegin">
				AND g_edt &gt;= #{params.gedt}
			</if>
			<if test="null != params.gedtEnd">
				AND g_edt &lt;= #{params.gedt}
			</if>
			<if test="null != params.gprofitability">
				AND g_profitability = #{params.gprofitability}
			</if>
			<if test="null != params.gstartbuy">
				AND g_startbuy = #{params.gstartbuy}
			</if>
			<if test="null != params.gendbuy">
				AND g_endbuy = #{params.gendbuy}
			</if>
			<if test="null != params.gcCopyid">
				AND gc_copyid = #{params.gcCopyid}
			</if>
			<if test="null != params.isPutway">
				AND is_putway = #{params.isPutway}
			</if>
			<if test="null != params.isAllowsetdeliverytime">
				AND is_allowsetdeliverytime = #{params.isAllowsetdeliverytime}
			</if>
			<if test="null != params.isShowsalesvolume">
				AND is_showsalesvolume = #{params.isShowsalesvolume}
			</if>
			<if test="null != params.isMenberdiscount">
				AND is_menberdiscount = #{params.isMenberdiscount}
			</if>
			<if test="null != params.isCod">
				AND is_cod = #{params.isCod}
			</if>
			<if test="null != params.isServicegoods">
				AND is_servicegoods = #{params.isServicegoods}
			</if>
			<if test="null != params.isMultiplebuy">
				AND is_multiplebuy = #{params.isMultiplebuy}
			</if>
			<if test="null != params.isAdvancesale">
				AND is_advancesale = #{params.isAdvancesale}
			</if>
			<if test="null != params.isOnlymenberbuy">
				AND is_onlymenberbuy = #{params.isOnlymenberbuy}
			</if>
			<if test="null != params.isDelete">
				AND is_delete = #{params.isDelete}
			</if>
			<if test="null != params.version">
				AND version = #{params.version}
			</if>
		</where>
	</sql>
	<!--分页查询 -->
	<select id="queryGoodsConfigList" resultMap="rm_goodsConfig" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT <include refid="goodsConfig_columns" />
		FROM t_goods_config
		<include refid="goodsConfig_where"/>
	</select>
	<select id="queryGoodsConfigBygids" resultMap="rm_goodsConfig">
		SELECT *
		FROM t_goods_config
		WHERE
		g_id IN
		<foreach collection="gids" item="gid" open="(" close=")" separator=",">
			#{gid}
		</foreach>
	</select>
	<!--添加商品配置表 -->
	<insert id="saveGoodsConfig" parameterType="com.retailers.dht.common.entity.GoodsConfig" useGeneratedKeys="true" keyProperty="gcId">
		INSERT INTO t_goods_config (
			g_id,g_salesvolume,g_freight,g_deposit,g_edt,g_profitability,g_startbuy,g_endbuy,gc_copyid,is_putway,is_allowsetdeliverytime,is_showsalesvolume,is_menberdiscount,is_cod,is_servicegoods,is_multiplebuy,is_advancesale,is_onlymenberbuy,is_delete,version
		) VALUES
		(
			#{gid,jdbcType=BIGINT},#{gsalesvolume,jdbcType=BIGINT},#{gfreight,jdbcType=REAL},#{gdeposit,jdbcType=REAL},#{gedt,jdbcType=TIMESTAMP},#{gprofitability,jdbcType=REAL},#{gstartbuy,jdbcType=BIGINT},#{gendbuy,jdbcType=BIGINT},#{gcCopyid,jdbcType=BIGINT},#{isPutway,jdbcType=BIGINT},#{isAllowsetdeliverytime,jdbcType=BIGINT},#{isShowsalesvolume,jdbcType=BIGINT},#{isMenberdiscount,jdbcType=BIGINT},#{isCod,jdbcType=BIGINT},#{isServicegoods,jdbcType=BIGINT},#{isMultiplebuy,jdbcType=BIGINT},#{isAdvancesale,jdbcType=BIGINT},#{isOnlymenberbuy,jdbcType=BIGINT},#{isDelete,jdbcType=BIGINT},0
		)
	</insert>
	<!--修改商品配置表 -->
	<update id="updateGoodsConfig" parameterType="com.retailers.dht.common.entity.GoodsConfig">
		UPDATE t_goods_config
		<set>
            <if test="null != gid">
                g_id = #{gid},
            </if>

                g_salesvolume = #{gsalesvolume},

                g_freight = #{gfreight},

                g_deposit = #{gdeposit},

            <if test="null != gedt">
                g_edt = #{gedt},
            </if>
            <if test="null != gprofitability">
                g_profitability = #{gprofitability},
            </if>

                g_startbuy = #{gstartbuy},

                g_endbuy = #{gendbuy},

            <if test="null != gcCopyid">
                gc_copyid = #{gcCopyid},
            </if>
            <if test="null != isPutway">
                is_putway = #{isPutway},
            </if>
            <if test="null != isAllowsetdeliverytime">
                is_allowsetdeliverytime = #{isAllowsetdeliverytime},
            </if>
            <if test="null != isShowsalesvolume">
                is_showsalesvolume = #{isShowsalesvolume},
            </if>
            <if test="null != isMenberdiscount">
                is_menberdiscount = #{isMenberdiscount},
            </if>
            <if test="null != isCod">
                is_cod = #{isCod},
            </if>
            <if test="null != isServicegoods">
                is_servicegoods = #{isServicegoods},
            </if>
            <if test="null != isMultiplebuy">
                is_multiplebuy = #{isMultiplebuy},
            </if>
            <if test="null != isAdvancesale">
                is_advancesale = #{isAdvancesale},
            </if>
			<if test="null != isOnlymenberbuy">
				is_onlymenberbuy = #{isOnlymenberbuy},
			</if>
            <if test="null != isDelete">
                is_delete = #{isDelete},
            </if>
            <if test="null != version">
                version = version+1,
            </if>
		</set>
		WHERE g_id = #{gid} and version = #{version}
	</update>
	<!--删除商品配置表 -->
	<delete id="deleteGoodsConfigByGcId" parameterType="java.lang.Long">
		DELETE FROM t_goods_config WHERE gc_id = #{gcId}
	</delete>
</mapper>
