<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailers.dht.common.dao.OrderSuccessQueueMapper">

	<resultMap id="rm_orderSuccessQueue" type="com.retailers.dht.common.entity.OrderSuccessQueue">
			<result property="id" column="id"/>
			<result property="orderId" column="order_id"/>
			<result property="createTime" column="create_time"/>
			<result property="executeNum" column="execute_num"/>
			<result property="status" column="status"/>
			<result property="remark" column="remark"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="orderSuccessQueue_columns">
		id,order_id,create_time,execute_num,status,remark
	</sql>
	<!-- 根据订单支付成功队例主键取得数据 -->
	<select id="queryOrderSuccessQueueById" resultMap="rm_orderSuccessQueue" parameterType="java.lang.Long">
		SELECT <include refid="orderSuccessQueue_columns" />
		FROM t_order_success_queue WHERE id = #{id}
	</select>
	<!-- 订单支付成功队例查询条件组合 -->
	<sql id="orderSuccessQueue_where">
		<where>
			<if test="null != params.id">
				AND id = #{params.id}
			</if>
			<if test="null != params.orderId">
				AND order_id = #{params.orderId}
			</if>
			<if test="null != params.createTimeBegin">
				AND create_time &gt;= TO_DATE('${params.createTimeBegin}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.createTimeEnd">
				AND create_time &lt;= TO_DATE('${params.createTimeEnd}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.executeNum">
				AND execute_num = #{params.executeNum}
			</if>
			<if test="null != params.status">
				AND status = #{params.status}
			</if>
			<if test="null != params.remark and '' != params.remark">
				AND remark = #{params.remark}
			</if>
		</where>
	</sql>
	<!--分页查询 -->
	<select id="queryOrderSuccessQueueList" resultMap="rm_orderSuccessQueue" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT <include refid="orderSuccessQueue_columns" />
		FROM t_order_success_queue
		<include refid="orderSuccessQueue_where"/>
	</select>
	<!--添加订单支付成功队例 -->
	<insert id="saveOrderSuccessQueue" parameterType="com.retailers.dht.common.entity.OrderSuccessQueue" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_order_success_queue (
			order_id,create_time,execute_num,status,remark
		) VALUES
		(
			#{orderId,jdbcType=BIGINT},#{createTime,jdbcType=TIMESTAMP},#{executeNum,jdbcType=INTEGER},#{status,jdbcType=INTEGER},#{remark,jdbcType=VARCHAR}
		)
	</insert>
	<!--修改订单支付成功队例 -->
	<update id="updateOrderSuccessQueue" parameterType="com.retailers.dht.common.entity.OrderSuccessQueue">
		UPDATE t_order_success_queue
		<set>
            <if test="null != orderId">
                order_id = #{orderId},
            </if>
            <if test="null != createTime">
                create_time = #{createTime},
            </if>
            <if test="null != executeNum">
                execute_num = #{executeNum},
            </if>
            <if test="null != status">
                status = #{status},
            </if>
            <if test="null != remark and '' != remark">
                remark = #{remark},
            </if>
		</set>
		WHERE id = #{id}
	</update>
	<!--删除订单支付成功队例 -->
	<delete id="deleteOrderSuccessQueueById" parameterType="java.lang.Long">
		DELETE FROM t_order_success_queue WHERE id = #{id}
	</delete>
</mapper>
