<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailers.dht.common.dao.OrderRefundMapper">

	<resultMap id="rm_orderRefund" type="com.retailers.dht.common.entity.OrderRefund">
			<result property="rdId" column="rd_id"/>
			<result property="rdOrderNo" column="rd_order_no"/>
			<result property="rdOrder" column="rd_order"/>
			<result property="rdPrice" column="rd_price"/>
			<result property="rdIntegral" column="rd_integral"/>
			<result property="rdCallbackNo" column="rd_callback_no"/>
			<result property="rdSendDate" column="rd_send_date"/>
			<result property="rdDate" column="rd_date"/>
			<result property="rdRemark" column="rd_remark"/>
			<result property="rdCreateDate" column="rd_create_date"/>
			<result property="rdStatus" column="rd_status"/>
			<result property="rdSuid" column="rd_suid"/>
			<result property="rdAuditingRemark" column="rd_auditing_remark"/>
			<result property="rdAuditingDate" column="rd_auditing_date"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="orderRefund_columns">
		rd_id,rd_order_no,rd_order,rd_price,rd_integral,rd_callback_no,rd_send_date,rd_date,rd_remark,rd_create_date,rd_status,rd_suid,rd_auditing_remark,rd_auditing_date
	</sql>
	<!-- 根据退款订单列表主键取得数据 -->
	<select id="queryOrderRefundByRdId" resultMap="rm_orderRefund" parameterType="java.lang.Long">
		SELECT <include refid="orderRefund_columns" />
		FROM t_order_refund WHERE rd_id = #{rdId}
	</select>
	<!-- 退款订单列表查询条件组合 -->
	<sql id="orderRefund_where">
		<where>
			<if test="null != params.rdId">
				AND rd_id = #{params.rdId}
			</if>
			<if test="null != params.rdOrderNo and '' != params.rdOrderNo">
				AND rd_order_no = #{params.rdOrderNo}
			</if>
			<if test="null != params.rdOrder">
				AND rd_order = #{params.rdOrder}
			</if>
			<if test="null != params.rdPrice">
				AND rd_price = #{params.rdPrice}
			</if>
			<if test="null != params.rdIntegral">
				AND rd_integral = #{params.rdIntegral}
			</if>
			<if test="null != params.rdCallbackNo and '' != params.rdCallbackNo">
				AND rd_callback_no = #{params.rdCallbackNo}
			</if>
			<if test="null != params.rdSendDateBegin">
				AND rd_send_date &gt;= TO_DATE('${params.rdSendDateBegin}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.rdSendDateEnd">
				AND rd_send_date &lt;= TO_DATE('${params.rdSendDateEnd}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.rdDateBegin">
				AND rd_date &gt;= TO_DATE('${params.rdDateBegin}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.rdDateEnd">
				AND rd_date &lt;= TO_DATE('${params.rdDateEnd}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.rdRemark and '' != params.rdRemark">
				AND rd_remark = #{params.rdRemark}
			</if>
			<if test="null != params.rdCreateDateBegin">
				AND rd_create_date &gt;= TO_DATE('${params.rdCreateDateBegin}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.rdCreateDateEnd">
				AND rd_create_date &lt;= TO_DATE('${params.rdCreateDateEnd}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.rdStatus">
				AND rd_status = #{params.rdStatus}
			</if>
			<if test="null != params.rdSuid">
				AND rd_suid = #{params.rdSuid}
			</if>
			<if test="null != params.rdAuditingRemark and '' != params.rdAuditingRemark">
				AND rd_auditing_remark = #{params.rdAuditingRemark}
			</if>
			<if test="null != params.rdAuditingDateBegin">
				AND rd_auditing_date &gt;= TO_DATE('${params.rdAuditingDateBegin}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.rdAuditingDateEnd">
				AND rd_auditing_date &lt;= TO_DATE('${params.rdAuditingDateEnd}','yyyy-mm-dd hh24:mi:ss')
			</if>
		</where>
	</sql>
	<!--分页查询 -->
	<select id="queryOrderRefundList" resultMap="rm_orderRefund" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT <include refid="orderRefund_columns" />
		FROM t_order_refund
		<include refid="orderRefund_where"/>
	</select>
	<!--添加退款订单列表 -->
	<insert id="saveOrderRefund" parameterType="com.retailers.dht.common.entity.OrderRefund" useGeneratedKeys="true" keyProperty="rdId">
		INSERT INTO t_order_refund (
			rd_order_no,rd_order,rd_price,rd_integral,rd_callback_no,rd_send_date,rd_date,rd_remark,rd_create_date,rd_status,rd_suid,rd_auditing_remark,rd_auditing_date
		) VALUES
		(
			#{rdOrderNo,jdbcType=VARCHAR},#{rdOrder,jdbcType=BIGINT},#{rdPrice,jdbcType=BIGINT},#{rdIntegral,jdbcType=BIGINT},#{rdCallbackNo,jdbcType=VARCHAR},#{rdSendDate,jdbcType=TIMESTAMP},#{rdDate,jdbcType=TIMESTAMP},#{rdRemark,jdbcType=VARCHAR},#{rdCreateDate,jdbcType=TIMESTAMP},#{rdStatus,jdbcType=BIGINT},#{rdSuid,jdbcType=BIGINT},#{rdAuditingRemark,jdbcType=VARCHAR},#{rdAuditingDate,jdbcType=TIMESTAMP}
		)
	</insert>
	<!--修改退款订单列表 -->
	<update id="updateOrderRefund" parameterType="com.retailers.dht.common.entity.OrderRefund">
		UPDATE t_order_refund
		<set>
            <if test="null != rdOrderNo and '' != rdOrderNo">
                rd_order_no = #{rdOrderNo},
            </if>
            <if test="null != rdOrder">
                rd_order = #{rdOrder},
            </if>
            <if test="null != rdPrice">
                rd_price = #{rdPrice},
            </if>
            <if test="null != rdIntegral">
                rd_integral = #{rdIntegral},
            </if>
            <if test="null != rdCallbackNo and '' != rdCallbackNo">
                rd_callback_no = #{rdCallbackNo},
            </if>
            <if test="null != rdSendDate">
                rd_send_date = #{rdSendDate},
            </if>
            <if test="null != rdDate">
                rd_date = #{rdDate},
            </if>
            <if test="null != rdRemark and '' != rdRemark">
                rd_remark = #{rdRemark},
            </if>
            <if test="null != rdCreateDate">
                rd_create_date = #{rdCreateDate},
            </if>
            <if test="null != rdStatus">
                rd_status = #{rdStatus},
            </if>
            <if test="null != rdSuid">
                rd_suid = #{rdSuid},
            </if>
            <if test="null != rdAuditingRemark and '' != rdAuditingRemark">
                rd_auditing_remark = #{rdAuditingRemark},
            </if>
            <if test="null != rdAuditingDate">
                rd_auditing_date = #{rdAuditingDate},
            </if>
		</set>
		WHERE rd_id = #{rdId}
	</update>
	<!--删除退款订单列表 -->
	<delete id="deleteOrderRefundByRdId" parameterType="java.lang.Long">
		DELETE FROM t_order_refund WHERE rd_id = #{rdId}
	</delete>
</mapper>
