<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailers.dht.common.dao.SalePromotionMapper">

	<resultMap id="rm_salePromotion" type="com.retailers.dht.common.vo.SalePromotionVo">
			<result property="spId" column="sp_id"/>
			<result property="propotionName" column="propotion_name"/>
			<result property="goodsId" column="goods_id"/>
			<result property="goodsName" column="goods_name"/>
			<result property="parentId" column="parent_id"/>
			<result property="spType" column="sp_type"/>
			<result property="spOrder" column="sp_order"/>
			<result property="isCoupon" column="is_coupon"/>
			<result property="spRegion" column="sp_region"/>
			<result property="spStartTime" column="sp_start_time"/>
			<result property="spEndTime" column="sp_end_time"/>
			<result property="isDelete" column="is_delete"/>
			<result property="version" column="version"/>
			<result property="minprice" column="minprice"/>
			<result property="maxprice" column="maxprice"/>
			<result property="spinventory" column="spinventory"/>
			<result property="imgurl" column="imgurl"/>
			<result property="timestap" column="timestap"/>
			<result property="gprice" column="gprice"/>
			<result property="gunitname" column="gunitname"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="salePromotion_columns">
		sp_id,propotion_name,goods_id,goods_name,parent_id,sp_type,sp_order,is_coupon,sp_region,sp_start_time,sp_end_time,is_delete,version
	</sql>
	<!-- 根据商品特价表主键取得数据 -->
	<select id="querySalePromotionBySpId" resultMap="rm_salePromotion" parameterType="java.lang.Long">
		SELECT <include refid="salePromotion_columns" />
		FROM t_sale_promotion WHERE sp_id = #{spId}
	</select>
	<!-- 商品特价表查询条件组合 -->
	<sql id="salePromotion_where">
		<where>
			<if test="null != params.spId">
				AND sp_id = #{params.spId}
			</if>
			<if test="null != params.propotionName and '' != params.propotionName">
				AND propotion_name = #{params.propotionName}
			</if>
			<if test="null != params.goodsId">
				AND goods_id = #{params.goodsId}
			</if>
			<if test="null != params.goodsName and '' != params.goodsName">
				AND goods_name = #{params.goodsName}
			</if>
			<if test="null != params.parentId">
				AND parent_id = #{params.parentId}
			</if>
			<if test="null != params.spType">
				AND sp_type = #{params.spType}
			</if>
			<if test="null != params.spOrder">
				AND sp_order = #{params.spOrder}
			</if>
			<if test="null != params.isCoupon">
				AND is_coupon = #{params.isCoupon}
			</if>
			<if test="null != params.spRegion">
				AND sp_region = #{params.spRegion}
			</if>
			<if test="null != params.spStartTimeBegin">
				AND sp_start_time &gt;= #{params.spStartTime}
			</if>
			<if test="null != params.spStartTimeEnd">
				AND sp_start_time &lt;= #{params.spStartTime}
			</if>
			<if test="null != params.spEndTimeBegin">
				AND sp_end_time &gt;= #{params.spEndTime}
			</if>
			<if test="null != params.spEndTimeEnd">
				AND sp_end_time &lt;= #{params.spEndTime}
			</if>
			<if test="null != params.isDelete">
				AND is_delete = #{params.isDelete}
			</if>
			<if test="null != params.version">
				AND version = #{params.version}
			</if>
		</where>
	</sql>
	<!--分页查询 -->
	<select id="querySalePromotionList" resultMap="rm_salePromotion" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT <include refid="salePromotion_columns" />
		FROM t_sale_promotion
		<include refid="salePromotion_where"/> ORDER BY sp_order
	</select>
	<select id="querySalePromotionListWeb" resultMap="rm_salePromotion" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT timestampdiff(SECOND,CURRENT_TIME(),t1.sp_end_time) timestap,t3.*,t6.g_price gprice,t6.g_unitname gunitname,t5.show_url imgurl,min(t2.sp_sale) minprice,max(t2.sp_sale) maxprice,t2.sp_inventory spinventory
		FROM
		t_sale_promotion t1 ,
		t_sale_promotion t3
		LEFT JOIN t_goods_gdsprel t2 ON t3.sp_id=t2.sp_id and t2.is_delete!=1
		LEFT JOIN t_goods_image t4 ON t4.g_id=t3.goods_id and t4.is_delete!=1
		LEFT JOIN t_attachment t5 ON t4.gi_id=t5.id
		LEFT JOIN t_goods t6 ON t3.goods_id=t6.g_id
		where
		t3.is_delete!=1
		<if test="null != params.nowDate">
			and #{params.nowDate}>t1.sp_start_time
			and t1.sp_end_time>#{params.nowDate}
		</if>
		and t1.sp_id=t3.parent_id
		<if test="null != params.spType">
			and t1.sp_type=#{params.spType}
		</if>
		<if test="null != params.gid">
			and t3.goods_id=#{params.gid}
		</if>
		GROUP BY t3.sp_id
	</select>
	<!--添加商品特价表 -->
	<insert id="saveSalePromotion" parameterType="com.retailers.dht.common.entity.SalePromotion" useGeneratedKeys="true" keyProperty="spId">
		INSERT INTO t_sale_promotion (
			propotion_name,goods_id,goods_name,parent_id,sp_type,sp_order,is_coupon,sp_region,sp_start_time,sp_end_time,is_delete,version
		) VALUES
		(
			#{propotionName,jdbcType=VARCHAR},#{goodsId,jdbcType=BIGINT},#{goodsName,jdbcType=VARCHAR},#{parentId,jdbcType=BIGINT},#{spType,jdbcType=BIGINT},#{spOrder,jdbcType=BIGINT},#{isCoupon,jdbcType=BIGINT},#{spRegion,jdbcType=BIGINT},#{spStartTime,jdbcType=TIMESTAMP},#{spEndTime,jdbcType=TIMESTAMP},#{isDelete,jdbcType=BIGINT},0
		)
	</insert>
	<!--修改商品特价表 -->
	<update id="updateSalePromotion" parameterType="com.retailers.dht.common.entity.SalePromotion">
		UPDATE t_sale_promotion
		<set>
            <if test="null != propotionName and '' != propotionName">
                propotion_name = #{propotionName},
            </if>
            <if test="null != goodsId">
                goods_id = #{goodsId},
            </if>
            <if test="null != goodsName and '' != goodsName">
                goods_name = #{goodsName},
            </if>
            <if test="null != parentId">
                parent_id = #{parentId},
            </if>
            <if test="null != spType">
                sp_type = #{spType},
            </if>
            <if test="null != spOrder">
                sp_order = #{spOrder},
            </if>
            <if test="null != isCoupon">
                is_coupon = #{isCoupon},
            </if>
            <if test="null != spRegion">
                sp_region = #{spRegion},
            </if>
            <if test="null != spStartTime">
                sp_start_time = #{spStartTime},
            </if>
            <if test="null != spEndTime">
                sp_end_time = #{spEndTime},
            </if>
            <if test="null != isDelete">
                is_delete = #{isDelete},
            </if>
            <if test="null != version">
                version = version+1,
            </if>
		</set>
		WHERE sp_id = #{spId} and version = #{version}
	</update>
	<!--删除商品特价表 -->
	<delete id="deleteSalePromotionBySpId" parameterType="java.lang.Long">
		DELETE FROM t_sale_promotion WHERE sp_id = #{spId}
	</delete>
</mapper>
