<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailers.dht.common.dao.UserMapper">

	<resultMap id="rm_user" type="com.retailers.dht.common.entity.User">
		<result property="uid" column="u_id"/>
		<result property="urecommendId" column="u_recommend_id"/>
		<result property="uaccount" column="u_account"/>
		<result property="uphone" column="u_phone"/>
		<result property="uemail" column="u_email"/>
		<result property="uname" column="u_name"/>
		<result property="upwd" column="u_pwd"/>
		<result property="upayPwd" column="u_pay_pwd"/>
		<result property="uimgid" column="u_imgid"/>
		<result property="utype" column="u_type"/>
		<result property="ufirstCommission" column="u_first_commission"/>
		<result property="urecommendCommission" column="u_recommend_commission"/>
		<result property="urechage" column="u_rechage"/>
		<result property="ustatus" column="u_status"/>
		<result property="isDelete" column="is_delete"/>
		<result property="ucreateTime" column="u_create_time"/>
		<result property="uisOld" column="u_is_old"/>
		<result property="uoldPwd" column="u_old_pwd"/>
		<result property="usex" column="u_sex"/>
		<result property="version" column="version"/>
	</resultMap>

	<resultMap id="rm_user_vo" type="com.retailers.dht.common.vo.UserVo">
		<result property="uid" column="uid"/>
		<result property="uaccount" column="uaccount"/>
		<result property="uphone" column="uphone"/>
		<result property="uemail" column="uemail"/>
		<result property="uname" column="uname"/>
		<result property="heardUrl" column="heardUrl"/>
		<result property="utype" column="utype"/>
		<result property="ustatus" column="ustatus"/>
		<result property="ucreateTime" column="ucreateTime"/>
		<result property="usex" column="usex"/>
		<result property="discount" column="discount"/>
		<result property="rechageNm" column="rechageNm"/>
		<result property="uRecommendNm" column="uRecommendNm"/>
		<result property="uTotalWallet" column="uTotalWallet"/>
		<result property="uCurWallet" column="uCurWallet"/>
		<result property="consumeTotal" column="consumeTotal"/>
		<result property="walletConsumeTotal" column="walletConsumeTotal"/>
		<result property="onLineConsumeTotal" column="onLineConsumeTotal"/>
		<result property="openId" column="openId"/>
	</resultMap>

	<resultMap id="rm_user_info_view" type="com.retailers.dht.common.view.UserInfoVIew">
		<result property="uid" column="u_id"/>
		<result property="urecommendId" column="u_recommend_id"/>
		<result property="uaccount" column="u_account"/>
		<result property="uphone" column="u_phone"/>
		<result property="uemail" column="u_email"/>
		<result property="uname" column="u_name"/>
		<result property="uimgid" column="u_imgid"/>
		<result property="headUrl" column="headUrl"/>
		<result property="utype" column="u_type"/>
		<result property="ustatus" column="u_status"/>
		<result property="isDelete" column="is_delete"/>
		<result property="ucreateTime" column="u_create_time"/>
		<result property="uisOld" column="u_is_old"/>
		<result property="usex" column="u_sex"/>
		<result property="utotalWallet" column="u_total_wallet"/>
		<result property="ucurWallet" column="u_cur_wallet"/>
		<result property="utotalIntegral" column="u_total_integral"/>
		<result property="ucurIntegral" column="u_cur_integral"/>
		<result property="wauOpenid" column="wau_openid"/>
	</resultMap>
	<!-- 用于select查询公用抽取的列 -->
	<sql id="user_columns">
		u_id,u_recommend_id,u_account,u_phone,u_email,u_name,u_pwd,u_pay_pwd,u_imgid,u_type,u_first_commission,u_recommend_commission,u_rechage,u_status,is_delete,u_create_time,u_is_old,u_old_pwd,u_sex,version
	</sql>
	<!-- 根据平台会员主键取得数据 -->
	<select id="queryUserByUid" resultMap="rm_user" parameterType="java.lang.Long">
		SELECT <include refid="user_columns" />
		FROM t_user WHERE u_id = #{uid}
	</select>
	<!-- 登陆帐号 -->
	<select id="queryUserByAccount" resultMap="rm_user">
		SELECT <include refid="user_columns" />
		FROM t_user WHERE (u_account = #{account} or u_phone=#{account} or u_email=#{account}) limit 1
	</select>
	<!-- 平台会员查询条件组合 -->
	<sql id="user_where">
		<where>
			<if test="null != params.uid">
				AND u_id = #{params.uid}
			</if>
			<if test="null != params.urecommendId">
				AND u_recommend_id = #{params.urecommendId}
			</if>
			<if test="null != params.uaccount and '' != params.uaccount">
				AND u_account = #{params.uaccount}
			</if>
			<if test="null != params.uphone and '' != params.uphone">
				AND u_phone = #{params.uphone}
			</if>
			<if test="null != params.uemail and '' != params.uemail">
				AND u_email = #{params.uemail}
			</if>
			<if test="null != params.uname and '' != params.uname">
				AND u_name = #{params.uname}
			</if>
			<if test="null != params.upwd and '' != params.upwd">
				AND u_pwd = #{params.upwd}
			</if>
			<if test="null != params.upayPwd and '' != params.upayPwd">
				AND u_pay_pwd = #{params.upayPwd}
			</if>
			<if test="null != params.uimgid">
				AND u_imgid = #{params.uimgid}
			</if>
			<if test="null != params.utype">
				AND u_type = #{params.utype}
			</if>
			<if test="null != params.ufirstCommission">
				AND u_first_commission = #{params.ufirstCommission}
			</if>
			<if test="null != params.urecommendCommission">
				AND u_recommend_commission = #{params.urecommendCommission}
			</if>
			<if test="null != params.urechage">
				AND u_rechage = #{params.urechage}
			</if>
			<if test="null != params.ustatus">
				AND u_status = #{params.ustatus}
			</if>
			<if test="null != params.isDelete">
				AND is_delete = #{params.isDelete}
			</if>
			<if test="null != params.ucreateTimeBegin">
				AND u_create_time &gt;= #{params.ucreateTime}
			</if>
			<if test="null != params.ucreateTimeEnd">
				AND u_create_time &lt;= #{params.ucreateTime}
			</if>
			<if test="null != params.uisOld">
				AND u_is_old = #{params.uisOld}
			</if>
			<if test="null != params.uoldPwd">
				AND u_old_pwd = #{params.uoldPwd}
			</if>
			<if test="null != params.usex">
				AND u_sex = #{params.usex}
			</if>
			<if test="null != params.version">
				AND version = #{params.version}
			</if>
		</where>
	</sql>
	<!--分页查询 -->
	<select id="queryUserList" resultMap="rm_user_vo" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT
			u.u_id uid,
			u.u_account uaccount,
			u.u_phone uphone,
			u.u_email uemail,
			u.u_name uname,
			IFNULL(
				a.show_url,
				w.wau_headimgurl
			) heardUrl,
			u.u_type utype,
			u.u_status ustatus,
			u.u_create_time ucreateTime,
			u.u_sex usex,
			u.u_first_commission ufirstCommission,
			u.u_recommend_commission urecommendCommission,
			r.r_discount discount,
			ifnull(r.r_name,'普通会员') rechageNm,
			t.u_name uRecommendNm,
			p.u_total_wallet uTotalWallet,
			p.u_cur_wallet uCurWallet,
			p.u_total_consume consumeTotal,
			p.u_wallet_consume_total walletConsumeTotal,
			p.u_total_integral onLineConsumeTotal,
			w.wau_openid openId
		FROM
			t_user u
			LEFT JOIN t_user t ON t.u_id = u.u_recommend_id
			LEFT JOIN t_user_card_package p ON u.u_id = p.id
			LEFT JOIN t_wx_auth_user w ON u.u_id = w.wau_u_id
			LEFT JOIN t_recharge_history r ON u.u_rechage = r.r_id
			LEFT JOIN t_attachment a ON u.u_imgid = a.id
		WHERE u.is_delete=0
		<if test="null != params.loginNm and '' != params.loginNm">
			AND u.u_account = #{params.loginNm}
		</if>
		<if test="null != params.userNm and '' != params.userNm">
			AND u.u_name like concat('%', #{params.userNm} ,'%')
		</if>
		<if test="null != params.phone and '' != params.phone">
			AND u.u_phone = #{params.phone}
		</if>
		<if test="null != params.type">
			AND u.u_type = #{params.type}
		</if>
	</select>
	<!--添加平台会员 -->
	<insert id="saveUser" parameterType="com.retailers.dht.common.entity.User" useGeneratedKeys="true" keyProperty="uid">
		INSERT INTO t_user (
			u_recommend_id,u_account,u_phone,u_email,u_name,u_pwd,u_pay_pwd,u_imgid,u_type,u_first_commission,u_recommend_commission,u_rechage,u_status,is_delete,u_create_time,u_is_old,u_old_pwd,u_sex,version
		) VALUES
		(
			#{urecommendId,jdbcType=BIGINT},#{uaccount,jdbcType=VARCHAR},#{uphone,jdbcType=VARCHAR},#{uemail,jdbcType=VARCHAR},#{uname,jdbcType=VARCHAR},#{upwd,jdbcType=VARCHAR},#{upayPwd,jdbcType=VARCHAR},#{uimgid,jdbcType=BIGINT},#{utype,jdbcType=INTEGER},#{ufirstCommission,jdbcType=BIGINT},#{urecommendCommission,jdbcType=BIGINT},#{urechage,jdbcType=BIGINT},#{ustatus,jdbcType=INTEGER},#{isDelete,jdbcType=INTEGER},#{ucreateTime,jdbcType=TIMESTAMP},#{uisOld,jdbcType=INTEGER},#{uoldPwd,jdbcType=INTEGER},#{usex,jdbcType=INTEGER},0
		)
	</insert>
	<!--修改平台会员 -->
	<update id="updateUser" parameterType="com.retailers.dht.common.entity.User">
		UPDATE t_user
		<set>
			<if test="null != urecommendId">
				u_recommend_id = #{urecommendId},
			</if>
			<if test="null != uaccount and '' != uaccount">
				u_account = #{uaccount},
			</if>
			<if test="null != uphone and '' != uphone">
				u_phone = #{uphone},
			</if>
			<if test="null != uemail and '' != uemail">
				u_email = #{uemail},
			</if>
			<if test="null != uname and '' != uname">
				u_name = #{uname},
			</if>
			<if test="null != upwd and '' != upwd">
				u_pwd = #{upwd},
			</if>
			<if test="null != upayPwd and '' != upayPwd">
				u_pay_pwd = #{upayPwd},
			</if>
			<if test="null != uimgid">
				u_imgid = #{uimgid},
			</if>
			<if test="null != utype">
				u_type = #{utype},
			</if>
			<if test="null != ufirstCommission">
				u_first_commission = #{ufirstCommission},
			</if>
			<if test="null != urecommendCommission">
				u_recommend_commission = #{urecommendCommission},
			</if>
			<if test="null != urechage">
				u_rechage = #{urechage},
			</if>
			<if test="null != ustatus">
				u_status = #{ustatus},
			</if>
			<if test="null != isDelete">
				is_delete = #{isDelete},
			</if>
			<if test="null != ucreateTime">
				u_create_time = #{ucreateTime},
			</if>
			<if test="null != uisOld">
				u_is_old = #{uisOld},
			</if>
			<if test="null != uoldPwd">
				u_old_pwd = #{uoldPwd},
			</if>
			<if test="null != usex">
				u_sex = #{usex},
			</if>
			<if test="null != version">
				version = version+1,
			</if>
		</set>
		WHERE u_id = #{uid} and version = #{version}
	</update>
	<!--删除平台会员 -->
	<delete id="deleteUserByUid" parameterType="java.lang.Long">
		DELETE FROM t_user WHERE u_id = #{uid}
	</delete>
	<!-- 校验手机号是否存在-->
	<select id="checkPhone" resultMap="rm_user" parameterType="java.lang.String">
		SELECT <include refid="user_columns" />
		FROM t_user WHERE u_phone = #{phone}
	</select>

	<!-- 校验手机号是否存在-->
	<select id="queryLoginUserInfoView" resultMap="rm_user_info_view">
		SELECT
			u.u_id,
			u.u_recommend_id,
			u.u_account,
			u.u_phone,
			u.u_email,
			u.u_name,
			u.u_imgid,
			ifnull(
				a.show_url,
				wu.wau_headimgurl
			) headUrl,
			u.u_type,
			u.u_status,
			u.is_delete,
			u.u_create_time,
			u.u_is_old,
			u.u_old_pwd,
			u.u_sex,
			uc.u_total_integral,
			uc.u_total_wallet,
			uc.u_cur_wallet,
			uc.u_cur_integral,
			wu.wau_openid
		FROM
			t_user_card_package uc,
			t_user u
		LEFT JOIN t_wx_auth_user wu ON u.u_id = wu.wau_u_id
		AND wu.wau_wx_id = 1
		LEFT JOIN t_attachment a ON a.id = u.u_imgid
		WHERE
			uc.id = u.u_id
		AND u.u_id = #{uid}
	</select>

	<!--设置用户类型 -->
	<update id="editorUserType">
		UPDATE t_user
			SET
				u_type = #{utype},
				u_first_commission = #{ufirstCommission},
				u_recommend_commission = #{urecommendCommission},
				version = version+1
		WHERE u_id = #{uid} and version = #{version}
	</update>
	<!--修改会员类型 -->
	<update id="editorCustomerType">
		UPDATE t_user
		SET
		u_rechage=#{rechage}
		version = version+1
		WHERE u_id = #{uid} and version = #{version}
	</update>

</mapper>
