<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailers.dht.common.dao.UserShareMapper">

	<resultMap id="rm_userShare" type="com.retailers.dht.common.entity.UserShare">
			<result property="usId" column="us_id"/>
			<result property="uid" column="u_id"/>
			<result property="usWhere" column="us_where"/>
			<result property="createTime" column="create_time"/>
			<result property="isDelete" column="is_delete"/>
			<result property="version" column="version"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="userShare_columns">
		us_id,u_id,us_where,create_time,is_delete,version
	</sql>
	<!-- 根据分享记录表主键取得数据 -->
	<select id="queryUserShareByUsId" resultMap="rm_userShare" parameterType="java.lang.Long">
		SELECT <include refid="userShare_columns" />
		FROM t_user_share WHERE us_id = #{usId}
	</select>
	<!-- 分享记录表查询条件组合 -->
	<sql id="userShare_where">
		<where>
			<if test="null != params.usId">
				AND us_id = #{params.usId}
			</if>
			<if test="null != params.uid">
				AND u_id = #{params.uid}
			</if>
			<if test="null != params.usWhere and '' != params.usWhere">
				AND us_where = #{params.usWhere}
			</if>
			<if test="null != params.createTimeBegin">
				AND create_time &gt;= #{params.createTime}
			</if>
			<if test="null != params.createTimeEnd">
				AND create_time &lt;= #{params.createTime}
			</if>
			<if test="null != params.isDelete">
				AND is_delete = #{params.isDelete}
			</if>
			<if test="null != params.version">
				AND version = #{params.version}
			</if>
		</where>
	</sql>
	<!--分页查询 -->
	<select id="queryUserShareList" resultMap="rm_userShare" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT <include refid="userShare_columns" />
		FROM t_user_share
		<include refid="userShare_where"/>
	</select>
	<!--添加分享记录表 -->
	<insert id="saveUserShare" parameterType="com.retailers.dht.common.entity.UserShare" useGeneratedKeys="true" keyProperty="usId">
		INSERT INTO t_user_share (
			u_id,us_where,create_time,is_delete,version
		) VALUES
		(
			#{uid,jdbcType=BIGINT},#{usWhere,jdbcType=VARCHAR},#{createTime,jdbcType=DATE},#{isDelete,jdbcType=BIGINT},0
		)
	</insert>
	<!--修改分享记录表 -->
	<update id="updateUserShare" parameterType="com.retailers.dht.common.entity.UserShare">
		UPDATE t_user_share
		<set>
            <if test="null != uid">
                u_id = #{uid},
            </if>
            <if test="null != usWhere and '' != usWhere">
                us_where = #{usWhere},
            </if>
            <if test="null != createTime">
                create_time = #{createTime},
            </if>
            <if test="null != isDelete">
                is_delete = #{isDelete},
            </if>
            <if test="null != version">
                version = version+1,
            </if>
		</set>
		WHERE us_id = #{usId} and version = #{version}
	</update>
	<!--删除分享记录表 -->
	<delete id="deleteUserShareByUsId" parameterType="java.lang.Long">
		DELETE FROM t_user_share WHERE us_id = #{usId}
	</delete>
</mapper>
