<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailers.dht.common.dao.WalletCashBackQueueMapper">

	<resultMap id="rm_walletCashBackQueue" type="com.retailers.dht.common.entity.WalletCashBackQueue">
		<result property="ccbqId" column="ccbq_id"/>
		<result property="ccbqType" column="ccbq_type"/>
		<result property="ccbqOrderId" column="ccbq_order_id"/>
		<result property="ccbqRtnType" column="ccbq_rtn_type"/>
		<result property="ccbqUid" column="ccbq_uid"/>
		<result property="ccbqMoney" column="ccbq_money"/>
		<result property="ccbqTotalPrice" column="ccbq_total_price"/>
		<result property="ccbqStatus" column="ccbq_status"/>
		<result property="ccbqCreateTime" column="ccbq_create_time"/>
		<result property="ccbqCashBackTime" column="ccbq_cash_back_time"/>
		<result property="ccbqWaitTime" column="ccbq_wait_time"/>
		<result property="version" column="version"/>
	</resultMap>
	<resultMap id="rm_walletCashBackQueue_view" type="com.retailers.dht.common.view.WalletCashBackQueueView">
		<result property="ccbqId" column="ccbq_id"/>
		<result property="ccbqOrderId" column="ccbq_order_id"/>
		<result property="ccbqGid" column="ccbq_gid"/>
		<result property="ccbqGoodsType" column="ccbq_rtn_type"/>
		<result property="ccbqUid" column="ccbq_uid"/>
		<result property="ccbqMoney" column="ccbq_money"/>
		<result property="ccbqStatus" column="ccbq_status"/>
		<result property="ccbqCreateTime" column="ccbq_create_time"/>
		<result property="ccbqCashBackTime" column="ccbq_cash_back_time"/>
		<result property="ccbqWaitTime" column="ccbq_wait_time"/>
		<result property="userName" column="u_name"/>
		<result property="userHead" column="wau_headimgurl"/>
		<result property="orderNo" column="order_no"/>
		<result property="curCashQueue" column="curCashQueue"/>
		<result property="rownum" column="rownum"/>
		<result property="rtName" column="rt_name"/>
	</resultMap>

	<resultMap id="rm_userCashBackDetail_view" type="com.retailers.dht.common.view.UserCashBackDetailView">
		<result property="type" column="type"/>
		<result property="price" column="price"/>
	</resultMap>
	<!-- 用于select查询公用抽取的列 -->
	<sql id="walletCashBackQueue_columns">
		ccbq_id,ccbq_type,ccbq_order_id,ccbq_rtn_type,ccbq_uid,ccbq_money,ccbq_total_price,ccbq_status,ccbq_create_time,ccbq_cash_back_time,ccbq_wait_time,version
	</sql>
	<!-- 根据钱包消费返现(包括指定可返现商品类型）主键取得数据 -->
	<select id="queryWalletCashBackQueueByCcbqId" resultMap="rm_walletCashBackQueue" parameterType="java.lang.Long">
		SELECT <include refid="walletCashBackQueue_columns" />
		FROM t_wallet_cash_back_queue WHERE ccbq_id = #{ccbqId}
	</select>
	<!-- 钱包消费返现(包括指定可返现商品类型）查询条件组合 -->
	<sql id="walletCashBackQueue_where">
		<where>
			<if test="null != params.ccbqId">
				AND ccbq_id = #{params.ccbqId}
			</if>
			<if test="null != params.ccbqType">
				AND ccbq_type = #{params.ccbqType}
			</if>
			<if test="null != params.ccbqOrderId">
				AND ccbq_order_id = #{params.ccbqOrderId}
			</if>
			<if test="null != params.ccbqRtnType">
				AND ccbq_rtn_type = #{params.ccbqRtnType}
			</if>
			<if test="null != params.ccbqUid">
				AND ccbq_uid = #{params.ccbqUid}
			</if>
			<if test="null != params.ccbqMoney">
				AND ccbq_money = #{params.ccbqMoney}
			</if>
			<if test="null != params.ccbqStatus">
				AND ccbq_status = #{params.ccbqStatus}
			</if>
			<if test="null != params.ccbqCreateTimeBegin">
				AND ccbq_create_time &gt;= TO_DATE('${params.ccbqCreateTimeBegin}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.ccbqCreateTimeEnd">
				AND ccbq_create_time &lt;= TO_DATE('${params.ccbqCreateTimeEnd}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.ccbqCashBackTimeBegin">
				AND ccbq_cash_back_time &gt;= TO_DATE('${params.ccbqCashBackTimeBegin}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.ccbqCashBackTimeEnd">
				AND ccbq_cash_back_time &lt;= TO_DATE('${params.ccbqCashBackTimeEnd}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.ccbqWaitTime">
				AND ccbq_wait_time = #{params.ccbqWaitTime}
			</if>
			<if test="null != params.version">
				AND version = #{params.version}
			</if>
		</where>
	</sql>
	<!--分页查询 -->
	<select id="queryWalletCashBackQueueList" resultMap="rm_walletCashBackQueue" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT <include refid="walletCashBackQueue_columns" />
		FROM t_wallet_cash_back_queue
		<include refid="walletCashBackQueue_where"/>
	</select>
	<!--添加钱包消费返现(包括指定可返现商品类型） -->
	<insert id="saveWalletCashBackQueue" parameterType="com.retailers.dht.common.entity.WalletCashBackQueue" useGeneratedKeys="true" keyProperty="ccbqId">
		INSERT INTO t_wallet_cash_back_queue (
			ccbq_type,ccbq_order_id,ccbq_rtn_type,ccbq_uid,ccbq_money,ccbq_total_price,ccbq_status,ccbq_create_time,ccbq_cash_back_time,ccbq_wait_time,version
		) VALUES
		(
			#{ccbqType,jdbcType=INTEGER},#{ccbqOrderId,jdbcType=BIGINT},#{ccbqRtnType,jdbcType=BIGINT},#{ccbqUid,jdbcType=BIGINT},#{ccbqMoney,jdbcType=BIGINT},#{ccbqStatus,jdbcType=BIGINT},#{ccbqCreateTime,jdbcType=TIMESTAMP},#{ccbqCashBackTime,jdbcType=TIMESTAMP},#{ccbqWaitTime,jdbcType=BIGINT},0
		)
	</insert>
	<!--批量添加返现队列-->
	<insert id="saveWalletCashBackQueues" parameterType="com.retailers.dht.common.entity.WalletCashBackQueue" useGeneratedKeys="true" keyProperty="ccbqId">
		INSERT INTO t_wallet_cash_back_queue (
			ccbq_type,ccbq_order_id,ccbq_rtn_type,ccbq_uid,ccbq_money,ccbq_total_price,ccbq_status,ccbq_create_time,ccbq_cash_back_time,ccbq_wait_time,version
		) VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			(
				#{item.ccbqType,jdbcType=INTEGER},
				#{item.ccbqOrderId,jdbcType=BIGINT},
				#{item.ccbqRtnType,jdbcType=BIGINT},
				#{item.ccbqUid,jdbcType=BIGINT},
				#{item.ccbqMoney,jdbcType=BIGINT},
				#{item.ccbqTotalPrice,jdbcType=BIGINT},
				#{item.ccbqStatus,jdbcType=BIGINT},
				#{item.ccbqCreateTime,jdbcType=TIMESTAMP},
				#{item.ccbqCashBackTime,jdbcType=TIMESTAMP},
				#{item.ccbqWaitTime,jdbcType=BIGINT},
				0
			)
		</foreach>
	</insert>

	<!--批量添加日志-->
	<insert id="saveWalletCashBackQueuesLogs" parameterType="com.retailers.dht.common.entity.LogWalletCashBackQueue" useGeneratedKeys="true" keyProperty="ccbqId">
		INSERT INTO t_log_wallet_cash_back_queue (
			ccbq_type,ccbq_order_id,ccbq_od_id,ccbq_rtn_type,ccbq_uid,ccbq_money,ccbq_create_time
		) VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			(
				#{item.ccbqType,jdbcType=INTEGER},
				#{item.ccbqOrderId,jdbcType=BIGINT},
				#{item.ccbqOdId,jdbcType=BIGINT},
				#{item.ccbqRtnType,jdbcType=BIGINT},
				#{item.ccbqUid,jdbcType=BIGINT},
				#{item.ccbqMoney,jdbcType=BIGINT},
				#{item.ccbqCreateTime,jdbcType=TIMESTAMP}
			)
		</foreach>
	</insert>
	<!--修改钱包消费返现(包括指定可返现商品类型） -->
	<update id="updateWalletCashBackQueue" parameterType="com.retailers.dht.common.entity.WalletCashBackQueue">
		UPDATE t_wallet_cash_back_queue
		<set>
			<if test="null != ccbqType">
				ccbq_type = #{ccbqType},
			</if>
			<if test="null != ccbqOrderId">
				ccbq_order_id = #{ccbqOrderId},
			</if>
			<if test="null != ccbqRtnType">
				ccbq_rtn_type = #{ccbqRtnType},
			</if>
			<if test="null != ccbqUid">
				ccbq_uid = #{ccbqUid},
			</if>
			<if test="null != ccbqMoney">
				ccbq_money = #{ccbqMoney},
			</if>
			<if test="null != ccbqStatus">
				ccbq_status = #{ccbqStatus},
			</if>
			<if test="null != ccbqCreateTime">
				ccbq_create_time = #{ccbqCreateTime},
			</if>
			<if test="null != ccbqCashBackTime">
				ccbq_cash_back_time = #{ccbqCashBackTime},
			</if>
			<if test="null != ccbqWaitTime">
				ccbq_wait_time = #{ccbqWaitTime},
			</if>
			<if test="null != version">
				version = version+1,
			</if>
		</set>
		WHERE ccbq_id = #{ccbqId} and version = #{version}
	</update>
	<!--删除钱包消费返现(包括指定可返现商品类型） -->
	<delete id="deleteWalletCashBackQueueByCcbqId" parameterType="java.lang.Long">
		DELETE FROM t_wallet_cash_back_queue WHERE ccbq_id = #{ccbqId}
	</delete>


	<!--分页查询 -->
	<select id="queryWalletCashBackQueuePage" resultMap="rm_walletCashBackQueue_view" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT
			r.rownum,
			IFNULL(c.curCashQueue ,- 1) curCashQueue,
			wc.ccbq_id,
			ccbq_type,
			ccbq_order_id,
			ccbq_rtn_type,
			ccbq_uid,
			ccbq_money,
			ccbq_status,
			ccbq_create_time,
			ccbq_cash_back_time,
			ccbq_wait_time,
			u.u_name,
			wu.wau_headimgurl,
			o.order_no
		FROM
			t_wallet_cash_back_queue wc
		LEFT JOIN (
			SELECT
				@curCashRowNum := @curCashRowNum + 1 AS curCashQueue,
				d.ccbq_id
			FROM
				(SELECT @curCashRowNum := 0) r,
				(
					SELECT
						ccbq_id
					FROM
						t_wallet_cash_back_queue wc
					WHERE
						ccbq_status != 2
					AND ccbq_rtn_type =#{params.gcId}
					ORDER BY
						ccbq_id ASC
				) d
		) c ON wc.ccbq_id = c.ccbq_id
		LEFT JOIN (
			SELECT
				@rownum := @rownum + 1 AS rownum,
				d.ccbq_id
			FROM
				(SELECT @rownum := 0) r,
				(
					SELECT
						ccbq_id
					FROM
						t_wallet_cash_back_queue wc
					WHERE
						ccbq_rtn_type = #{params.gcId}
					ORDER BY
						ccbq_id ASC
				) d
		) r ON wc.ccbq_id = r.ccbq_id
		LEFT JOIN t_order o ON wc.ccbq_order_id = o.id,
		 t_user u
		LEFT JOIN t_wx_auth_user wu ON u.u_id = wu.wau_u_id
		WHERE
			wc.ccbq_uid = u.u_id
		AND ccbq_rtn_type = #{params.gcId}
		<if test="null != params.type">
			<if test="params.type==0">
				AND wc.ccbq_status=2
			</if>
			<if test="params.type==1">
				AND wc.ccbq_status!=2
			</if>
		</if>
		<if test="null != params.phone and ''!=params.phone">
			AND u.u_phone=#{params.phone}
		</if>
		<if test="null != params.userNm and ''!=params.userNm">
			AND u.u_name=#{params.userNm}
		</if>
		ORDER BY
			ccbq_id ASC
	</select>
	<select id="queryWalletCashBackQueues" resultMap="rm_walletCashBackQueue_view" parameterType="java.lang.Long">
		SELECT
			r.rownum,
			IFNULL(c.curCashQueue,-1) curCashQueue,
			wc.ccbq_id,
			ccbq_type,
			ccbq_order_id,
			ccbq_rtn_type,
			ccbq_uid,
			ccbq_money,
			ccbq_status,
			ccbq_create_time,
			ccbq_cash_back_time,
			ccbq_wait_time,
			u.u_name,
			wu.wau_headimgurl,
			o.order_no
		FROM
			t_wallet_cash_back_queue wc
		LEFT JOIN (
			SELECT
				@curCashRowNum := @curCashRowNum + 1 AS curCashQueue,
				d.ccbq_id
			FROM
				(SELECT @curCashRowNum := 0) r,
				(
					SELECT
						ccbq_id
					FROM
						t_wallet_cash_back_queue wc
					WHERE
						ccbq_status != 2
						AND ccbq_rtn_type = #{gcId}
					ORDER BY
						ccbq_id ASC
				) d
		) c ON wc.ccbq_id = c.ccbq_id
		LEFT JOIN (
			SELECT
				@rownum := @rownum + 1 AS rownum,
				d.ccbq_id
			FROM
				(SELECT @rownum := 0) r,
				(
					SELECT
						ccbq_id
					FROM
						t_wallet_cash_back_queue wc
						WHERE
						 ccbq_rtn_type = #{gcId}
					ORDER BY
						ccbq_id ASC
				) d
		) r ON wc.ccbq_id = r.ccbq_id
		LEFT JOIN t_order o ON wc.ccbq_order_id = o.id,
		 t_user u
		LEFT JOIN t_wx_auth_user wu ON u.u_id = wu.wau_u_id
		WHERE
			wc.ccbq_uid = u.u_id
		AND ccbq_rtn_type = #{gcId}
		ORDER BY
			ccbq_id ASC
	</select>

	<!--取得用户排名公式 -->
	<select id="queryUserRankingLists" resultMap="rm_walletCashBackQueue_view">
		SELECT
			r.curCashQueue,
			wc.ccbq_id,
			wc.ccbq_type,
			ccbq_order_id,
			wc.ccbq_rtn_type,
			ccbq_uid,
			ccbq_money,
			ccbq_status,
			ccbq_create_time,
			ccbq_cash_back_time,
			ccbq_wait_time,
			u.u_name,
			wu.wau_headimgurl,
			o.order_no,
			rl.rt_name
		FROM
			t_wallet_cash_back_queue wc
		LEFT JOIN (
			SELECT
				CASE
			WHEN ccbq_rtn_type =@lastType THEN
				@curCashRowNum := @curCashRowNum + 1
			ELSE
				@curCashRowNum := 1
			END curCashQueue,
			@lastType := d.ccbq_rtn_type AS lastType,
			d.ccbq_rtn_type,
			d.ccbq_id
		FROM
			(SELECT @curCashRowNum := 0) r,
			(SELECT @lastType := NULL) t,
			(
				SELECT
					ccbq_id,
					ccbq_rtn_type
				FROM
					t_wallet_cash_back_queue wc
				WHERE
					<foreach collection="types" item="item" index="index" separator=" or " open="(" close=")">
						wc.ccbq_status=#{item}
					</foreach>
				ORDER BY
					ccbq_rtn_type DESC,
					ccbq_id ASC
			) d
		) r ON wc.ccbq_id = r.ccbq_id
		AND wc.ccbq_rtn_type = r.ccbq_rtn_type
		LEFT JOIN t_order o ON wc.ccbq_order_id = o.id,
		 t_user u
		LEFT JOIN t_wx_auth_user wu ON u.u_id = wu.wau_u_id,
		 t_return_list rl
		WHERE
			wc.ccbq_uid = u.u_id
		AND wc.ccbq_rtn_type = rl.rt_id
		AND wc.ccbq_uid=#{sUid}
		AND
		<foreach collection="types" item="item" index="index" separator=" or " open="(" close=")">
			wc.ccbq_status=#{item}
		</foreach>
		ORDER BY
			ccbq_rtn_type DESC,
			ccbq_id ASC
	</select>

	<select id="queryUserCashBackDetail" resultMap="rm_userCashBackDetail_view">
		SELECT
			'cashTotal' type,
			u_cash_total_price price
		FROM
			t_user_card_package
		WHERE
			id = #{sUid}
		UNION
		SELECT
			'cash' type,
			u_cash_total_price-u_cash_cur_price price
		FROM
			t_user_card_package
		WHERE
			id = #{sUid}
		UNION
		SELECT
			'waitCash' type,
			u_cash_cur_price price
		FROM
			t_user_card_package
		WHERE
			id = #{sUid}
		UNION
		SELECT
			'unCash' type,
			ifnull(sum(ccbq_money),0) price
		FROM
			t_wallet_cash_back_queue
		WHERE
			ccbq_uid = #{sUid}
			AND ccbq_status=2
			AND ccbq_cash_back_time>=#{data}
	</select>

	<select id="queryRtnCondtionDatas" resultMap="rm_walletCashBackQueue">
		SELECT
		*
		FROM
		t_wallet_cash_back_queue q
		WHERE
			<foreach collection="infos" item="item" index="index" separator="or"  >
				(
					ccbq_rtn_type = #{item.rtnType}
					AND ccbq_total_price * #{multiple} &lt;=  #{item.totalPrice}
					AND q.ccbq_status != 2
				)
			</foreach>
		ORDER BY
		ccbq_rtn_type ASC,
		ccbq_id ASC
	</select>

	<!--修改钱包消费返现(包括指定可返现商品类型） -->
	<update id="editorWalletCashBack">
		UPDATE t_wallet_cash_back_queue
		<set>
			ccbq_status = 2,
			ccbq_cash_back_time = sysdate(),
			ccbq_wait_time=timestampdiff(minute,ccbq_create_time,sysdate()),
			version=version+1
		</set>
		WHERE
		ccbq_id in
		<foreach collection="list" item="item" index="index" separator="," open="(" close=")"  >
			#{item}
		</foreach>
	</update>

	<!--分页查询 -->
	<select id="queryWalletCashBackQueueByOid" resultMap="rm_walletCashBackQueue">
		SELECT <include refid="walletCashBackQueue_columns" />
		FROM t_wallet_cash_back_queue
		WHERE  ccbq_order_id = #{orderId}
	</select>

	<!--删除钱包消费返现(包括指定可返现商品类型） -->
	<delete id="clearWalletCashBackQueueByIds">
		DELETE FROM t_wallet_cash_back_queue WHERE ccbq_id IN
		<foreach collection="list" item="item" index="index" separator="," open="(" close=")"  >
			#{item}
		</foreach>
	</delete>
	<!--初始化提成中累计达成条件 -->
	<update id="initWalletCashBackQueuePrice">
		UPDATE t_wallet_cash_back_queue q,
			(
			SELECT
			d.ccbq_id,
			CASE
			WHEN ccbq_rtn_type =@lastType THEN
			@curCashRowNum := @curCashRowNum + d.ccbq_money
			ELSE
			@curCashRowNum := d.ccbq_money
			END curCashQueue,
			@lastType := d.ccbq_rtn_type AS lastType,
			d.ccbq_rtn_type,
			d.ccbq_money
			FROM
			(SELECT @curCashRowNum := 0) r,
			(SELECT @lastType := NULL) t,
			(
			SELECT
			ccbq_id,
			ccbq_rtn_type,
			ccbq_money
			FROM
			t_wallet_cash_back_queue wc
			ORDER BY
			ccbq_rtn_type DESC,
			ccbq_id ASC
			) d
			) t
			SET q.ccbq_total_price = t.curCashQueue
			WHERE
			q.ccbq_id = t.ccbq_id
	</update>
</mapper>
