<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailers.wx.common.dao.WxManagerMapper">

	<resultMap id="rm_wxManager" type="com.retailers.wx.common.entity.WxManager">
			<result property="wxId" column="wx_id"/>
			<result property="wxName" column="wx_name"/>
			<result property="wxOriginalId" column="wx_original_id"/>
			<result property="wxType" column="wx_type"/>
			<result property="appId" column="app_id"/>
			<result property="appSecret" column="app_secret"/>
			<result property="wxDomainName" column="wx_domain_name"/>
			<result property="wxDomainUrl" column="wx_domain_url"/>
			<result property="wxToken" column="wx_token"/>
			<result property="createUid" column="create_uid"/>
			<result property="createTime" column="create_time"/>
			<result property="isDelete" column="is_delete"/>
			<result property="isValid" column="is_valid"/>
			<result property="version" column="version"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="wxManager_columns">
		wx_id,wx_name,wx_original_id,wx_type,app_id,app_secret,wx_domain_name,wx_domain_url,wx_token,create_uid,create_time,is_delete,is_valid,version
	</sql>
	<!-- 根据公众号管理主键取得数据 -->
	<select id="queryWxManagerByWxId" resultMap="rm_wxManager" parameterType="java.lang.Long">
		SELECT <include refid="wxManager_columns" />
		FROM t_wx_manager WHERE wx_id = #{wxId}
	</select>
	<!-- 公众号管理查询条件组合 -->
	<sql id="wxManager_where">
		<where>
			<if test="null != params.wxId">
				AND wx_id = #{params.wxId}
			</if>
			<if test="null != params.wxName and '' != params.wxName">
				AND wx_name = #{params.wxName}
			</if>
			<if test="null != params.wxOriginalId and '' != params.wxOriginalId">
				AND wx_original_id = #{params.wxOriginalId}
			</if>
			<if test="null != params.wxType and ''!= params.wxType">
				AND wx_type = #{params.wxType}
			</if>
			<if test="null != params.appId and '' != params.appId">
				AND app_id = #{params.appId}
			</if>
			<if test="null != params.appSecret and '' != params.appSecret">
				AND app_secret = #{params.appSecret}
			</if>
			<if test="null != params.wxDomainName and '' != params.wxDomainName">
				AND wx_domain_name = #{params.wxDomainName}
			</if>
			<if test="null != params.wxDomainUrl and '' != params.wxDomainUrl">
				AND wx_domain_url = #{params.wxDomainUrl}
			</if>
			<if test="null != params.wxToken and '' != params.wxToken">
				AND wx_token = #{params.wxToken}
			</if>
			<if test="null != params.createUid">
				AND create_uid = #{params.createUid}
			</if>
			<if test="null != params.createTimeBegin">
				AND create_time &gt;= TO_DATE('${params.createTimeBegin}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.createTimeEnd">
				AND create_time &lt;= TO_DATE('${params.createTimeEnd}','yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="null != params.isDelete">
				AND is_delete = #{params.isDelete}
			</if>
			<if test="null != params.isValid">
				AND is_valid = #{params.isValid}
			</if>
			<if test="null != params.version">
				AND version = #{params.version}
			</if>
		</where>
	</sql>
	<!--分页查询 -->
	<select id="queryWxManagerList" resultMap="rm_wxManager" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT <include refid="wxManager_columns" />
		FROM t_wx_manager
		<include refid="wxManager_where"/>
	</select>
	<!--添加公众号管理 -->
	<insert id="saveWxManager" parameterType="com.retailers.wx.common.entity.WxManager" useGeneratedKeys="true" keyProperty="wxId">
		INSERT INTO t_wx_manager (
			wx_name,wx_original_id,wx_type,app_id,app_secret,wx_domain_name,wx_domain_url,wx_token,create_uid,create_time,is_delete,is_valid,version
		) VALUES
		(
			#{wxName,jdbcType=VARCHAR},#{wxOriginalId,jdbcType=VARCHAR},#{wxType,jdbcType=VARCHAR},#{appId,jdbcType=VARCHAR},#{appSecret,jdbcType=VARCHAR},#{wxDomainName,jdbcType=VARCHAR},#{wxDomainUrl,jdbcType=VARCHAR},#{wxToken,jdbcType=VARCHAR},#{createUid,jdbcType=BIGINT},#{createTime,jdbcType=TIMESTAMP},#{isDelete,jdbcType=INTEGER},#{isValid,jdbcType=INTEGER},0
		)
	</insert>
	<!--修改公众号管理 -->
	<update id="updateWxManager" parameterType="com.retailers.wx.common.entity.WxManager">
		UPDATE t_wx_manager
		<set>
            <if test="null != wxName and '' != wxName">
                wx_name = #{wxName},
            </if>
            <if test="null != wxOriginalId and '' != wxOriginalId">
                wx_original_id = #{wxOriginalId},
            </if>
            <if test="null != wxType and ''!=wxType">
                wx_type = #{wxType},
            </if>
            <if test="null != appId and '' != appId">
                app_id = #{appId},
            </if>
            <if test="null != appSecret and '' != appSecret">
                app_secret = #{appSecret},
            </if>
            <if test="null != wxDomainName and '' != wxDomainName">
                wx_domain_name = #{wxDomainName},
            </if>
            <if test="null != wxDomainUrl and '' != wxDomainUrl">
                wx_domain_url = #{wxDomainUrl},
            </if>
            <if test="null != wxToken and '' != wxToken">
                wx_token = #{wxToken},
            </if>
            <if test="null != createUid">
                create_uid = #{createUid},
            </if>
            <if test="null != createTime">
                create_time = #{createTime},
            </if>
            <if test="null != isDelete">
                is_delete = #{isDelete},
            </if>
            <if test="null != isValid">
                is_valid = #{isValid},
            </if>
            <if test="null != version">
                version = version+1,
            </if>
		</set>
		WHERE wx_id = #{wxId} and version = #{version}
	</update>
	<!--删除公众号管理 -->
	<delete id="deleteWxManagerByWxId" parameterType="java.lang.Long">
		DELETE FROM t_wx_manager WHERE wx_id = #{wxId}
	</delete>

	<!-- 根据公众号管理主键取得数据 -->
	<select id="queryCurUsedWx" resultMap="rm_wxManager">
		SELECT * FROM t_wx_manager where is_delete =0 and is_valid=0 order by wx_id DESC LIMIT 1
	</select>
</mapper>
