<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailers.hnc.common.dao.EmployeeManageMapper">

	<resultMap id="rm_employeeManage" type="com.retailers.hnc.common.entity.EmployeeManage">
			<result property="emId" column="em_id"/>
			<result property="emName" column="em_name"/>
			<result property="emSex" column="em_sex"/>
			<result property="emEntryTime" column="em_entry_time"/>
			<result property="emType" column="em_type"/>
			<result property="emTeam" column="em_team"/>
			<result property="emPosition" column="em_position"/>
			<result property="emPhone" column="em_phone"/>
			<result property="wxPhone" column="wx_phone"/>
			<result property="emIdCard" column="em_id_card"/>
			<result property="emRemoveTime" column="em_remove_time"/>
			<result property="emInfo" column="em_info"/>
			<result property="isShow" column="is_show"/>
			<result property="isDelete" column="is_delete"/>
			<result property="emOrder" column="em_order"/>
			<result property="version" column="version"/>
	</resultMap>

	<resultMap id="rm_employeeManageVo" type="com.retailers.hnc.common.vo.EmployeeManageVo">
		<result property="emId" column="em_id"/>
		<result property="emName" column="em_name"/>
		<result property="emSex" column="em_sex"/>
		<result property="emType" column="em_type"/>
		<result property="emEntryTime" column="em_entry_time"/>
		<result property="emTeam" column="em_team"/>
		<result property="emPosition" column="em_position"/>
		<result property="emPhone" column="em_phone"/>
		<result property="wxPhone" column="wx_phone"/>
		<result property="emIdCard" column="em_id_card"/>
		<result property="emRemoveTime" column="em_remove_time"/>
		<result property="emInfo" column="em_info"/>
		<result property="isShow" column="is_show"/>
		<result property="isDelete" column="is_delete"/>
		<result property="emOrder" column="em_order"/>
		<result property="version" column="version"/>
		<result property="headImgUrl" column="headImgUrl"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="employeeManage_columns">
		em_id,em_name,em_sex,em_entry_time,em_type,em_team,em_position,em_phone,wx_phone,em_id_card,em_remove_time,em_info,is_show,is_delete,em_order,version
	</sql>
	<!-- 根据置业顾问主键取得数据 -->
	<select id="queryEmployeeManageByEmId" resultMap="rm_employeeManage" parameterType="java.lang.Long">
		SELECT <include refid="employeeManage_columns" />
		FROM t_employee_manage WHERE em_id = #{emId}
	</select>
	<!-- 置业顾问查询条件组合 -->
	<sql id="employeeManage_where">
		<where>
			<if test="null != params.emId">
				AND t1.em_id = #{params.emId}
			</if>
			<if test="null != params.emName and '' != params.emName">
				AND t1.em_name = #{params.emName}
			</if>
			<if test="null != params.emSex">
				AND t1.em_sex = #{params.emSex}
			</if>
			<if test="null != params.emEntryTimeBegin">
				AND t1.em_entry_time &gt;= #{params.emEntryTime}
			</if>
			<if test="null != params.emEntryTimeEnd">
				AND t1.em_entry_time &lt;= #{params.emEntryTime}
			</if>
			<if test="null != params.emType">
				AND t1.em_type = #{params.emType}
			</if>
			<if test="null != params.emTeam">
				AND t1.em_team = #{params.emTeam}
			</if>
			<if test="null != params.emPosition and '' != params.emPosition">
				AND t1.em_position = #{params.emPosition}
			</if>
			<if test="null != params.emPhone and '' != params.emPhone">
				AND t1.em_phone = #{params.emPhone}
			</if>
			<if test="null != params.wxPhone and '' != params.wxPhone">
				AND t1.wx_phone = #{params.wxPhone}
			</if>
			<if test="null != params.emIdCard and '' != params.emIdCard">
				AND t1.em_id_card = #{params.emIdCard}
			</if>
			<if test="null != params.emRemoveTimeBegin">
				AND t1.em_remove_time &gt;= #{params.emRemoveTime}
			</if>
			<if test="null != params.emRemoveTimeEnd">
				AND t1.em_remove_time &lt;= #{params.emRemoveTime}
			</if>
			<if test="null != params.emInfo and '' != params.emInfo">
				AND t1.em_info = #{params.emInfo}
			</if>
			<if test="null != params.isShow">
				AND t1.is_show = #{params.isShow}
			</if>
			<if test="null != params.isDelete">
				AND t1.is_delete = #{params.isDelete}
			</if>
			<if test="null != params.emOrder">
				AND t1.em_order = #{params.emOrder}
			</if>
			<if test="null != params.version">
				AND t1.version = #{params.version}
			</if>
		</where>
	</sql>
	<!--分页查询 -->
	<select id="queryEmployeeManageList" resultMap="rm_employeeManageVo" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT <include refid="employeeManage_columns" />
		FROM t_employee_manage t1
		<include refid="employeeManage_where"/>
	</select>

	<select id="queryFrstEmployeeManageList" resultMap="rm_employeeManageVo" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT <include refid="employeeManage_columns" />,t3.wau_headimgurl headImgUrl
		FROM t_employee_manage t1
		LEFT JOIN t_client_manage t2 ON t1.wx_phone=t2.tm_phone and t2.is_delete=0
		LEFT JOIN t_wx_auth_user t3 ON t2.tm_id=t3.wau_u_id
		<include refid="employeeManage_where"/>
	</select>

	<select id="queryEmployeeManageByNotInPhone" resultMap="rm_employeeManageVo" parameterType="com.retailers.mybatis.pagination.Pagination">
		SELECT
		t1.*,
		t3.wau_headimgurl headImgUrl
		FROM
		t_employee_manage t1
		LEFT JOIN t_client_manage t2 ON t1.wx_phone=t2.tm_phone and t2.is_delete=0
		LEFT JOIN t_wx_auth_user t3 ON t2.tm_id=t3.wau_u_id
		WHERE
		t1.is_delete=0
		and t1.em_type=1
		and t1.em_id !=#{params.eid}
	</select>
	<!--添加置业顾问 -->
    <insert id="saveEmployeeManage" parameterType="com.retailers.hnc.common.entity.EmployeeManage" useGeneratedKeys="true" keyProperty="emId">
		INSERT INTO t_employee_manage (
			em_id,em_name,em_sex,em_entry_time,em_type,em_team,em_position,em_phone,wx_phone,em_id_card,em_remove_time,em_info,is_show,is_delete,em_order,version
		) VALUES
		(
			#{emId,jdbcType=BIGINT},#{emName,jdbcType=VARCHAR},#{emSex,jdbcType=INTEGER},#{emEntryTime,jdbcType=TIMESTAMP},#{emType,jdbcType=INTEGER},#{emTeam,jdbcType=BIGINT},#{emPosition,jdbcType=VARCHAR},#{emPhone,jdbcType=VARCHAR},#{wxPhone,jdbcType=VARCHAR},#{emIdCard,jdbcType=VARCHAR},#{emRemoveTime,jdbcType=TIMESTAMP},#{emInfo,jdbcType=VARCHAR},#{isShow,jdbcType=INTEGER},#{isDelete,jdbcType=INTEGER},#{emOrder,jdbcType=BIGINT},0
		)
	</insert>
	<!--修改置业顾问 -->
	<update id="updateEmployeeManage" parameterType="com.retailers.hnc.common.entity.EmployeeManage">
		UPDATE t_employee_manage
		<set>
            <if test="null != emName and '' != emName">
                em_name = #{emName},
            </if>
            <if test="null != emSex">
                em_sex = #{emSex},
            </if>
            <if test="null != emEntryTime">
                em_entry_time = #{emEntryTime},
            </if>
            <if test="null != emType">
                em_type = #{emType},
            </if>
            <if test="null != emTeam">
                em_team = #{emTeam},
            </if>
            <if test="null != emPosition and '' != emPosition">
                em_position = #{emPosition},
            </if>
            <if test="null != emPhone and '' != emPhone">
                em_phone = #{emPhone},
            </if>
            <if test="null != wxPhone and '' != wxPhone">
                wx_phone = #{wxPhone},
            </if>
            <if test="null != emIdCard and '' != emIdCard">
                em_id_card = #{emIdCard},
            </if>
            <if test="null != emRemoveTime">
                em_remove_time = #{emRemoveTime},
            </if>
            <if test="null != emInfo and '' != emInfo">
                em_info = #{emInfo},
            </if>
            <if test="null != isShow">
                is_show = #{isShow},
            </if>
            <if test="null != isDelete">
                is_delete = #{isDelete},
            </if>
            <if test="null != emOrder">
                em_order = #{emOrder},
            </if>
            <if test="null != version">
                version = version+1,
            </if>
		</set>
		WHERE em_id = #{emId} and version = #{version}
	</update>
	<!--删除置业顾问 -->
	<delete id="deleteEmployeeManageByEmId" parameterType="java.lang.Long">
		DELETE FROM t_employee_manage WHERE em_id = #{emId}
	</delete>


	<!--查询当天登记的客户-->
	<select id="queryCurRegisterClient" resultType="java.lang.Integer" parameterType="java.lang.Long">
		select count(*) from t_client_manage where tm_employee = #{emId} and tm_register_time = curdate()
	</select>

	<!--查询所有登记过的客户-->
	<select id="queryRegisterClient" resultType="java.lang.Integer" parameterType="java.lang.Long">
		select count(*) from t_client_manage where tm_employee = #{emId}
	</select>

	<select id="queryAllEmployee" resultMap="rm_employeeManage">
		select * from t_employee_manage where is_delete = 0
	</select>
</mapper>
